{% load static %}


<ul>
    <li>
        <a href="javascript:;" class="anchor{% if 'place_description' in completed_menus %} left_active{% endif %} side-link-anchor">
        <i class="fa fa-file-text-o"></i> 1. 详细介绍&nbsp;&nbsp;
        <img id="i_desc" src="{% static 'img/tick.png' %}" class="listspace_green_tick{% if active_menu != 'place_description'%} hidden{% endif %}">
    </a>
    </li>
    <li>
        <a href="javascript:;" class="anchor{% if 'contact_details' in completed_menus %} left_active{% endif %} side-link-anchor">
            <i class="fa fa-phone"></i> 2. 联系方式&nbsp;&nbsp;
            <img id="i_con" src="{% static 'img/tick.png' %}" class="listspace_green_tick{% if active_menu != 'contact_details'%} hidden{% endif %}">
        </a>
    </li>
    <li>
        <a href="javascript:;" class="anchor{% if 'place_amenties' in completed_menus %} left_active{% endif %} side-link-anchor">
            <i class="fa fa-home"></i> 3. 物业配置&nbsp;&nbsp;
            <img id="i_am" src="{% static 'img/tick.png' %}" class="listspace_green_tick{% if active_menu != 'place_amenties'%} hidden{% endif %}">
        </a>
    </li>
    <li>
        <a href="javascript:;" class="anchor{% if 'add_location' in completed_menus %} left_active{% endif %} side-link-anchor">
            <i class="fa fa-map-marker_sub"></i> 4. 地点&nbsp;&nbsp;
            <img id="i_loc" src="{% static 'img/tick.png' %}" class="listspace_green_tick{% if active_menu != 'add_location'%} hidden{% endif %}">
        </a>
    </li>
    <li>
        <a href="javascript:;" class="anchor{% if 'add_meeting_rooms' in completed_menus %} left_active{% endif %} side-link-anchor">
            <i class="fa fa-users_sub"></i> 5. 会议室&nbsp;&nbsp;
            <img id="i_rooms" src="{% static 'img/tick.png' %}" class="listspace_green_tick{% if active_menu != 'add_meeting_rooms'%} hidden{% endif %}">
        </a>
    </li>
    <li>
        <a href="javascript:;" class="anchor{% if 'add_opening_hours' in completed_menus %} left_active{% endif %} side-link-anchor">
            <i class="fa fa-clock-o"></i> 6. 营业时间&nbsp;&nbsp;
            <img id="i_hours" src="{% static 'img/tick.png' %}" class="listspace_green_tick{% if active_menu != 'add_opening_hours'%} hidden{% endif %}">
        </a>
    </li>
    <li>
        <a href="javascript:;" class="anchor{% if 'add_place_size' in completed_menus %} left_active{% endif %} side-link-anchor">
            <i class="fa fa-crosshairs"></i> 7. 场地面积&nbsp;&nbsp;
            <img id="i_size" src="{% static 'img/tick.png' %}" class="listspace_green_tick{% if active_menu != 'add_place_size'%} hidden{% endif %}">
        </a>
    </li>
    <li>
        <a href="javascript:;" class="anchor{% if 'add_photos' in completed_menus %} left_active{% endif %} side-link-anchor">
            <i class="fa fa-camera"></i> 8. 照片&nbsp;&nbsp;
            <img id="i_photos" src="{% static 'img/tick.png' %}" class="listspace_green_tick{% if active_menu != 'add_photos'%} hidden{% endif %}">
        </a>
    </li>
    <li>
        <a href="javascript:;" class="anchor{% if 'add_payment_methods' in completed_menus %} left_active{% endif %} side-link-anchor">
            <span class="sp_pm">
        <i class="fa fa-usd"></i> 9. 支付方式&nbsp;&nbsp;
        <img id="i_mp" src="{% static 'img/tick.png' %}" class="listspace_green_tick{% if active_menu != 'add_payment_methods'%} hidden{% endif %}"></span>
        </a>
    </li>
    <li>
        <a href="javascript:;" class="anchor{% if 'add_desk_price' in completed_menus %} left_active{% endif %} side-link-anchor">
            <span class="sp_pm">
        <i class="fa fa-usd"></i> 10. 办公桌价格&nbsp;&nbsp;
        <img id="i_price" src="{% static 'img/tick.png' %}" class="listspace_green_tick{% if active_menu != 'add_desk_price'%} hidden{% endif %}"></span>
        </a>
    </li>
    <li>
        <a href="javascript:;" class="anchor side-link-anchor" id="11" onclick="jumpToTab(11);">
            <span class="sp_pp">
        <i class="fa fa-usd"></i> 11. 私人办公室价格&nbsp;&nbsp;
        <img id="i_office" src="{% static 'img/tick.png' %}" style="display:none;" class="listspace_green_tick"></span>
        </a>
    </li>
    <li>
        <a href="javascript:;" class="anchor side-link-anchor" id="12" onclick="jumpToTab(12);">
            <i class="fa fa-bolt"></i> 12. 促销活动&nbsp;&nbsp;
            <img id="i_marketing" src="{% static 'img/tick.png' %}" style="display:none;" class="listspace_green_tick">
        </a>
    </li>
</ul>
