{% load static %}
{% load i18n %}
<h3>照片上传</h3>
<p>我们建议您提供专业摄影师拍摄的照片。</p>
<!--<div class="col-xs-12 pade_none dragdrop_con"></div>-->
<div class="col-xs-12 pade_none header_photo_main">
    <div class="col-xs-12 pade_none header_photo_size photos_red_content">
        <p>封面<br><span>尺寸：1920px（宽）</span></p>


    </div>
    <div class="col-xs-12 pade_none cowork_clipboard_panel">
  <span>
  <a href="https://www.coworker.com/list-space/continue#"><img src="{% static 'img/add_tool.png' %}" alt="pic"></a>
  <a href="https://www.coworker.com/list-space/continue#"><img src="{% static 'img/subtract_tool.png' %}" alt="pic"></a>
  <a href="https://www.coworker.com/list-space/continue#"><img src="{% static 'img/crop_tool.png' %}" alt="pic"></a>
  <a href="https://www.coworker.com/list-space/continue#"><img src="{% static 'img/close_tool.png' %}" alt="pic"></a>
  </span>
    </div>
    <div class="col-xs-12 pade_none">
        <div id="cropContainerEyecandy"></div>
        <div id="cropContainerHeaderDiv">
            <span id="cropContainerHeaderButton" class="btn">点击上传</span>
        </div>
    </div>

    <div class="col-xs-12 pade_none header_photo_size header_upload_picc">
        <p>上传后，点击<img src="{% static 'img/crop_img.png' %}" style="height: 25px;"> 里的按钮，您可以随意放大、缩小、裁剪照片，达到理想的显示效果</p>
    </div>

    <div class="col-xs-12 pade_none room_lft form-group has-error">
        <small id="img_error" class="help-block" style="display:none;">必须: 请上传封面</small>
    </div>
</div>
<div class="col-xs-12 pade_none header_photo_main">
    <div class=" col-xs-12 pade_none header_photo_size photos_red_content"><p>附加图片<br><span>最少需添加5张，最多可添加20张；图片所占内存不得超过3MB</span></p></div>
    <div class="col-xs-12 pade_none header_photo_size">
        <div id="spaceAdditional" class="dz-clickable dropzone">
            <div class="dz-message needsclick">拖拽至此或点击上传</div>
        </div>
        <small id="thumbs_error" class="help-block" style="display:none;">必须: 请上传两张附加图片</small>
    </div>
</div>
