<footer class="footer_coworker_new_main">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 pade_none footer_coworker_top_links_con">
				<ul>
					<li>
						<a href="{% url "main:about" %}">{% trans "关于" %}</a>
					</li>
					<li>
						<a href="{% url "place:search" %}">{% trans "搜索" %}</a>
					</li>
					<li>
						<a href="{% url "place:search" %}">{% trans "评论" %}</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 pade_none footer_coworker_bottom_links_con">
				<ul>
					<li style="list-style: none; display: inline">
						<h4>{% trans "搜索" %}</h4>
					</li>
					<li>
						<a href="{% url "place:search" %}">{% trans "搜索场地" %}</a>
					</li>
					<li>
						<a href="{% url "main:cities" %}">{% trans "按城市搜索" %}</a>
					</li>
					<li>
						<a href="{% url "place:search" %}/top-rated">{% trans "最优场地排行" %}</a>
					</li>
					<li>
						<a href="{% url "place:search" %}/most-reviewed">{% trans "最热评论场地" %}</a>
					</li>
					<li>
						<a href="https://www.coworker.com/map">{% trans "共享办公地图" %}</a>
					</li>
				</ul>
				<ul>
					<li style="list-style: none; display: inline">
						<h4>{% trans "评论" %}</h4>
					</li>
					<li>
						<a href="{% url "main:reviews" %}">{% trans "查看全部评论" %}</a>
					</li><!--<li><a href="#">Write a Review</a></li>-->
				</ul>
				<ul class="footer_about_list01">
					<li style="list-style: none; display: inline">
						<h4>{% trans "合作信息" %}</h4>
					</li>
					<li>
						<a href="{% url "place:list-space" %}">{% trans "我要出租" %}</a>
					</li><!--<li><a href="#">Swag</a></li>-->
					<!--<li><a href="#">Coworker Connect</a></li>-->
				</ul>
				<ul class="footer_about_list02">
					<li style="list-style: none; display: inline">
						<h4>{% trans "会员功能" %}</h4>
					</li>
					<li>
						<a href="javascript:void(0);" onclick="openNavSignup();">{% trans "注册" %}</a>
					</li>
					<li>
						<a href="javascript:void(0);" onclick="openNavLoging();">{% trans "登录" %}</a>
					</li><!--<li><a href="#">Join our List</a></li>-->
				</ul>
				<ul class="footer_about_list">
					<li style="list-style: none; display: inline">
						<h4>{% trans "创客云图实验室" %}</h4>
					</li>
					<li>
						<a href="https://www.coworker.com/lab/">{% trans "博客" %}</a>
					</li>
					<li>
						<a href="https://www.coworker.com/lab/guest-post">{% trans "赞助商" %}</a>
					</li>
					<li>
						<a href="https://www.coworker.com/lab/">{% trans "最新文章" %}</a>
					</li>
					<li>
						<a href="https://www.coworker.com/lab/category/happenings/">{% trans "活动" %}</a>
					</li>
				</ul>
				<ul class="footer_about_list">
					<li style="list-style: none; display: inline">
						<h4>{% trans "联系我们" %}</h4>
					</li>
					<li>
						<a href="https://www.coworker.com/press">{% trans "新闻媒体" %}</a>
					</li>
					<li>
						<a href="https://www.coworker.com/api">{% trans "第三方接口" %}</a>
					</li><!--<li><a href="#">Become a Partner</a></li>-->
					<li>
						<a href="{% url "main:contact" %}">{% trans "联系我们" %}</a>
					</li>
				</ul>
				<ul class="footer_about_list">
					<li style="list-style: none; display: inline">
						<h4>{% trans "关于" %}</h4>
					</li>
					<li>
						<a href="{% url "main:about" %}">{% trans "我们的故事" %}</a>
					</li>
					<li>
						<a href="{% url "main:team" %}">{% trans "加入我们" %}</a>
					</li>
					<li>
						<a href="{% url "main:help" %}">{% trans "帮助中心" %}</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 pade_none footer_new_social_links_main">
				<div class="col-xs-12 pade_none footer_new_social_links_top">
					<ul>
						<li>
							<a href="https://www.facebook.com/coworkerglobal" target="_blank"><i aria-hidden="true" class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="https://twitter.com/coworkerglobal" target="_blank"><i aria-hidden="true" class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="https://www.pinterest.com/coworkerglobal/"><i aria-hidden="true" class="fa fa-pinterest-p"></i></a>
						</li>
						<li>
							<a href="https://www.instagram.com/coworker/" target="_blank"><i aria-hidden="true" class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="https://www.youtube.com/channel/UCJlxGftk_XMG7R6sVf9UbVQ" target="_blank"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 pade_none footer_new_copyright_outer">
					<ul>
						<li>© 2017 SpacesMap</li>
						<li>
							<a href="mailto:hello@coworker.com">hello@spacesmap.com</a>
						</li>
						<li>
							<a href="{% url "main:privacy-policy" %}">{% trans "隐私政策" %}</a>
						</li>
						<li>
							<a href="{% url "main:terms" %}">{% trans "使用条款" %}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
