<div class="breadcrumb_outer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 pade_none breadcrumb_inner">
                <ul>
                    <li><p>{% trans "World" %}</p></li>
                    <li><p>{{ obj.city_origin.country.contenent.name }}</p></li>
                    <li><p><a href="{{ obj.city_origin.country.get_absolute_url }}" style="color: inherit;">{{ obj.city_origin.country.name }}</a></p></li>
                    <li><p><a href="{{ obj.city_origin.get_absolute_url }}" style="color: inherit;">{{ obj.city_origin.name }}</a></p></li>
                    <li><p>{{ place.space_name }}</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
