{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}Add Your Space - Coworker.com{% endblock %}

{% block bodyclass %}list-space-page{% endblock %}

{% block content %}
    <div class="main_outer">
        <!--COWORKER SUBMISSION PART-->
        <div class="cow_submission_main">
            <div class="container">
                <div class="row">
                    <div class="submission_form_main">
                        <div class="submission_form_inner">
                            <h2 style="text-align:center;line-height:30px;margin-bottom:20px;">
                                {% trans "添加我的创客云图场地" %}<br>
                                <span style="font-size:18px;">{% trans "( 不收任何费用 )" %}</span>
                            </h2>

                            <form action="{% url "place:list-space" %}" method="post" id="user_space_form" name="user_space_form" class="fv-form fv-form-bootstrap" novalidate="novalidate">
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                    <div role="alert" class="alert alert-danger">
                                        {% for err in form.non_field_errors %}
                                            {{ err }}<br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="form-group{% if form.space_name.errors %} has-error{% endif %}">
                                    <label for="{{ form.space_name.auto_id }}">
                                        {{ form.space_name.label }}
                                    </label>
                                    {% render_field form.space_name class="form-control" %}
                                    <span class="help-block">
                                        {% if form.space_name.errors %}
                                            {{ form.space_name.errors.as_text }}
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label>{% trans "所在城市" %}</label>
                                    {% render_field form.city %}
                                    <script>
                                        $( "#{{ form.city.auto_id }}" ).select2({
                                            width: '100%'
                                        });
                                    </script>
                                </div>
                                <div class="form_group {% if form.user_type.errors %} has-error{% endif %}">
                                    <div class="list_space_user_type">
                                        <div class="usertype_label">
                                            <label>{% trans "我是..." %}</label>
                                        </div>
                                        <span class="help-block">
                                            {% if form.user_type.errors %}
                                                {{ form.user_type.errors.as_text }}
                                            {% endif %}
                                        </span>
                                        {% render_field form.user_type class="hidden" %}
                                        {% for choice in form.user_type.field.choices %}
                                            <div class="wrapper_box">
                                                <div class="user_type_circle{% if form.user_type.value == choice.0 %} circle_red{% endif %}" data-panelid="{{ choice.0 }}">
                                                    {{ choice.1 }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <script>
                                            $('.user_type_circle').on('click', function(){
                                              $('.user_type_circle').removeClass('circle_red');

                                              var panelId = $(this).attr('data-panelid');
                                              $(this).addClass('circle_red');
                                              $("#{{ form.user_type.auto_id }}").val(panelId);
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit">{% trans "继续" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
