{% load widget_tweaks %}
{% load static %}
{% load i18n %}
<h3>{% trans "联系方式" %}</h3>
<p>{% trans "让大家迅速联系到您" %}</p>
<div class="col-xs-12 pade_none co_form_con social_media_cont">
    <h4>{% trans "主要联系方式" %}</h4>
    <div class="col-xs-12 pade_none coworker_event_bottom_panel social_media_panel">
        <div class="form-group">
            <label>{% trans "邮箱*" %} <span>{% trans "(您最常用的邮箱)" %}</span></label>
            {% render_field form.ls_email class="submission_form_inner input" id="ls_email" data-fv-field="ls_email" %}
            <small class="help-block" data-fv-validator="notEmpty" data-fv-for="ls_email" data-fv-result="NOT_VALIDATED" style="display: none;">{% trans "必填" %}</small><small class="help-block" data-fv-validator="emailAddress" data-fv-for="ls_email" data-fv-result="NOT_VALIDATED" style="display: none;"{% trans ">无效邮箱" %}</small></div>
        <label>{% trans "Tel" %}</label>

        {% render_field form.tel type="text" %}

        <div class="form-group">
            <label>{% trans "网址链接" %}</label>
            {% render_field form.website_url type="text" name="website_url" class="submission_form_inner input" id="website_url" %}
        </div>
    </div>

     <h4>{% trans "社交工具" %}</h4>
    <div class="col-xs-12 pade_none coworker_event_bottom_panel social_media_panel ">
         <label>{% trans "微信" %}</label>
        {% render_field form.facebook class="listspace_facebook_icon" type="text" placeholder="eg. facebook.com/coworkerglobal" %}
        <label>{% trans "QQ" %}</label>
        {% render_field form.twitter class="listspace_twitter_icon" type="text" placeholder="eg. twitter.com/coworkerglobal" %}
        <label>{% trans "微博" %}</label>
        {% render_field form.instagram class="listspace_instagram_icon" type="text" placeholder="eg. instagram.com/coworker" %}
    </div>

    <h4>{% trans "消息推送" %}</h4>
    <p>{% trans "有人通过页面联系您时，您希望哪个邮箱地址接收信息、预订请求、旅游信息？（可设置多个邮箱地址。）" %}</p>
    <div class="col-xs-12 pade_none coworker_event_bottom_panel social_media_panel">
        <div id="contact_emails" class="form-group">
            <label>{% trans "邮箱*" %} <span id="contact_emails_error" style="display:none;">{% trans "邮箱" %}</span></label>
            {% render_field form.notification_email type="email" class="submission_form_inner input" id="notification-email-01" %}
        </div>
        <!-- TODO new email -->
{#        <div id="add_contact_email" class="col-xs-12 pade_none add_mail_text" onclick="newEmail();"><label class="lbl-add-price ">+ {% trans "添加邮箱" %}</label></div>#}
    </div>
</div>
