{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{% endblock %}


{% block header %}
    {% include 'elements/header_internal.html' %}
{% endblock %}

{% block content %}
    <style type="text/css">
        #fileUpload, #upload_btns{
            display: none;
        }
        svg{
            display:block;
            height:auto;
        }
        path{
            transition:fill .5s;
            fill:#E3DFD2;
        }
    </style>

    <script src="{% static 'js/jquery-ui.min(1).js' %}"></script>
    <script src="{% static 'js/jscolor.min.js' %}"></script>

    <!--NGINX SOFTWARE START-->
    <div class="connection_main_outer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 pade_none connection_main_inner">
                    <div class="col-sm-4 col-md-4 col-xs-12 pade_none connection_left_out">
                        <div class="col-xs-12 pade_none connect_leane_pic">
                            <img id="img_profile" src="{{ user.profile_image_url }}" alt="" style="z-index: -1;border:6px solid #f5f5f5;">
                            <span id="upload_lbl" class="upload_picture">
                                <ul>
                                  <li>
                                    <h3 id="upload_text">Update Profile Picture<br><span id="text_res">500 x 500px</span></h3>
                                  </li>
                                  <li><i id="camera_icon" class="fa fa-camera50" aria-hidden="true"></i></li>
                                </ul>
                            </span>
                            <div id="circle-border">
                                <img src="{% static 'img/pix.png' %}" alt="" style="z-index: -1;">
                            </div>
                            <div id="trans">
                                <span class="upload_picture_hov" onmouseover="overUpload();" onmouseout="outUpload();"></span>
                            </div>
                        </div>
                        <div id="sv_round" class="col-xs-12 pade_none">
                            <svg id="sv_normal" width="240" height="232" onmouseover="overUpload();" onmouseout="outUpload();">
                                <mask id="mask">
                                    <rect fill="white" width="100%" height="100%" fill-opacity="1"></rect>
                                    <circle cx="117" cy="116" r="112">
                                    </circle>
                                </mask>
                                <rect mask="url(#mask)" fill="#f5f5f5" width="100%" height="100%" fill-opacity="1"></rect>
                            </svg>
                            <svg id="sv_normal2" width="200" height="200" onmouseover="overUpload();" onmouseout="outUpload();">
                                <mask id="mask2">
                                    <rect fill="white" width="100%" height="100%" fill-opacity="1"></rect>
                                    <circle r="93" cy="94" cx="96">
                                    </circle></mask>
                                <rect mask="url(#mask2)" fill="#f5f5f5" width="100%" height="100%" fill-opacity="1"></rect>
                            </svg>
                            <svg id="sv_normal3" width="240" height="232" onmouseover="overUpload();" onmouseout="outUpload();">
                                <mask id="mask3">
                                    <rect fill="white" width="100%" height="100%" fill-opacity="1"></rect>
                                    <circle cx="116" cy="115" r="111"></circle>
                                </mask>
                                <rect mask="url(#mask3)" fill="#f5f5f5" width="100%" height="100%" fill-opacity="1"></rect>
                            </svg>
                            <svg id="sv_normal4" width="240" height="232" onmouseover="overUpload();" onmouseout="outUpload();">
                                <mask id="mask4">
                                    <rect fill="white" width="100%" height="100%" fill-opacity="1"></rect>
                                    <circle r="111" cy="116" cx="118">
                                    </circle></mask>
                                <rect mask="url(#mask4)" fill="#f5f5f5" width="100%" height="100%" fill-opacity="1"></rect>
                            </svg>
                            <svg id="sv_normal5" width="240" height="232" onmouseover="overUpload();" onmouseout="outUpload();">
                                <mask id="mask5">
                                    <rect fill="white" width="100%" height="100%" fill-opacity="1"></rect>
                                    <circle cx="116" cy="115" r="117"></circle>
                                </mask>
                                <rect mask="url(#mask5)" fill="#f5f5f5" width="100%" height="100%" fill-opacity="1"></rect>
                            </svg>
                            <svg id="sv_normal6" width="240" height="232" onmouseover="overUpload();" onmouseout="outUpload();">
                                <mask id="mask6">
                                    <rect fill="white" width="100%" height="100%" fill-opacity="1"></rect>
                                    <circle r="112" cy="115" cx="118">
                                    </circle></mask>
                                <rect mask="url(#mask6)" fill="#f5f5f5" width="100%" height="100%" fill-opacity="1"></rect>
                            </svg>
                        </div>
                        <div class="col-xs-12 pade_none">
                            <form action="{% url "users:photo" %}" method="post" accept-charset="utf-8" id="photo_form" name="photo_form" enctype="multipart/form-data">
                                <input id="fileUpload" type="file" name="profile_image">
                                {% csrf_token %}
                                <div id="upload_btns" class="upload_btn">
                                    <a href="javascript:void(0);" onclick="updatePhoto(event);">&nbsp;Save&nbsp;</a>
                                    <a href="javascript:void(0);" onclick="restorePhoto(event);">Cancel</a>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-12 pade_none coworker_tab_outr">
                            <ul>
                                <li>
                                    <a href="{% url "users:profile" %}#answer1" class="anchor" onclick="displayAnswer(&#39;answer1&#39;);">
                                        <i class="fa fa-list-alt" aria-hidden="true"></i> My Profile
                                    </a>
                                </li>
                                <!--<li>
                                  <a href="javascript:void(0);" class="anchor" onClick="displayAnswer('answer7');">
                                    <i class="fa fa-calendar"></i> My Event
                                  </a>
                                </li>
                                <li>
                                  <a href="javascript:void(0);" class="anchor" onClick="displayAnswer('answer8');">
                                    <i class="fa fa-comment"></i> Messages
                                  </a>
                                </li>-->
                                <li>
                                    <a href="{% url "users:profile" %}#answer2" class="anchor" onclick="displayAnswer(&#39;answer2&#39;);">
                                        <i class="fa fa-star002"></i> Reviews
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "users:profile" %}#answer6" class="anchor for_website_icon" onclick="displayAnswer(&#39;answer6&#39;);">
                                        <img src="{% static 'img/img_swag_website.png' %}" alt="swag icon"> For your Website
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "users:profile" %}#answer3" class="anchor" onclick="displayAnswer(&#39;answer3&#39;);">
                                        <i class="fa fa-users"></i> Connections
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "users:profile" %}#answer4" class="anchor" onclick="displayAnswer(&#39;answer4&#39;);">
                                        <i class="fa fa-cog"></i> Settings
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-8 col-xs-12 pade_none connection_rgt_out">
                        <div class="col-xs-12 pade_none connect_leanee_top">
                            <h2>Welcome, {{ user.first_name }}</h2>
                            <h3>This is your coworker account, where you can keep track
                                of all the stuff you've got going on.</h3>
                        </div>
                        <div class="col-xs-12 pade_none profile_leanee_outer" id="answer1" style="display:block">
                            <form action="{% url "users:editprofile" %}" method="post" accept-charset="utf-8" id="edit_form" name="edit_form">
                                <a href="{% url "users:profile" %}#" id="answer1"></a>
                                <h2>Profile</h2>
                                <div class="col-xs-12 pade_none profile_con">
                                    <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">Name:</div>
                                    <div class="col-sm-8 col-md-9 col-xs-12 pade_none profile_rgt_con">{{ user.full_name }}</div>
                                </div>

                                {% include 'users/show_edit_field.html' with field=form.birth_day value=user.birth_day %}
                                {% include 'users/show_edit_field.html' with field=form.aboutme value=user.aboutme %}
                                {% include 'users/show_edit_field.html' with field=form.business_name value=user.business_name %}
                                {% include 'users/show_edit_field.html' with field=form.registration value=user.registration %}
                                {% include 'users/show_edit_field.html' with field=form.business_summarize value=user.business_summarize %}
                                {% include 'users/show_edit_field.html' with field=form.industries value=user.get_industries %}
                                {% include 'users/show_edit_field.html' with field=form.tags value=user.get_tags %}
                                {{ form.media.js }}
                            </form>

                            <style>
                                #id_tags, #id_industries {
                                    width: 200px;
                                }
                            </style>

                            <script>
                              $("[name=tags]").select2({
                                width: 'resolve',
                                tags: true,
                                multiple: true,
                                allowClear: true,
                                createTag: function (params) {
                                  var term = $.trim(params.term);

                                  if (term === '') {
                                    return null;
                                  }

                                  return {
                                    id: term,
                                    text: term,
                                    newTag: true
                                  }
                                }
                              });
                              $("[name=industries]").select2({
                                width: 'resolve',
                                tags: true,
                                multiple: true,
                                createTag: function(params) {
                                  return undefined;
                                }
                              });
                            </script>

                        </div>
                        <!--REVIEWS-->
                        <div class="col-xs-12 pade_none profile_leanee_outer" id="answer2" style="display:none">
                            <a href="#" id="answer2"></a>

                            <h2>Your Reviews</h2>
                            <div id="user_reviews">
                                <div class="col-xs-12 pade_none profile_con">
                                    <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_pic"><img src="https://coworker.imgix.net/photos/ukraine/poltava/grass-coworking/main.jpeg?w=140&amp;h=140&amp;fit=crop" alt=""></div>
                                    <div class="col-sm-8 col-md-9 col-xs-12 pade_none profile_review_con">
                                        <h3>Grass Coworking</h3>
                                        <span>12th September 2017</span>
                                        <p>"I like this place. Best in Poltava"</p>
                                        <div class="col-xs-12 pade_none full_review_btn"><a href="{% url "place:place" "ukraine" "poltava" "grass-coworking" %}">View Full Review</a></div>
                                    </div>
                                </div></div>
                            <div class="col-xs-12 pade_none coworker_pagination_main">
                                <ul id="sw_pagination">
                                </ul>
                                <div id="sw_pagination_total" class="col-xs-12 pade_none pagination_text_con">1 of 1 reviews</div>
                            </div>
                        </div>

                        <!-- start For your Website -->

                        <div class="col-xs-12 pade_none your_website_main_outer" id="answer6" style="display:none">
                            <a href="{% url "users:profile" %}#" id="answer6"></a>
                            <h2>For Your Website</h2>
                            <p>Get embeddable widgets and graphics for your own website that show how much your members love you...</p>


                        </div>


                        <!-- end For your Website -->


                        <!--CONNECTIONS-->
                        <div class="col-xs-12 pade_none profile_leanee_outer" id="answer3" style="display:none">
                            <a href="{% url "users:profile" %}#" id="#answer3"></a>
                            <h2>Seems like you're alone here…</h2>
                            <p>Invite your friends to join you on Coworker!</p>
                            <br>
                            <a href="javascript:void(0);" onclick="openFB(11040);"><img src="{% static 'img/invite_friends.jpg' %}" style="height: 50px;"></a>  <div id="fri_reviews">
                        </div>
                            <div class="col-xs-12 pade_none coworker_pagination_main">
                                <ul id="fs_pagination">
                                </ul>
                            </div>
                        </div>


                        <!-- COWORKING SPACES -->
                        <div class="col-xs-12 pade_none profile_leanee_outer spaces_outer" id="answer5" style="display:none">
                            <a href="{% url "users:profile" %}#" id="answer5"></a>
                            <h2>My Coworking  Spaces.&nbsp; </h2>
                            <div id="user_spaces">
                            </div>
                            <div class="col-xs-12 pade_none coworker_pagination_main">
                                <ul id="ms_pagination">
                                </ul>
                            </div>
                        </div>

                        <!--SETTINGS-->
                        <div class="col-xs-12 pade_none profile_leanee_outer" id="answer4" style="display:none">
                            <form action="{% url "users:editprofile" %}" method="post" accept-charset="utf-8" id="user_form" name="user_form">
                                <a href="{% url "users:profile" %}#" id="answer4"></a>

                                <div id="dv_contact" class="col-xs-12 pade_none profile_con02">
                                    <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">Contact Email:</div>
                                    <div class="col-sm-8 col-md-9 col-xs-12 pade_none profile_rgt_con">
                                        <input class="col-sm-8 col-md-8 col-xs-8" name="email" type="text" value="{{ user.email }}" readonly="readonly">
                                        <div class="col-sm-4 col-md-4 col-xs-4 pade_none change_btn"><a href="javascript:void(0);" onclick="showContactEmail(event);">Change</a></div>
                                    </div>
                                </div>
                                <div id="dv_contact_email" style="display:none;">
                                    <div class="col-xs-12 pade_none profile_con04">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">New Contact Email:</div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-11 col-md-11 col-xs-11 pade_none profile_rgt_con">
                                                {% render_field form.email class="col-sm-12 col-md-12 col-xs-12" id="nc_email" type="text" %}
                                                {#                                                <input class="col-sm-12 col-md-12 col-xs-12" id="nc_email" name="nc_email" type="text" value="stupak.alexn@gmail.com">#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 pade_none profile_con03">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con"></div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-3 col-md-3 col-xs-3 pade_none change_btn"><a href="javascript:void(0);" onclick="updateContactEmail(event);">Save</a></div>
                                            <div class="col-sm-3 col-md-3 col-xs-3 pade_none change_btn"><a href="javascript:void(0);" onclick="hideContactEmail(event);">Cancel</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="dv_change" class="col-xs-12 pade_none profile_con03">
                                    <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">Password:</div>
                                    <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                        <div class="col-sm-8 col-md-8 col-xs-8 pade_none profile_rgt_con">
                                            {% render_field form.email class="col-sm-12 col-md-12 col-xs-12" type="password" value="{{ user.email }}" %}
                                            {#                                            <input class="col-sm-12 col-md-12 col-xs-12" type="password" value="stupak.alexn@gmail.com">#}
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-xs-4 pade_none change_btn"><a href="javascript:void(0);" onclick="showPassword(event);">Change</a></div>
                                    </div>
                                </div>
                                <div id="dv_password" style="display:none;">
                                    <div class="col-xs-12 pade_none profile_con04">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">New Password:</div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-8 col-md-8 col-xs-8 pade_none profile_rgt_con"><input class="col-sm-12 col-md-12 col-xs-12" id="n_password" name="n_password" type="password" value=""></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 pade_none profile_con04">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">Confirm New Password:</div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-8 col-md-8 col-xs-8 pade_none profile_rgt_con"><input class="col-sm-12 col-md-12 col-xs-12" id="cn_password" name="cn_password" type="password" value=""></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 pade_none profile_con04">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">Current Password:</div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-8 col-md-8 col-xs-8 pade_none profile_rgt_con"><input class="col-sm-12 col-md-12 col-xs-12" id="c_password" name="c_password" type="password" value=""></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 pade_none profile_con03">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con"></div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-3 col-md-3 col-xs-3 pade_none change_btn">
                                                <a href="javascript:void(0);" onclick="updateUser(event);">Save</a>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-xs-3 pade_none change_btn">
                                                <a href="javascript:void(0);" onclick="hidePassword(event);">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="c_id" id="c_id" value="{{ user.pk }}">
                                <input type="hidden" name="op_id" id="op_id" value="-1">
                                <input type="hidden" name="user_name" id="user_name" value="">
                            </form>
                        </div>
                        <!-- MARKETING ############################################################ -->
                        <div class="col-xs-12 pade_none profile_leanee_outer" id="answer6" style="display:none">
                            <h2>Marketing</h2>
                        </div>
                        <!-- BOOKING ############################################################ -->
                        <div class="col-xs-12 pade_none profile_leanee_outer" id="answer10" style="display:none">
                            <h2>Bookings</h2>
                        </div>

                        <!-- ###################################################################### -->
                    </div>
                </div>
            </div>
            <!-- loading pop -->
            <div class="modal fade" id="popup_loading" role="dialog">
                <div class="screen_loader"><img src="{% static 'img/ajax-loader.gif' %}"></div>
            </div>

            <!-- Confirm pop -->
            <div class="modal fade" id="popup_confirm" role="dialog">
                <div class="pop_modal-dialog">
                    <div class="col-xs-12 pade_none pop_outer">
                        <button type="button" class="close" onclick="closePopupConfirm();" data-dismiss="modal">×</button>
                        <h2 id="popup_confirm_h2"></h2>
                        <div class="col-xs-12 pade_none pop_inner" id="popup_confirm_msg"></div>
                        <div class="col-xs-12 pade_none pop_btn" id="cancel_submit">
                            <a href="javascript:void(0);" onclick="closePopupConfirm();">Close</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--NGINX SOFTWARE END-->
        </div>

    </div>

    <script type="text/javascript">
      var r_profile = '//graph.facebook.com/1461729717241553/picture?type=large';
      var r_token = '';
      function showTab(cTab) {
        $('.tab-pane').each(function(){
          $(this).hide();
        });
        $('#'+cTab).show();
      }
      var c_idx= 0;
      function loadMyReviewsPage(idx,p_id){
        $.ajax({
          'url' : 'https://www.coworker.com/profile/get_reviews',
          'type' : 'POST',
          'data' : {pIdx:idx, uId:p_id},
          'success' : function(data){
            var result = $.parseJSON(data);
            $('#sw_pagination').html(result.pagination);
            $('#sw_pagination_total').html(result.pag_total);
            $('#user_reviews').html(result.content);
            c_idx = result.idx;
          }
        });
      }
      function nextMyReviewsPage(p_id){
        c_idx++;
        loadMyReviewsPage(c_idx,p_id);
      }
      function prevMyReviewsPage(p_id){
        c_idx--;
        if(c_idx>=0){
          loadMyReviewsPage(c_idx,p_id);
        } else
          c_idx=0;
      }

      var ms_idx= 0;
      function loadMySpacesPage(idx,p_id){
        $.ajax({
          'url' : '{% url "users:get_spaces" %}',
          'type' : 'POST',
          'data' : {pIdx:idx, uId:p_id},
          'success' : function(data){
            var result = $.parseJSON(data);
            $('#ms_pagination').html(result.pagination);
            $('#ms_pagination_total').html(result.pag_total);
            $('#user_spaces').html(result.content);
            ms_idx = result.idx;
          }
        });
      }
      function nextMySpacesPage(p_id){
        ms_idx++;
        loadMySpacesPage(ms_idx,p_id);
      }
      function prevMySpacesPage(p_id){
        ms_idx--;
        if(ms_idx>=0){
          loadMySpacesPage(ms_idx,p_id);
        } else
          ms_idx=0;
      }
      var fs_idx=0;
      function loadFriReviewsPage(idx,p_id){
        $.ajax({
          'url' : 'https://www.coworker.com/profile/get_fri_reviews',
          'type': 'POST',
          'data': { pIdx : idx, uId : p_id },
          'success' : function(data){
            var result2 = $.parseJSON(data);
            $('#fs_pagination').html(result2.pagination);
            $('#fs_pagination_total').html(result2.pag_total);
            $('#fri_reviews').html(result2.content);
            $('html, body').animate({
              scrollTop: $("#answer3").offset().top
            }, 0);
            fs_idx = result2.idx;
          }
        });
      }
      function nextFriReviewsPage(p_id){
        fs_idx++;
        loadFriReviewsPage(fs_idx,p_id);
      }
      function prevFriReviewsPage(p_id){
        fs_idx--;
        if(fs_idx>=0){
          loadFriReviewsPage(fs_idx,p_id);
        } else
          fs_idx=0;
      }
    </script>


    <script>
      function updateField(e, calback){
        var $target = $(event.target);
        var $form = $target.closest("form");
        var edit_block = $(event.target).closest(".edit_block");
        var content_block = edit_block.prev();
        $.ajax({
          'url': '{% url "users:update_aboutme" %}',
          'type': 'POST',
          'data': $form.serialize(),
          'success': function(res){
{#            var field_val = edit_block.find("input,textarea,select").attr("name");#}
{#            $("#" + field_val + "-value").html(res.obj[field_val]);#}
            $.each(res.obj, function(key, value) {
              $(".show_block #" + key + "-value").html(value);
            });
            content_block.show();
            edit_block.hide();
            if (calback) {
              calback();
            }
          }
        });
      }
      function showEdit(e){
        var show_block = $(e.target).closest(".show_block");
        show_block.hide();
        show_block.next().show()
      }

      function hideEdit(e){
        var edit_block = $(e.target).closest(".edit_block");
        edit_block.hide();
        edit_block.prev().show();
      }
    </script>
    <script type="text/javascript">

      function updateUser(){
        var n_pass = ($('#n_password').val()).trim();
        var cn_pass = $('#cn_password').val().trim();
        var pass = $('#c_password').val().trim();
        if((n_pass==cn_pass)&&(n_pass!='')){
          if((n_pass==pass)&&(pass!=''))
            alert('Invalid New password');
          else if(pass=='')
            alert('Current password is required');
          else{
            $('#op_id').val(1);
            $('#user_form').submit();
          }
        } else {
          alert('New password is required');
        }
      }
      function updateContactEmail(){
        var n_con_email = ($('#nc_email').val()).trim();
        if(n_con_email=='')
          alert('Contact Email is required');
        else if(!validateEmail(n_con_email))
          alert('Invalid Contact Email');
        else {
          $('#op_id').val(2);
          $('#user_form').submit();
        }
      }

      function validateEmail(email) {
        var re = /\S+@\S+\.\S+/;
        return re.test(email);
      }
      function connectToFB(){
        window.location = "https://www.facebook.com/v2.5/dialog/oauth?client_id=778242928950690&state=4de404c7f4b452d3bf76d78ef9756109&response_type=code&sdk=php-sdk-5.0.0&redirect_uri=https%3A%2F%2Fwww.coworker.com%2Fcoworker_fb%2Fconnect_fb&scope=email%2Cuser_friends";
      }
      function openFB(uId){
        FB.ui({
          method: 'share',
          href:'https://www.coworker.com/'
        }, function(response){
        });
      }
      function overUpload() {
        $('#upload_text, #text_res').show();
        $('#camera_icon').hide();
        $('#upload_lbl').addClass('upload_picture_trans');
      }
      function outUpload() {
        $('#upload_text, #text_res').hide();
        $('#camera_icon').show();
        $('#upload_lbl').removeClass('upload_picture_trans');
      }
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "778242928950690",
          xfbml      : true,
          version    : 'v2.5',
          cookie:true,
          status:true
        });
      };
      (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk')
      );

      function updatePhoto (argument) {
        var img_size = document.getElementById('fileUpload').files[0].size;
        if(img_size < (1024 * 1024 * 10))
          $('#photo_form').submit();
        else
          alert('The Max file size is: 10 MB');
      }
      function restorePhoto() {
        $('#img_profile').attr('src',r_profile);
        $('#upload_btns').hide();
      }

      $(document).on('show.bs.modal', '.modal', function () {
        var zIndex = 1040 + (10 * $('.modal:visible').length);
        $(this).css('z-index', zIndex);
        setTimeout(function() {
          $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
        }, 0);
      });

      $(document).ready(function() {
        //$('.upload_picture_hov').click(function(e) { $('#fileUpload').click(); });

        $('#sv_normal').click(function(e) { $('#fileUpload').click(); });
        $('#sv_normal1').click(function(e) { $('#fileUpload').click(); });
        $('#sv_normal2').click(function(e) { $('#fileUpload').click(); });
        $('#sv_normal3').click(function(e) { $('#fileUpload').click(); });
        $('#sv_normal4').click(function(e) { $('#fileUpload').click(); });
        $('#sv_normal5').click(function(e) { $('#fileUpload').click(); });
        $('#sv_normal6').click(function(e) { $('#fileUpload').click(); });

        $("#fileUpload").on('change', function() {
          //Get count of selected files
          var countFiles = $(this)[0].files.length;
          var imgPath = $(this)[0].value;
          var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
          if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof(FileReader) != "undefined") {
              //loop for each file selected for uploaded.
              for (var i = 0; i < countFiles; i++)
              {
                var reader = new FileReader();
                reader.onload = function(e) {
                  $('#img_profile').attr('src',e.target.result);
                  $('#upload_btns').show();
                }
                //image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
              }
            } else {
              alert("This browser does not support FileReader.");
            }
          } else {
            alert("Pls select only images");
          }
        });
        $( "#b_day" ).spinner({
          min: 1,
          max: 31,
        });
//  console.log($( "#b_day" ).spinner( "option", "classes.ui-spinner" ));
        $("#b_month").textSpinner({
          values: arrText,
          spin: function( event, ui ) {
            var c_day  = $( "#b_day" ).spinner( "value" );
            var s_month= [3,5,8,10];
            var c_year = $( "#b_year" ).spinner( "value" );
            $( "#b_month" ).text(ui.value);
            var c_max = 31;
            var x_day = c_day;
            if(ui.value==1){
              if ((c_year % 4 == 0) && ((c_year % 100 != 0) || (c_year % 400 == 0))){
                c_max = 29;
                if(c_day>29)
                  x_day = 29;
              } else {
                c_max = 28;
                if(c_day>28)
                  x_day = 28;
              }
            } else if(s_month.indexOf(ui.value)!=-1){
              c_max = 30;
              if(c_day==31)
                x_day = 30;
            } else {
              c_max = 31;
            }
            $( "#b_day" ).spinner( "option", "max", c_max );
            $( "#b_day" ).spinner( "value", x_day );
          }
        });
        $( "#b_year" ).spinner({
          min: 1930,
          max: 2016,
          spin: function( event, ui ) {
            if ((ui.value % 4 == 0) && ((ui.value % 100 != 0) || (ui.value % 400 == 0))){
              if($( "#b_month" ).textSpinner( "value" )==1){
                $( "#b_day" ).spinner( "option", "max", 29 );
              }
            } else {
              var c_month= $( "#b_month" ).textSpinner( "value" );
              var c_day  = $( "#b_day" ).spinner( "value" );
              if(c_month==1){
                $( "#b_day" ).spinner( "option", "max", 28 );
                if(c_day==29)
                  $( "#b_day" ).spinner( "value", 28 );
              }
            }
          }
        });
      });
      var arrText = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      $.widget("ui.textSpinner", $.ui.spinner, {
        options: {
          wrap: false
        },
        _parse: function (value) {
          if ((value === '') || isNaN(value)) {
            value = this.options.values.indexOf(value);
            if (value === -1) {
              value = 0;
            }
          }
          if (value < 0) {
            value = this.options.wrap ? (this.options.values.length -1) : 0;
          } else if (value >= this.options.values.length) {
            value = this.options.wrap ? 0 : (this.options.values.length - 1);
          }
          return value;
        },
        _format: function (value) {
          return this.options.values[value];
        },
        _adjustValue: function (value) {
          if (value < 0) {
            value = this.options.wrap ? (this.options.values.length - 1) : 0;
          } else if (value >= this.options.values.length) {
            value = this.options.wrap ? 0 : (this.options.values.length - 1);
          }
          return value;
        }
      });
    </script>


    <script language="JavaScript" type="text/javascript">
      function displayAnswer(divID)
      {
        if(divID == 'answer6'){
          $('#select-space').trigger("change");
        }


        if(document.getElementById(divID).style.display == 'block')
        {
          var closeAnswer = true;
        }
        document.getElementById('answer1').style.display = 'none';
        document.getElementById('answer2').style.display = 'none';
        document.getElementById('answer3').style.display = 'none';
        document.getElementById('answer4').style.display = 'none';
        document.getElementById('answer5').style.display = 'none';
        document.getElementById('answer6').style.display = 'none';
//document.getElementById('answer7').style.display = 'none';  //My Event
//document.getElementById('answer8').style.display = 'none';  //Messages
//document.getElementById('answer9').style.display = 'none';  //Message Threat
        document.getElementById('answer10').style.display = 'none';

        if(!closeAnswer)
        {
          document.getElementById(divID).style.display = '';
        }
        return false;
      }
      function displayMarketing(cs_id)
      {

        document.getElementById('answer1').style.display = 'none';
        document.getElementById('answer2').style.display = 'none';
        document.getElementById('answer3').style.display = 'none';
        document.getElementById('answer4').style.display = 'none';
        document.getElementById('answer5').style.display = 'none';
        //document.getElementById('answer7').style.display = 'none';
        //document.getElementById('answer8').style.display = 'none';
        //document.getElementById('answer9').style.display = 'none';
        document.getElementById('answer6').style.display = 'block';
        $("#answer6").html('<div class="section_loader"><img src="/template/assets/images/ajax-loader.gif"/></div>');

        $.ajax({
          type : "GET",
          url : "/profile/marketing/"+cs_id,
          dataType: 'JSON',
          success: function(result)
          {
            $("#answer6").html(result.htmlContent);
            var defaultTourHours = jQuery.parseJSON('[{"isActive":true,"timeFrom":"09:00","timeTill":"18:00"},{"isActive":true,"timeFrom":"09:00","timeTill":"18:00"},{"isActive":true,"timeFrom":"09:00","timeTill":"18:00"},{"isActive":true,"timeFrom":"09:00","timeTill":"18:00"},{"isActive":true,"timeFrom":"09:00","timeTill":"18:00"},{"isActive":false,"timeFrom":null,"timeTill":null},{"isActive":false,"timeFrom":null,"timeTill":null}]');
            var defaultDaypassHours = jQuery.parseJSON('[{"isActive":true,"timeFrom":"09:00","timeTill":"18:00"},{"isActive":true,"timeFrom":"09:00","timeTill":"18:00"},{"isActive":true,"timeFrom":"09:00","timeTill":"18:00"},{"isActive":true,"timeFrom":"09:00","timeTill":"18:00"},{"isActive":true,"timeFrom":"09:00","timeTill":"18:00"},{"isActive":false,"timeFrom":null,"timeTill":null},{"isActive":false,"timeFrom":null,"timeTill":null}]');

            /* UNCOMMENT LAUNCH STRIPE ---- (FIX PHP TAGS after uncommenting)
            Stripe.setPublishableKey('< ? $this->stripe_wrapper->public_key; ? >');

            if(result.lead_tools_active == "0")
            {
                $("#mrkt_leadgen_yes").hover(function(){
                        if($('#mrkt_leadgen').val() === "0") {
                            $(this).css({"background-color": "#fff","color": "#00d191"});
                        }
                    }, function(){
                        if($('#mrkt_leadgen').val() === "0") {
                            $(this).css({"background-color": "transparent","color": "#fff"});
                        }
                });

                $("#mrkt_leadgen_no").hover(function(){
                        if($('#mrkt_leadgen').val() === "1") {
                            $(this).css({"background-color": "#fff","color": "#00d191"});
                        }
                    }, function(){
                        if($('#mrkt_leadgen').val() === "1") {
                            $(this).css({"background-color": "transparent","color": "#fff"});
                        }
                });

                //toggleTourSchedJoin();
                $("#tour_clk").click(function(){
                  toggleTourSchedJoin();
                });
                //toggleDayPassSchedJoin();
                $("#daypass_clk").click(function(){
                  toggleDayPassSchedJoin();
                });

                // Initialize to off
                toggleActivateMarketing(0);

            }
            else {
            */

            $("#tour_clk").click(function(){
              toggleTourSchedEdit();
            });
            $("#daypass_clk").click(function(){
              toggleDayPassSchedEdit();
            });
            $("#opt_reservation").click(function(){
              toggleReservationEdit();
            });

            if((result.sched_tour !== '')&&(result.sched_tour!=null))
              defaultTourHours = jQuery.parseJSON(result.sched_tour);

            if((result.sched_daypass !== '')&&(result.sched_daypass != null))
              defaultDaypassHours = jQuery.parseJSON(result.sched_daypass);

            toggleTourSchedEdit();
            toggleDayPassSchedEdit();
            toggleReservationEdit();
            /* UNCOMMENT LAUNCH STRIPE ----
            }
            */

            var tours = $("#tourHoursContainer");
            var tourHoursManagerBootstrap = tours.businessHours({
                operationTime: defaultTourHours,
                postInit:function(){
                  tours.find('.operationTimeFrom, .operationTimeTill').timepicker({
                    'useSelect': true,
                    'timeFormat': 'H:i',
                    'step': 30
                  }).change(function(){
                    $("#sched_tour").val(JSON.stringify(tourHoursManagerBootstrap.serialize()));
                  });
                  tours.find('.dayContainer').click(function(){
                    $("#sched_tour").val(JSON.stringify(tourHoursManagerBootstrap.serialize()));
                  })
                },
                dayTmpl: '<div class="dayContainer" style="width: 80px;">' +
                '<div data-original-title="" class="colorBox"><input type="checkbox" class="invisible operationState"/></div>' +
                '<div class="weekday"></div>' +
                '<div class="operationDayTimeContainer">' +
                '<div class="operationTime input-group"><input name="startTime" class="mini-time form-control operationTimeFrom" value=""/></div>' +
                '<div class="operationTime input-group"><input name="endTime" class="mini-time form-control operationTimeTill" value=""/></div>' +
                '</div></div>'
              }
            );
            $("#sched_tour").val(JSON.stringify(tourHoursManagerBootstrap.serialize()));

            var daypasses = $("#daypassHoursContainer");
            var daypassHoursManagerBootstrap = daypasses.businessHours({
                operationTime: defaultDaypassHours,
                postInit:function(){
                  daypasses.find('.operationTimeFrom, .operationTimeTill').timepicker({
                    'useSelect': true,
                    'timeFormat': 'H:i',
                    'step': 30
                  }).change(function(){
                    $("#sched_daypass").val(JSON.stringify(daypassHoursManagerBootstrap.serialize()));
                  });
                  daypasses.find('.dayContainer').click(function(){
                    $("#sched_daypass").val(JSON.stringify(daypassHoursManagerBootstrap.serialize()));
                  })
                },
                dayTmpl: '<div class="dayContainer" style="width: 80px;">' +
                '<div data-original-title="" class="colorBox"><input type="checkbox" class="invisible operationState"/></div>' +
                '<div class="weekday"></div>' +
                '<div class="operationDayTimeContainer">' +
                '<div class="operationTime input-group"><input name="startTime" class="mini-time form-control operationTimeFrom" value=""/></div>' +
                '<div class="operationTime input-group"><input name="endTime" class="mini-time form-control operationTimeTill" value=""/></div>' +
                '</div></div>'
              }
            );
            $("#sched_daypass").val(JSON.stringify(daypassHoursManagerBootstrap.serialize()));
          }

        });

        return true;
      }

      function displayBooking(type, cs_id)
      {

        document.getElementById('answer1').style.display = 'none';
        document.getElementById('answer2').style.display = 'none';
        document.getElementById('answer3').style.display = 'none';
        document.getElementById('answer4').style.display = 'none';
        document.getElementById('answer5').style.display = 'none';
        //document.getElementById('answer7').style.display = 'none';
        //document.getElementById('answer8').style.display = 'none';
        //document.getElementById('answer9').style.display = 'none';
        document.getElementById('answer6').style.display = 'none';
        document.getElementById('answer10').style.display = 'block';
        $("#answer10").html('<div class="section_loader"><img src="/template/assets/images/ajax-loader.gif"/></div>');

        $.ajax({
          type : "GET",
          url : "/profile/booking/"+type+"/"+cs_id,
          dataType: 'JSON',
          success: function(result)
          {
            $("#answer10").html(result.htmlContent);
          }
        });

        return true;
      }

    </script>

{% endblock content %}

