{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Coworker ­- cowork spaces for coworking people" %}{% endblock %}

{% block content %}
    <link href="{% static 'css/croppic.css' %}" rel="stylesheet">

    <div class="cow_submission_main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 pade_none coworker_submission_detail">
                    <h2>List Your Space</h2>

                    <div class="col-xs-12 pade_none coworker_submission_detail_inn">

                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none co_submmision_left">
                            {% include "place/forms/menu.html" %}
                        </div>

                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none co_submmision_rgt">
                            {% include 'place/forms/base.html' %}
                        </div>
                        <!------------->
                        <div class="col-xs-12 co_buttns_out">
                            <div class="right_aln">
                                <ul>
                                    <li><a href="javascript:void(0);" onclick="previousStep();" class="previous_btn">Previous</a></li>
                                    <li><a href="javascript:void(0);" onclick="nextStep();" id="space_next_btn">Next</a></li>
                                    <!-- UNCOMMENT LAUNCH STRIPE ----
                                    <li><a href="javascript:void(0);" onclick="verifyPayment();" class="space_submit_btn">Submit</a></li>
                                    -->
                                    <li><a href="javascript:void(0);" onclick="saveSpace();" class="space_submit_btn">Submit</a></li>

                                </ul>
                            </div>
                        </div>

                        <input type="hidden" id="space_continue" name="space_continue" value="1">
                        <input type="hidden" id="user_space_id" name="user_space_id" value="8155">
                        <input type="hidden" name="xlat" id="xlat" value="u">
                        <input type="hidden" name="xlng" id="xlng" value="u">
                        <input type="hidden" name="hours_combined" id="hours_combined" value="1">
                        <input type="hidden" id="additionalList" name="additionalList">
                        <input type="hidden" id="headerList" name="headerList" value="">
                        <input type="hidden" id="officesList" name="officesList" value="">
                        <input type="hidden" id="emailList" name="emailList" value="">
                    </div>
                </div>

            </div>
            <!-- loading pop -->
            <div class="modal fade" id="popup_loading" role="dialog">
                <div class="screen_loader"><img src="{% static 'img/ajax-loader.gif' %}"></div>
            </div>

        </div>
    </div>

    <script>
      var autocomplete;
      var map;

      function initMap()
      {

        var mapOptions = {zoom: 3, center: new google.maps.LatLng(50.4501,30.5234)};

        map = new google.maps.Map(document.getElementById('space_map'), mapOptions);

        var input = document.getElementById('autocomplete');


        var autocomplete = new google.maps.places.Autocomplete(input);

        var marker = new google.maps.Marker({
          draggable: true,
          map: map,
          anchorPoint: new google.maps.Point(0, -20)
        });

        google.maps.event.addListener(marker, 'dragend', function (event) {
          jQuery('#xlat').val(event.latLng.lat());
          jQuery('#xlng').val(event.latLng.lng());
        });
        autocomplete.addListener('place_changed', function ()
        {
          marker.setVisible(false);
          jQuery('#formatted_address').text("");

          var place = autocomplete.getPlace();
          console.log(place);


          if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
          }

          // If the place has a geometry, then present it on a map.
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(18);  // Why 17? Because it looks good.
          }

          marker.setPosition(place.geometry.location);
          marker.setVisible(true);

          jQuery('#xlat').val(place.geometry.location.lat());
          jQuery('#xlng').val(place.geometry.location.lng());

          jQuery('#autocomplete').val(place.formatted_address);

          //Address 1
          var street_address = getAddressComponent(place.address_components,'street_address');
          var street_number = getAddressComponent(place.address_components,'street_number');
          var route = getAddressComponent(place.address_components,'route');
          if(street_address === ''){
            street_address = street_number + " " + route;
          }
          if(street_address.trim() === '') {
            street_address = place.formatted_address;
          }
          jQuery('#address').val(street_address);

          var postal_code = getAddressComponent(place.address_components,'postal_code');
          jQuery('#postal_code').val(postal_code);

          var neighborhood = getAddressComponent(place.address_components,'neighborhood');
          jQuery('#area').val(neighborhood);

          var city = getAddressComponent(place.address_components,'locality');
          jQuery('#city').val(city);
          jQuery('#f_city').val(city);

          $('#list_space_continue').formValidation('revalidateField', 'address');
          $('#list_space_continue').formValidation('revalidateField', 'city');
          $('#list_space_continue').formValidation('revalidateField', 'country');

          toggleLocationCheckmark();

        });
      }

      function displayAnswer(divID){
        if(document.getElementById(divID).style.display == 'block'){
          var closeAnswer = true;
        }
        document.getElementById('answer1').style.display = 'none';
        document.getElementById('answer2').style.display = 'none';
        document.getElementById('answer3').style.display = 'none';
        document.getElementById('answer4').style.display = 'none';
        document.getElementById('answer5').style.display = 'none';
        document.getElementById('answer6').style.display = 'none';
        document.getElementById('answer7').style.display = 'none';
        document.getElementById('answer8').style.display = 'none';
        document.getElementById('answer9').style.display = 'none';
        document.getElementById('answer10').style.display = 'none';
        document.getElementById('answer11').style.display = 'none';
        document.getElementById('answer12').style.display = 'none';
        if(!closeAnswer) {
          if((divID=="answer4")&&(map==undefined)){
            //initialize();
            //TODO here need uncomment
            {#    initMap();#}
          }

          if(divID=="answer12"){
            var fv = $('#list_space_continue').data('formValidation'); // FormValidation instance
            var errors=0;
            for (var co = 1; co < 14; co++) {
              // The current tab
              try {
                $tab = $('#list_space_continue').find('#answer'+co);
                fv.validateContainer($tab);
                var isValidStep = fv.isValidContainer($tab);
              } catch(e) {
                console.log("error in step");
                isValidStep = true;
              }

              {#      $tab = $('#list_space_continue').find('#answer'+co);#}
              {#      fv.validateContainer($tab);#}

              if (isValidStep === false || isValidStep === null) {
                errors=co;
                if("answer"+co=="answer6"){
                  $('#i_hours').hide();
                }
                break;
              } else {
                if(co==8){
                  if(validateImages()!=0){
                    errors=co;
                    break;
                  }
                }
                if("answer"+co=="answer6"){
                  $('#i_hours').show();
                }
              }
            }
            if(errors==0) {
              document.getElementById(divID).style.display = '';
              $('#i_marketing').show();
              $(".space_submit_btn").show();
              $("#space_next_btn").hide();
            } else {
              if(errors!=9){
                $('.co_submmision_left li a').removeClass('left_active');
                $('#'+errors).addClass('left_active');
                displayAnswer('answer'+errors);
              } else {
                $('.co_submmision_left li a').removeClass('left_active');
                $('#'+errors).addClass('left_active');
                document.getElementById(divID).style.display = '';
              }
            }
          } else {
            $(".space_submit_btn").hide();
            $("#space_next_btn").show();
            document.getElementById(divID).style.display = '';
            if(divID=="answer4") {
              document.getElementById("autocomplete").focus();
            }else if(divID=="answer8") {
              loadHeader=1;
              if(typeof cropContainerEyecandy == 'undefined') {
                var minHeight = ($('#cropContainerEyecandy').width()/1280)*465;
                $('#cropContainerEyecandy').height(minHeight);
                setTimeout( function(){
                  croppicContainerEyecandyOptions.uploadData.xview = $('#cropContainerEyecandy').width();
                  croppicContainerEyecandyOptions.uploadData.sview = 1280;
                  croppicContainerEyecandyOptions.uploadData.cwuser_id = $('#user_space_id').val();
                  cropContainerEyecandy = new Croppic('cropContainerEyecandy', croppicContainerEyecandyOptions);
                  var minHeightHead = ($('#cropContainerEyecandy').width()/1280)*77;
                  $('#customHead').height(minHeightHead);
                  $('#customHead').width($('#cropContainerEyecandy').width());
                  $('#cropContainerHeaderDiv').width($('#cropContainerEyecandy').width());
                  $('#cropContainerHeaderDiv').height(minHeight);
                }, 500 );
              }
            }
          }
        }
        if($(".co_submmision_left li:first-child a").hasClass("left_active")){
          $(".previous_btn").hide();
        } else{
          $(".previous_btn").show();
        }
        /*
        $('html, body').animate({
        scrollTop: $(".main_outer").offset().top
        },0);*/
        return false;
      }
      function displayClosedHour(c){
        var hour_name = c.name.replace("open", "close");
        var hours_val={'hours[1][open]': 'hoursMonClose',
          'hours[2][open]': 'hoursTueClose',
          'hours[3][open]': 'hoursWedClose',
          'hours[4][open]': 'hoursThuClose',
          'hours[5][open]': 'hoursFriClose'};
        var ena_valClose = true;
        if((c.value==-1)||(c.value=='24_00')){
          $("select[name='"+hour_name+"']").parent().css('visibility','hidden');

          ena_valClose = false;
        }
        else
          $("select[name='"+hour_name+"']").parent().css('visibility','visible');
        var fvValHours = $('#list_space_continue').data('formValidation'); // FormValidation instance
        fvValHours.enableFieldValidators(hours_val[c.name], ena_valClose, "notEmpty");
        fvValHours.resetField(hours_val[c.name].replace("Close", "Open"));
        fvValHours.resetField(hours_val[c.name]);
        $("#6").focus();
      }
      function enableHoursValidate(ena){
        var fvHours = $('#list_space_continue').data('formValidation'); // FormValidation instance
        fvHours.enableFieldValidators('hoursTueOpen', ena, "notEmpty");
        fvHours.enableFieldValidators('hoursTueClose', ena, "notEmpty");
        fvHours.enableFieldValidators('hoursWedOpen', ena, "notEmpty");
        fvHours.enableFieldValidators('hoursWedClose', ena, "notEmpty");
        fvHours.enableFieldValidators('hoursThuOpen', ena, "notEmpty");
        fvHours.enableFieldValidators('hoursThuClose', ena, "notEmpty");
        fvHours.enableFieldValidators('hoursFriOpen', ena, "notEmpty");
        fvHours.enableFieldValidators('hoursFriClose', ena, "notEmpty");
      }
      function validateChangeClose(c){
        var hours_val={'hours[1][close]': 'hoursMonClose',
          'hours[2][close]': 'hoursTueClose',
          'hours[3][close]': 'hoursWedClose',
          'hours[4][close]': 'hoursThuClose',
          'hours[5][close]': 'hoursFriClose',
          'sat_close': 'hoursSatClose',
          'sun_close': 'hoursSunClose',};
        var fvValHours = $('#list_space_continue').data('formValidation'); // FormValidation instance
        fvValHours.resetField(hours_val[c.name].replace("Close", "Open"));
        fvValHours.resetField(hours_val[c.name]);
        $("#6").focus();
      }
      function validateChangeHours(){
        var fv6 = $('#list_space_continue').data('formValidation'); // FormValidation instance
        $tab6 = $('#list_space_continue').find('#answer6');
        fv6.validateContainer($tab6);
        var isValidStep6 = fv6.isValidContainer($tab6);
        if(isValidStep6 === false || isValidStep6 === null){
          $('#i_hours').hide();
        } else {
          $('#i_hours').show();
        }
      }
    </script>

    <script type="text/javascript">

      $(document).ready(function() {
        $("#extra_desc").click(function(){
          if($("#extra_desc").is(':checked')){
            $("#other_lang").show();
          } else {
            $("#other_lang").hide();
          }
        });
        $("#country_id").combobox();
        $("#state_id").combobox();

        $('#list_space_continue')
          .formValidation({
            framework: 'bootstrap',
            excluded: ':disabled',
            button: {
              selector: '#validateButton'
            },
            fields: {
              ls_email: { validators: { notEmpty: { message: 'The email address is required' },
                emailAddress: { enabled: false, message: 'The input is not a valid email address'}
              }
              },
              cs_description: { validators: { notEmpty: { message: 'The Description is required' },
                stringLength: { enabled: false, min: 1, message: '*minimum  of 350 characters required' }
              }
              },
              address: { validators: { notEmpty: { message: 'The address is required' } } },
              country:  {selector: '#country', validators: { notEmpty: { message: 'The country is required' } } },
              state:  {selector: '#state', validators: { notEmpty: { message: 'The state is required' } } },
              city: { validators: { notEmpty: { message: 'The city is required' } } },
              c_per_month: { validators: {  numeric: { message: 'The price must be a number',
                transformer: function($field, validatorName, validator) {
                  var value = $field.val();
                  return value.replace(',', '');
                }
              }
              }
              },
              hoursMonOpen:  { selector: '.hoursMonOpen',  validators: { notEmpty: { message: 'What time do you open?' } } },
              hoursMonClose: { selector: '.hoursMonClose', validators: { notEmpty: { message: 'What time do you close?'} } },
              hoursTueOpen:  { selector: '.hoursTueOpen',  validators: { notEmpty: { message: 'What time do you open?' } } },
              hoursTueClose: { selector: '.hoursTueClose', validators: { notEmpty: { message: 'What time do you close?'} } },
              hoursWedOpen:  { selector: '.hoursWedOpen',  validators: { notEmpty: { message: 'What time do you open?' } } },
              hoursWedClose: { selector: '.hoursWedClose', validators: { notEmpty: { message: 'What time do you close?'} } },
              hoursThuOpen:  { selector: '.hoursThuOpen',  validators: { notEmpty: { message: 'What time do you open?' } } },
              hoursThuClose: { selector: '.hoursThuClose', validators: { notEmpty: { message: 'What time do you close?'} } },
              hoursFriOpen:  { selector: '.hoursFriOpen',  validators: { notEmpty: { message: 'What time do you open?' } } },
              hoursFriClose: { selector: '.hoursFriClose', validators: { notEmpty: { message: 'What time do you close?'} } },
              hoursSatOpen:  { selector: '.hoursSatOpen',  validators: { notEmpty: { message: 'What time do you open?' } } },
              hoursSatClose: { selector: '.hoursSatClose', validators: { notEmpty: { message: 'What time do you close?'} } },
              hoursSunOpen:  { selector: '.hoursSunOpen',  validators: { notEmpty: { message: 'What time do you open?' } } },
              hoursSunClose: { selector: '.hoursSunClose', validators: { notEmpty: { message: 'What time do you close?'} } }
            }
          }).on('err.field.fv', function(e, data) {
          showSubmitButton(0,data);
        }).on('success.field.fv', function(e, data) {
          showSubmitButton(1,data);
        }).on('focus', '[name="ls_email"]', function() {
          var fv = $('#list_space_continue').data('formValidation'); // FormValidation instance
          fv.enableFieldValidators('ls_email', false, "emailAddress");
        }).on('focus', '[name="cs_description"]', function() {
          var fv = $('#list_space_continue').data('formValidation'); // FormValidation instance
          fv.enableFieldValidators('cs_description', false, "stringLength");
        });

        enableHoursValidate(false);
        var fvHours = $('#list_space_continue').data('formValidation'); // FormValidation instance
        fvHours.enableFieldValidators('hoursSatOpen', false, "notEmpty");
        fvHours.enableFieldValidators('hoursSatClose', false, "notEmpty");
        fvHours.enableFieldValidators('hoursSunOpen', false, "notEmpty");
        fvHours.enableFieldValidators('hoursSunClose', false, "notEmpty");
      });
      function showSubmitButton(s,data){
        var step_id = $('.co_submmision_left li a.left_active')[0].id*1;
        if((s==1)&&(step_id==11)){
          if(data.fv.getInvalidFields().length==0){
            $('#i_marketing').show();
            $(".space_submit_btn").show();
            $("#space_next_btn").hide();
          } else {
            $(".space_submit_btn").hide();
            $("#space_next_btn").show();
          }
        } else {
          if(step_id==11){
            $(".space_submit_btn").hide();
            $("#space_next_btn").show();
          }
        }
      }
      function nextStep(){
        console.log("works?");
        var numTabs = $('#list_space_continue').find('.co_descrip_con').length;
        var step_id = $('.co_submmision_left li a.left_active')[0].id*1;
        var fv = $('#list_space_continue').data('formValidation'); // FormValidation instance
        // The current tab
        $tab = $('#list_space_continue').find('#answer'+step_id);
        if(step_id==1){
          fv.enableFieldValidators('cs_description', true, "stringLength");
        }
        if(step_id==2){
          fv.enableFieldValidators('ls_email', true, "emailAddress");
        }
        try {
          fv.validateContainer($tab);
          var isValidStep = fv.isValidContainer($tab);
        } catch (e){
          console.log("error");
          var isValidStep = true;
        }
        if (isValidStep === false || isValidStep === null) {
        } else {
          var main_error = 0;
          if(step_id==2){
            if(validateEmails()>0)
              main_error++;
          }
          if(step_id==8){
            if(validateImages()>0)
              main_error++;
          }
          if(main_error==0){
            if(step_id+1<13) {
              $('.co_submmision_left li a').removeClass('left_active');
              $('#'+(step_id+1)).addClass('left_active');
              displayAnswer('answer'+(step_id+1));
            } else {
              $('#additionalList').val(JSON.stringify(upAdditionalList));
              $('#headerList').val(JSON.stringify(upHeaderList));
              $('#list_space_continue')[0].submit();
            }
          }
        }
      }
      function previousStep(){
        var step_id = $('.co_submmision_left li a.left_active')[0].id*1;
        if(step_id>1){
          $('.co_submmision_left li a').removeClass('left_active');
          $('#'+(step_id-1)).addClass('left_active')
          displayAnswer('answer'+(step_id-1));
        }
      }
      function jumpToTab(tabId){
        var numTabs = $('#admin_user_space').find('.co_descrip_con').length;
        var step_id = $('.co_submmision_left li a.left_active')[0].id*1;
        if(tabId!=step_id){
          var fv = $('#list_space_continue').data('formValidation'); // FormValidation instance
          // The current tab
          $tab = $('#list_space_continue').find('#answer'+step_id);
          if(step_id==1){
            fv.enableFieldValidators('cs_description', true, "stringLength");
          }
          if(step_id==2){
            fv.enableFieldValidators('ls_email', true, "emailAddress");
          }
          try {
            fv.validateContainer($tab);
            var isValidStep = fv.isValidContainer($tab);
          } catch(e) {
            console.log("error in step");
            isValidStep = true;
          }

          if (isValidStep === false || isValidStep === null) {
          } else {
            var main_error = 0;
            if(step_id==2){
              if(validateEmails()>0)
                main_error++;
            }
            if(step_id==8){
              if(validateImages()>0)
                main_error++;
            }
            if(main_error==0){
              $('.co_submmision_left li a').removeClass('left_active');
              $('#'+tabId).addClass('left_active')
              displayAnswer('answer'+tabId);
            }
          }
        }
      }
      function validateEmails(){
        var er_emails = 0;
        $('#contact_emails input').each(function() {
          var n_xmail=$(this).val().trim();
          if((n_xmail!='')&&(!validateEmail(n_xmail)))
            er_emails++;
        });
        if(er_emails>0)
          $('#contact_emails_error').show();
        else
          $('#contact_emails_error').hide();
        return er_emails;
      }
      /* UNCOMMENT LAUNCH STRIPE ----
      function verifyPayment() {
        if($("#mrkt_leadgen").val() === "1") {
          // Grab the form:
          var $form = $('#list_space_continue');

          // Disable the submit button to prevent repeated clicks:
          $(".space_submit_btn").hide();

          // Request a token from Stripe:
          Stripe.card.createToken($form, stripeResponseHandler);
          // Prevent the form from being submitted:
          return false;
        }
        else {
          saveSpace();
        }
      }
      function stripeResponseHandler(status, response) {
        // Grab the form:
        var $form = $('#list_space_continue');
        if (response.error) { // Problem!
          // Show the errors on the form:
          $form.find('.payment-errors').text(response.error.message);
          $(".space_submit_btn").show(); // Re-enable submission
        } else { // Token was created!
          // Get the token ID:
          var token = response.id;
          // Insert the token ID into the form so it gets submitted to the server:
          $form.append($('<input type="hidden" name="stripeToken">').val(token));

          $.ajax({
            url  : '< ? $siteUrl; ? >lead_subscribe_payment',
            type : 'POST',
            dataType: "json",
            data : {
              'space_name' : $('#space_name').val(),
              'city' : $('#city').val(),
              'stripeToken' : token,
              'mrkt_leadgen' : $("#mrkt_leadgen").val(),
              'user_space_id' : $('#user_space_id').val(),
              'opt_tour' : $('#opt_tour').val(),
              'opt_daypass' : $('#opt_daypass').val(),
              'sched_tour' : $('#sched_tour').val(),
              'sched_daypass' : $('#sched_daypass').val()
            },

            success : function(data){
              if(data.status === "error") {
                  $form.find('.payment-errors').text(data.message);
                  $(".space_submit_btn").show(); // Re-enable submission
                  return false;
              }
              else {
                  // Submit the form and save the rest of the space data
                  saveSpace();
              }
            },error: function (jqXHR, exception) {
              alert("There was an issue submitting your space. Please try again.");
              $(".space_submit_btn").show(); // Re-enable submission
            }
          });
        }
      };
      */
      function getMainImg(){
        if($('.cropImgWrapper').length>0)
          $('#headerList').val($('.cropImgWrapper > img').attr('src'));
        else if($('.croppedImg').length>0)
          $('#headerList').val($('.croppedImg').attr('src'));
        else
          $('#headerList').val('');
      }
      function validateImages(){
        getMainImg();
        var er_imgs = 0;
        var cover_error = $('#headerList').val()=='';
        var adds_error = upAdditionalList.length<2;
        if((cover_error)&&(adds_error)){
          $('#img_error').show();
          $('#thumbs_error').show();
          $('#i_photos').hide();
          er_imgs = 3;
        } else if(cover_error) {
          $('#img_error').show();
          $('#thumbs_error').hide();
          $('#i_photos').hide();
          er_imgs = 1;
        } else if(adds_error) {
          $('#img_error').hide();
          $('#thumbs_error').show();
          $('#i_photos').hide();
          er_imgs = 2;
        } else {
          $('#img_error').hide();
          $('#thumbs_error').hide();
          $('#i_photos').show();
          er_imgs = 0;
        }
        return er_imgs;
      }
      function saveSpace(){
        $("#popup_loading").modal("show");
        $('#additionalList').val(JSON.stringify(upAdditionalList));
        if(loadHeader==0){
          $('#headerList').val('');
        } else {
          getMainImg();
        }
        var offices_list = [];
        $("div[id^='priv_office']").each(function() {
          var pof_id  = $(this).attr('id').replace('priv_office','');
          var res_ser = { };
          var obj_ser = $("#"+$(this).attr('id')+" *" ).serializeArray();
          var prices_t= {};
          var prices_p= {};
          var prices_h= {};
          for (var iq = 0, len = obj_ser.length; iq < len; iq++) {
            res_ser['of-id']=pof_id;
            if(obj_ser[iq].name=='priv_off_name'+pof_id)
              res_ser['name'] = obj_ser[iq].value;
            else if(obj_ser[iq].name=='priv_off_qty'+pof_id)
              res_ser['qty'] = obj_ser[iq].value;
            else if(obj_ser[iq].name=='priv_off_number'+pof_id)
              res_ser['nbr'] = obj_ser[iq].value;
            else if(obj_ser[iq].name=='priv_off_wboard'+pof_id)
              res_ser['wboard'] = obj_ser[iq].value;
            else {
              var pof_idxs= (obj_ser[iq].name.replace("]","")).split("[");
              var pof_key = pof_idxs[2].replace("]","");
              if(pof_key=='dur')
                prices_t[pof_idxs[1]]=obj_ser[iq].value;
              else if(pof_key=='price')
                prices_p[pof_idxs[1]]=obj_ser[iq].value;
              else
                prices_h[pof_idxs[1]]=obj_ser[iq].value;
            }
          }
          res_ser['times'] =prices_t;
          res_ser['prices']=prices_p;
          res_ser['hours'] =prices_h;
          offices_list.push(res_ser);
        });
        var email_list = '';
        $('#contact_emails input').each(function() {
          var n_xmail=$(this).val().trim();
          if(n_xmail!='')
            email_list = (email_list=='' ? '' : email_list+',') + n_xmail;
        });
        $('#emailList').val(email_list);
        $('#officesList').val(JSON.stringify(offices_list));
        $('#list_space_continue')[0].submit();
      }
      var upAdditionalList = [];
      var upHeaderList = [];
      $(document).ready(function () {
        Dropzone.autoDiscover = false;
        var cwu_id = $('#user_space_id').val();
        var i = 0;
        $("#spaceAdditional").dropzone({
          addRemoveLinks: true,
          maxFilesize: 15,
          maxFiles: 20,
          init: function () {
            // Hack: Add the dropzone class to the element
            $(this.element).addClass("dropzone");
            this.on("success", function (file, dataResponse) {
              var serverFile = JSON.parse(dataResponse);
              if(serverFile.msg=='error'){
              } else {
                var new_file = serverFile.name.substr(0,serverFile.name.lastIndexOf('_'))+'.'+serverFile.ext;
                file.previewElement.querySelector("[data-dz-name]").innerHTML=new_file;
                upAdditionalList[i] = {'sfile':serverFile.name,'ext':serverFile.ext,'file':new_file,'size':file.size};
                i++;
              }
              validateImages();
            });
            this.on("sending", function (file, xhr, formData) {
              formData.append('cwu_id',cwu_id);
            });
            this.on("removedfile", function (file) {
              var rmvFile = file.previewElement.querySelector("[data-dz-name]").innerHTML;
              for (f = 0; f < upAdditionalList.length; f++) {
                if (upAdditionalList[f].file == rmvFile) {
                  upAdditionalList.splice(f, 1);
                  i--;
                }
              }
              validateImages();
            });
          },
          url: "https://www.coworker.com/list-space/dropzone"
        });
      });
      $(function() {
        $( "#city" ).autocomplete({
          source:function(request, response) {
            var x_country_id = 0;
            var x_state_id   = 0;
            if($("#country_id").val()!=''){
              x_country_id = $("#country_id").val();
            }
            if($("#state_id").val()!='')
              x_state_id = $("#state_id").val();
            $.ajax({
              url: 'https://www.coworker.com/getCity',
              dataType: "json",
              type: "POST",
              data: { term : request.term, country_id : x_country_id, state_id:x_state_id },
              success: function(data) {
                response(data);
              }
            });
          },minLength:1,
          messages: {
            noResults: '',
            results: function() {}
          },
          select: function (event, ui) {
            $("#city").val(ui.item.value);
          }
        }).autocomplete( "instance" )._renderItem = function( ul, item ) {
          var loc_icon = '<i class="fa fa-map-markerui"></i>';
          return $( "<li>" ).append( loc_icon + item.label ).appendTo( ul );
        };
      });
      var x_view=-1;
      var loadHeader = 0;
      var cropContainerEyecandy = undefined;
      var croppicContainerEyecandyOptions = {
        uploadUrl:'https://www.coworker.com/list-space/header',
        uploadData:{ "xview":x_view, "sview": 1},
        cropUrl:'https://www.coworker.com/list-space/header-edit',
        imgEyecandy:false,
        customUploadButtonId:'cropContainerHeaderDiv',
        onBeforeImgUpload: function(){ croppicContainerEyecandyOptions.uploadData.xview = $('#cropContainerEyecandy').width();},
        onAfterImgUpload: function(){
          var minHeightHead = ($('#cropContainerEyecandy').width()/1280)*77;
          $('#customHead').height(minHeightHead);
          $('#customHead').width($('#cropContainerEyecandy').width());
          $('#cropContainerHeaderDiv').width($('#cropContainerEyecandy').width());
          validateImages();
        },
        onImgDrag: function(){},
        onImgZoom: function(){},
        onBeforeImgCrop: function(){},
        onAfterImgCrop:function(){
          var minHeightHead = ($('#cropContainerEyecandy').width()/1280)*77;
          $('#customHead').height(minHeightHead);
          $('#customHead').width($('#cropContainerEyecandy').width());
          $('#cropContainerHeaderDiv').hide();
          validateImages();
        },
        onReset:function(){
          var minHeightHead = ($('#cropContainerEyecandy').width()/1280)*77;
          $('#customHead').height(minHeightHead);
          $('#customHead').width($('#cropContainerEyecandy').width());
          validateImages();
        },
        onError:function(errormessage){ console.log('onError:'+errormessage) }
      }
      $('#cs_description').on('keyup',function(){
        var f_val = $(this).val().trim();
        if((f_val!='')&&(f_val.length>=350)){
          $('#i_desc').show();
        } else {
          $('#i_desc').hide();
        }
      });
      function showStateAuto(c_id){
        var validate_state = false;
        if(c_id==231){
          $('#stateField').show();
          $('#state').val('');
          validate_state = true;
        } else{
          validate_state = false;
          $('#stateField').hide();
        }
        var fvSpace = $('#list_space_continue').data('formValidation'); // FormValidation instance
        fvSpace.enableFieldValidators('state', validate_state, "notEmpty");
        fvSpace.resetField('state');
      }
      $('#ls_email').on('keyup',function(){
        var f_val = $(this).val().trim();
        if((f_val!='')&&(validateEmail(f_val))){
          $('#i_con').show();
          $('#notification-email-01').val(f_val);
        } else {
          $('#i_con').hide();
        }
      });
      $('#notification-email-01').on('keyup',function(){
        var email_01 = $('#notification-email-01').val().trim();
        $('#ls_email').val(email_01);
      });
      $('#deposit').on('keyup',function(){
        var f_val = $(this).val().trim();
        if(f_val!=''){
          $('#i_mp').show();
        } else {
          $('#i_mp').hide();
        }
      });
      $('#address').on('keyup',toggleLocationCheckmark);
      $('#city').on('keyup',toggleLocationCheckmark);
      $('#country').on('keyup',toggleLocationCheckmark);

      function toggleLocationCheckmark() {
        if(($('#address').val().trim()  != '') &&
          ($('#country').val().trim() != '') &&
          ($('#city').val().trim() != '')) {
          $('#i_loc').show();
        }
        else {
          $('#i_loc').hide();
        }
      }

      function getAddressComponent(address_components, key) {
        for(var i=0; i < address_components.length; i++)
        {
          var component = address_components[i];
          if(component.types[0] === key)
          {
            return component.long_name;
          }
        }
        return '';
      }

      function validateEmail(email) {
        var re = /\S+@\S+\.\S+/;
        return re.test(email);
      }
      $("input[name^='amenities'],input[name^='add_amenities']").on('change',function(){
        if(($("input[name^='amenities']:checked").length>0)||($("input[name^='add_amenities']:checked").length>0))
          $('#i_am').show();
        else
          $('#i_am').hide();
      });
      $("select[name='desks'],select[name='private_office'],select[name='total_capacity'],select[name='size']").on('change',function(){
        if((($("select[name='desks']").val()!=0)||($("select[name='private_office']").val()!=0)) ||
          (($("select[name='total_capacity']").val()!=0)||($("select[name='size']").val()!=0)))
          $('#i_size').show();
        else
          $('#i_size').hide();
      });
      $(".mp_desk").on('keyup',function(){
        var inputStr = $(this).val();
        var inValP = 0;
        if((inputStr.length==0)) {console.log(1);
          $('#open_plans').find('.odesk_p').each(function() {
            console.log(2);
            if($(this).css('display')=='block'){
              $(this).find('.mp_desk').each(function() {
                if(($(this).val().length>0)){
                  inValP++;
                }
              });
            }
          });
          $('#dedic_plans').find('.ddesk_p').each(function() {
            if($(this).css('display')=='block'){
              $(this).find('.mp_desk').each(function() {
                if(($(this).val().length>0)){
                  inValP++;
                }
              });
            }
          });
          if(inValP==0)
            $('#i_price').hide();
          else
            $('#i_price').show();
        } else {
          $('#i_price').show();
        }
      });
      $(".of_price").on('keyup',function(){
        var inputStr = $(this).val();
        var inValP = 0;
        if((inputStr.length==0)) {console.log(1);
          $('#office_plansA').find('.ix_of_p').each(function() {
            console.log(2);
            if($(this).css('display')=='block'){
              $(this).find('.of_price').each(function() {
                if(($(this).val().length>0)){
                  inValP++;
                }
              });
            }
          });
          if(inValP==0)
            $('#i_office').hide();
          else
            $('#i_office').show();
        } else {
          $('#i_office').show();
        }
      });
    </script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/autocombobox.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/formValidation.min.js' %}"></script>
    <script src="{% static 'js/fv.bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/formValidation.min.css' %}">
    <link href="{% static 'css/dropzone.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/dropzone.js' %}" type="text/javascript"></script>
    <link href="{% static 'css/croppic.css' %}" rel="stylesheet">
    <script src="{% static 'not_sure/js' %}"></script>
    <!-- marketing day/hour selection -->
    <script type="text/javascript" src="{% static 'js/jquery.timepicker.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.timepicker.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.businessHours.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.businessHours.css' %}">
    <script type="text/javascript" src="{% static 'js/list-space-helper.js' %}"></script>

    <script src="{% static 'js/croppic.js' %}"></script>
    <script src="{% static 'js/coworkerPopups.js' %}"></script>
    <link href="{% static 'css/flags.css' %}" rel="stylesheet">


    <script>
      function toggleTourSched() {
        if($("#opt_tour").is(':checked')){
          $("#tour_hours").show();
        } else {
          $("#tour_hours").hide();

          /* UNCOMMENT LAUNCH STRIPE ----
          if(!$("#opt_daypass").is(':checked'))
          {
              disableMarketing();
          } */
        }
      }
      function toggleDayPassSched() {
        if($("#opt_daypass").is(':checked')){
          $("#daypass_hours").show();
        } else {
          $("#daypass_hours").hide();

          /* UNCOMMENT LAUNCH STRIPE ----
          if(!$("#opt_tour").is(':checked'))
          {
              disableMarketing();
          } */
        }
      }

      /* UNCOMMENT LAUNCH STRIPE ----
      function toggleActivateMarketing(state) {
          if(state === 0) {
              $('#opt_tour').prop('checked', false);
              $('#opt_daypass').prop('checked', false);
              disableMarketing();
          } else {

              $('#opt_tour').prop('checked', true);
              $('#opt_daypass').prop('checked', true);

              $('#mrkt_leadgen_no').css({
                  "background-color": "transparent",
                  "color": "#fff"
              });

              $('#mrkt_leadgen_yes').css({
                  "background-color": "#fff",
                  "color": "#00d191"
              });

              $('#mrkt_leadgen').val("1");
              document.getElementById("darkLayer").style.display = 'none';
          }
          toggleTourSched();
          toggleDayPassSched();
      }
      function disableMarketing()
      {
          $('#mrkt_leadgen_yes').css({
              "background-color": "transparent",
              "color": "#fff"
          });

          $('#mrkt_leadgen_no').css({
              "background-color": "#fff",
              "color": "#00d191"
          });

          $('#mrkt_leadgen').val("0");
          document.getElementById("darkLayer").style.display = '';
      }
      */
      function enableOpenPrice(t){
        var plans_hidden = $('#open_plans > div:hidden');
        if(plans_hidden.length>0){
          $('#'+plans_hidden[0].id).show();
        }
        if(plans_hidden.length==1)
          $(t).hide();
      }
      function enableDedicPrice(t){
        var plans_hidden = $('#dedic_plans > div:hidden');
        if(plans_hidden.length>0){
          $('#'+plans_hidden[0].id).show();
        }
        if(plans_hidden.length==1)
          $(t).hide();
      }
      function enableOfficePrice(t,x){
        var plans_hidden = $('#office_plans'+x+' > div:hidden');
        if(plans_hidden.length>0)
          $('#'+plans_hidden[0].id).show();
        if(plans_hidden.length==1)
          $(t).hide();
      }
      function newOffice(){
        $('#dv-add-office').addNewPrivateOffice();
        changeCurrency();
      }
      function changeCurrency(){
        var text_currency =  $("#currency_id option:selected").text();
        var price_currency=  text_currency.substring(text_currency.indexOf('-')+2,text_currency.indexOf('(')-1);
        $('.cu_iso').each(function() {
          $('.cu_iso').html(price_currency);
        });
      }
      function newEmail(){
        $('#add_contact_email').addNotificationEmail();
      }
      $(document).ready(function(){
        /* UNCOMMENT LAUNCH STRIPE ----
        $("#mrkt_leadgen_yes").hover(function(){
                if($('#mrkt_leadgen').val() === "0") {
                    $(this).css({"background-color": "#fff","color": "#00d191"});
                }
            }, function(){
                if($('#mrkt_leadgen').val() === "0") {
                    $(this).css({"background-color": "transparent","color": "#fff"});
                }
        });

        $("#mrkt_leadgen_no").hover(function(){
                if($('#mrkt_leadgen').val() === "1") {
                    $(this).css({"background-color": "#fff","color": "#00d191"});
                }
            }, function(){
                if($('#mrkt_leadgen').val() === "1") {
                    $(this).css({"background-color": "transparent","color": "#fff"});
                }
        });
        */
        $(".saturday_cowork_text").hide()
        $("#sat_clk").click(function(){
          var ena_satVal=true;
          if($("#ccc3").is(':checked')){
            $("#sat_open").show();
            $(".saturday_cowork_text").show();
            $("#sat_open02").show();
          } else {
            $("#sat_open").hide();
            $("#sat_open02").hide();
            $(".saturday_cowork_text").hide()
            ena_satVal=false;
          }
          var fvSatHours = $('#list_space_continue').data('formValidation'); // FormValidation instance
          fvSatHours.enableFieldValidators('hoursSatOpen', ena_satVal, "notEmpty");
          fvSatHours.enableFieldValidators('hoursSatClose', ena_satVal, "notEmpty");
          //validateChangeHours();
        });
        $(".saturday_cowork_text002").hide();
        $("#sun_clk").click(function(){
          var ena_sunVal=true;
          if($("#ccc4").is(':checked')){
            $("#sun_open").show();
            $(".saturday_cowork_text002").show();

            $("#sun_open02").show();
          } else {
            $("#sun_open").hide();
            $("#sun_open02").hide();
            $(".saturday_cowork_text002").hide();
            ena_sunVal=false;
          }
          var fvSunHours = $('#list_space_continue').data('formValidation'); // FormValidation instance
          fvSunHours.enableFieldValidators('hoursSunOpen', ena_sunVal, "notEmpty");
          fvSunHours.enableFieldValidators('hoursSunClose', ena_sunVal, "notEmpty");
          //validateChangeHours();
        });

        $("#diffr_from_con").click(function(){
          $("#from_show").show();
          $("#combine_from_con").show();
          $("#diffr_from_con").hide();
          $("#ccc1").prop( "checked", false );
          $("#hours_combined").val(0);
          $("#lbl_monday").text('Monday');
          enableHoursValidate(true);
          validateChangeHours();
        });

        $("#combine_from_con").click(function(){
          $("#from_show").hide();
          $("#combine_from_con").hide();
          $("#diffr_from_con").show();
          $("#ccc2").prop( "checked", false );
          $("#hours_combined").val(1);
          $("#lbl_monday").text('Monday - Friday');
          enableHoursValidate(false);
          validateChangeHours();
        });

        $('#meeting_room_number').on('change', function() {
          var val = $(this).val();
          var total_rooms = $(".mr_name").length;
          if(val==0) {
            $("#room_names").css('visibility','hidden');
            $("#room_caps").css('visibility','hidden');
            $('#i_rooms').hide();
          } else {
            $("#room_names").css('visibility','visible');
            $("#room_caps").css('visibility','visible');
            $('#i_rooms').show();
          }
          if(total_rooms>val){
            while(total_rooms>val){
              $("#room_names input:last-child").remove();
              $("#room_caps select:last-child").remove();
              total_rooms = $(".mr_name").length;
            }
          } else if(total_rooms<val){
            for (var r = total_rooms+1; r <= val; r++) {
              // Clone the Template
              var room_name = '<input type="text" name="room_info['+r+'][name]" class="meet_icon mr_name" placeholder="Meeting Room '+r+'">';
              $('#room_names').append(room_name);
              var opts_capacity = '';
              for (var i = 2; i <=500; i++) {
                opts_capacity = opts_capacity+'<option value="'+i+'">'+i+' people</option>';
              }
              var room_capacity = '<select name="room_info['+r+'][total]" class="meet_icon mr_capacity">'+opts_capacity+'</select>';
              $('#room_caps').append(room_capacity);
            }
          }
        });
        $("select[name='sat_open']").on('change', function() {
          var ena_val = true;
          if(this.value=='24_00'){
            $("select[name='sat_close']").parent().css('visibility','hidden');
            ena_val = false;
          } else {
            $("select[name='sat_close']").parent().css('visibility','visible');
          }
          var fvSatHours = $('#list_space_continue').data('formValidation'); // FormValidation instance
          fvSatHours.enableFieldValidators('hoursSatClose', ena_val, "notEmpty");
          fvSatHours.resetField('hoursSatOpen');
          fvSatHours.resetField('hoursSatClose');
          $("#6").focus();
        });
        $("select[name='sun_open']").on('change', function() {
          var ena_val = true;
          if(this.value=='24_00') {
            $("select[name='sun_close']").parent().css('visibility','hidden');
            ena_val = false;
          } else {
            $("select[name='sun_close']").parent().css('visibility','visible');
          }
          var fvSunHours = $('#list_space_continue').data('formValidation'); // FormValidation instance
          fvSunHours.enableFieldValidators('hoursSunClose', ena_val, "notEmpty");
          fvSunHours.resetField('hoursSunOpen');
          fvSunHours.resetField('hoursSunClose');
          $("#6").focus();
        });
        $("input[name=hire_nm]").on('change', function() {
          if($('input[name=hire_nm]:checked').val()=='yes'){
            $('#max_cap').show();
          } else {
            $('#max_cap').hide();
          }
        });
        $("select[name='hours[1][open]']").blur(function() { validateChangeHours(); });
        $("select[name='hours[1][close]']").blur(function(){ validateChangeHours(); });
        $("select[name='hours[2][open]']").blur(function() { validateChangeHours(); });
        $("select[name='hours[2][close]']").blur(function(){ validateChangeHours(); });
        $("select[name='hours[3][open]']").blur(function() { validateChangeHours(); });
        $("select[name='hours[3][close]']").blur(function(){ validateChangeHours(); });
        $("select[name='hours[4][open]']").blur(function() { validateChangeHours(); });
        $("select[name='hours[4][close]']").blur(function(){ validateChangeHours(); });
        $("select[name='hours[5][open]']").blur(function() { validateChangeHours(); });
        $("select[name='hours[5][close]']").blur(function(){ validateChangeHours(); });
        $("select[name='sat_open']").blur(function() { validateChangeHours(); });
        $("select[name='sat_close']").blur(function() { validateChangeHours(); });
        $("select[name='sun_open']").blur(function() { validateChangeHours(); });
        $("select[name='sun_close']").blur(function() { validateChangeHours(); });
      });
    </script>

{% endblock content %}

