{% extends 'base.html' %}
{% load static %}


{% block title %}查看该城市的所有创客空间{% endblock %}


{% block content %}
    <div class="main_outer">

    <div class="breadcrumb_outer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 pade_none breadcrumb_inner">
                    <ul>
                        <li><p>世界</p>5256</li>
                        <li><p>{{ country.contenent.name }}</p>1379</li>
                        <li>
                            <p>
                                <a href="{{ country.name.get_absolute_url }}" style="color: inherit;">
                                    {{ country.name }}
                                </a>
                            </p>134
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--BREADCRUMB END-->
    <!--BANNER START-->
    <div class="city_main_outr"
         style="background-image:url({{ country.image.url }}?mark=/template/img/wm_icon.png&amp;markscale=2&amp;markalign=center,middle&#39;);"
    >
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 pade_none city_inner_main">
                    <div class="city_inner">
                        <div class="city_bang_out">
                            {#                                <img src="{% static 'img/flag.png' %}" class="flag flag-cn">{{ country.name }}  <br>#}
                            {{ country.name }}  <br>
                            <span>134 Spaces</span>
                        </div>
                        <form action="https://www.coworker.com/search" method="post" accept-charset="utf-8" id="search_form" name="search_form">
                            <div class="col-xs-12 pade_none city_white_out">
                                <h2>Search for coworking spaces in <span>{{ country.name }}</span></h2>
                                <div class="col-xs-12 pade_none city_search_main">
                                    <div class="col-sm-6 col-md-6 col-xs-12 pade_none city_daily_con">
                                        <ul>
                                            <li>
                                                <input type="checkbox" id="c1" name="cc" value="dai">
                                                <label for="c1"><span></span>Daily</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="c2" name="cc" value="week">
                                                <label for="c2"><span></span>Weekly</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="c3" name="cc" value="month">
                                                <label for="c3"><span></span>Monthly</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 pade_none city_checkoout">
                                    <a href="javascript:void(0);" onclick="refineSearch();">
                                        Check out 134 Coworking Spaces in {{ country.name }}</a></div>
                            </div>
                            <input id="c_h_location" name="c_h_location" type="hidden" value="{{ country.name }}">
                            <input type="hidden" id="c_place_id" name="c_place_id" value="45">
                        </form></div>
                </div>
            </div>
        </div>
    </div>
    <!--BANNER END-->
    <!--HOT COWORKER DETINATIONS START-->
    <div class="popular_cities_main02">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 pade_none popular_cities_outer" style="display:block">
                    <h2>Popular Cities in {{ country.name }}</h2>
                    <div class="col-sm-12 col-md-12 col-xs-12 pade_none">
                        {% for city in popular_cities %}
                            <div class="col-sm-3 col-md-3 col-xs-12 pade_none popular_cities_pic">
                                <div class="col-xs-12 pade_none popular_cities_pic01" style="background-image:url({{ city.image.url }}); background-size: cover;background-position: center center;max-width:278px;margin: 0 auto;float:none;">
                                    <div class="thailnd_for_auto">
                                        <div class="thailnd_ver_midd"><p>
                                            <a href="{{ city.get_absolute_url }}"
                                               style="color: inherit;">{{ city.name }}</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!--HOT COWORKER DETINATIONS END-->

        <!--RECOMMENDED SPACECS IN BANGKOK START-->
        <div class="bangkok_main_outr" style="margin-top: 23px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12 pade_none thailand_main_inner ">
                        <h2>Top Coworking Spaces in {{ country.name }}</h2>
                        <div class="col-xs-12 pade_none">
                            <div class="col-xs-12 pade_none thailnd_coworker_spaces">

                                <div class="col-sm-6 col-md-6 col-xs-12 pade_none thailnd_lft_out">
                                    {% for place in top_places %}
                                        <div class="col-xs-12 pade_none thailand_inner_out">
                                            <div class="col-sm-6 col-md-6 col-xs-12 pade_none pic_thlnd">
                                                <div class="col-xs-12 pade_none tbh_con">2800 CNY /m</div>
                                                <a href="{{ place.get_absolute_url }}">
                                                    <img src="{{ place.get_main_photo.image.url }}"
                                                         alt="{{ place.space_name }}"
                                                         title="{{ place.space_name }}{{ country.name }}">
                                                </a>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-xs-12 pade_none pic_thlnd_rgt">
                                                <h3>{{ place.space_name }}</h3>
                                                <div class="col-xs-12 pade_none pade_none thlnd_stras">
                                                    <div class="col-xs-6 pade_none thailnd_star">
                                                        <img src="{% static 'img/img_thail_star.png' %}" alt="">
                                                        <img src="{% static 'img/img_thail_star.png' %}" alt="">
                                                        <img src="{% static 'img/img_thail_star.png' %}" alt="">
                                                        <img src="{% static 'img/img_thail_star.png' %}" alt="">
                                                        <img src="{% static 'img/img_thail_star.png' %}" alt="">
                                                    </div>
                                                    <div class="col-xs-6 pade_none start_rate_conn">5/5</div>
                                                </div>
                                                <p>{{ place.cs_description|truncatechars:100 }}.&nbsp;<a href="{{ place.get_absolute_url }}">More</a>
                                                </p>
                                                <div class="col-xs-12 pade_none detail_price_btn"><a href="https://www.coworker.com/{{ country.name }}/shanghai/naked-hub-fu-xing-lu">Details and Prices</a></div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>

                            <div class="col-xs-12 pade_none view_all_thailand_btn"><a href="javascript:void(0);" onclick="refineSearch();">View All Coworking Spaces in {{ country.name }}</a></div>

                        </div>

                        <!--RECENT REVIEWS START-->
                        {#                        <div class="col-sm-12 col-md-12 col-xs-12 pade_none review_bangkok_out02">#}
                        {#                            <h3>Recent reviews in {{ country.name }}</h3>#}
                        {##}
                        {#                            <div class="col-sm-3 col-md-3 col-xs-12 pade_none review_outr">#}
                        {#                                <div class="col-sm-12 col-md-12 col-xs-12 pade_none review_inn02">#}
                        {#                                    <div class="review_lft02"><img src="{% static 'img/img_inverted_commas.png' %}" alt=""></div>#}
                        {#                                    <div class="review_txt02">I have been coming to CoderBunker for about six months, which is being hosted at Agora Space. I came here...&nbsp;<a href="https://www.coworker.com/{{ country.name }}/shanghai/agora-space">Show More</a></div>#}
                        {#                                    <div class="bottm_arrw"><img src="{% static 'img/img_bott_arrw.png' %}" alt=""></div>#}
                        {#                                </div>#}
                        {#                                <div class="col-xs-12 pade_none john_con_pic"><img src="{% static 'not_sure/picture(1)' %}" alt=""></div>#}
                        {#                                <div class="col-xs-12 pade_none john_con">Joseph Beltrami</div>#}
                        {#                                <div class="col-xs-12 pade_none cospace_nme_con"><a href="https://www.coworker.com/{{ country.name }}/shanghai/agora-space" style="color: inherit;">Agora Space</a></div>#}
                        {#                            </div>#}
                        {#                            <div class="col-sm-3 col-md-3 col-xs-12 pade_none review_outr">#}
                        {#                                <div class="col-sm-12 col-md-12 col-xs-12 pade_none review_inn02">#}
                        {#                                    <div class="review_lft02"><img src="{% static 'img/img_inverted_commas.png' %}" alt=""></div>#}
                        {#                                    <div class="review_txt02">DayDayUp is the most international co-working space in {{ country.name }}. There is an average of 3-5 events each week...&nbsp;<a href="https://www.coworker.com/{{ country.name }}/beijing/day-day-up">Show More</a></div>#}
                        {#                                    <div class="bottm_arrw"><img src="{% static 'img/img_bott_arrw.png' %}" alt=""></div>#}
                        {#                                </div>#}
                        {#                                <div class="col-xs-12 pade_none john_con_pic"><img src="{% static 'not_sure/picture(2)' %}" alt=""></div>#}
                        {#                                <div class="col-xs-12 pade_none john_con">Zhang Wang</div>#}
                        {#                                <div class="col-xs-12 pade_none cospace_nme_con"><a href="https://www.coworker.com/{{ country.name }}/beijing/day-day-up" style="color: inherit;">DAY DAY UP</a></div>#}
                        {#                            </div>#}
                        {#                            <div class="col-sm-3 col-md-3 col-xs-12 pade_none review_outr">#}
                        {#                                <div class="col-sm-12 col-md-12 col-xs-12 pade_none review_inn02">#}
                        {#                                    <div class="review_lft02"><img src="{% static 'img/img_inverted_commas.png' %}" alt=""></div>#}
                        {#                                    <div class="review_txt02">DayDayUp is the most international co-working space in {{ country.name }}. There is an average of 3-5 events each week...&nbsp;<a href="https://www.coworker.com/{{ country.name }}/beijing/day-day-up">Show More</a></div>#}
                        {#                                    <div class="bottm_arrw"><img src="{% static 'img/img_bott_arrw.png' %}" alt=""></div>#}
                        {#                                </div>#}
                        {#                                <div class="col-xs-12 pade_none john_con_pic"><img src="{% static 'img/animalavatar05.png' %}" alt=""></div>#}
                        {#                                <div class="col-xs-12 pade_none john_con">Mystery Coworker</div>#}
                        {#                                <div class="col-xs-12 pade_none cospace_nme_con"><a href="https://www.coworker.com/{{ country.name }}/beijing/day-day-up" style="color: inherit;">DAY DAY UP</a></div>#}
                        {#                            </div>#}
                        {#                            <div class="col-sm-3 col-md-3 col-xs-12 pade_none review_outr">#}
                        {#                                <div class="col-sm-12 col-md-12 col-xs-12 pade_none review_inn02">#}
                        {#                                    <div class="review_lft02"><img src="{% static 'img/img_inverted_commas.png' %}" alt=""></div>#}
                        {#                                    <div class="review_txt02">I visited Coffizz a while back for a meeting and it must be one of the best coworking spaces in {{ country.name }}. It...&nbsp;<a href="https://www.coworker.com/{{ country.name }}/beijing/coffizz">Show More</a></div>#}
                        {#                                    <div class="bottm_arrw"><img src="{% static 'img/img_bott_arrw.png' %}" alt=""></div>#}
                        {#                                </div>#}
                        {#                                <div class="col-xs-12 pade_none john_con_pic"><img src="{% static 'not_sure/c473cc191ea9864bf4bb187885882ccf' %}" alt=""></div>#}
                        {#                                <div class="col-xs-12 pade_none john_con">John Li</div>#}
                        {#                                <div class="col-xs-12 pade_none cospace_nme_con"><a href="https://www.coworker.com/{{ country.name }}/beijing/coffizz" style="color: inherit;">Coffizz</a></div>#}
                        {#                            </div></div>#}

                        <!--RECENT THAILAND REVIEWS END-->
                    </div>


                </div>
            </div>
        </div>
        <!--RECOMMENDED SPACECS IN BANGKOK END-->
        <!--MAP CONATINER-->
        {% include "place/elements/big_map.html" with obj=country %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 pade_none bangkok_map_out">
                    <!--TABS START-->
                    <div class="simpleTabs" id="tabber102">
                        <ul class="simpleTabsNavigation">
                            <li><a id="tabber102_a_0" class="current" href="javascript:void(0);" style="cursor:initial;">About {{ country.name }}</a></li>
                        </ul>
                        <div class="simpleTabsContent currentTab" id="tabber102_div_0" style="padding-bottom: 60px;">
                            <div class="col-xs-12 pade_none hongkonk_out">
                                {{ country.desctiption|default:"-" }}
                            </div>
                        </div>
                    </div>
                    <!--TABS END-->
                </div>
            </div>
        </div>

        <!--FOOTER END-->
    </div>

    {#<script type="text/javascript" src="http://api.map.baidu.com/api?key=ctDShmu7hqaGe7GPUEwgpfZDBMiilQxQ&v=1.2&amp;services=true"></script>#}

{% endblock content %}

