{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Coworker ­- cowork spaces for coworking people" %}{% endblock %}

{% block content %}
    <link href="{% static 'css/croppic.css' %}" rel="stylesheet">

    <div class="cow_submission_main">
        <div class="container">
            <div class="row">
                <form action="{% url "place:place_add_amenities" %}" method="post" class="fv-form fv-form-bootstrap" novalidate="novalidate">
                    <div class="col-xs-12 pade_none coworker_submission_detail">
                        <h2>我要出租</h2>

                        <div class="col-xs-12 pade_none coworker_submission_detail_inn">
                            <div class="col-sm-4 col-md-3 col-xs-12 pade_none co_submmision_left">
                                {% include "place/forms/menu.html" with active_menu='place_amenties' completed_menus='place_description, contact_details' %}
                            </div>
                            <div class="col-sm-8 col-md-9 col-xs-12 pade_none co_submmision_rgt">
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                    <div role="alert" class="alert alert-danger">
                                        {% for err in form.non_field_errors %}
                                            {{ err }}<br>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <div class="pade_none co_descrip_con listspace_page_main">
                                    <h3>Tell coworkers about your space</h3>
                                    <p>Some people look for a coworking space with specific amenities. Help them find you when they filter.</p>
                                    <h4>Common Amenities</h4>
                                    <div class="col-xs-12 pade_none coworker_event_bottom_panel social_media_panel">
                                        <div class="col-xs-12 pade_none check_submision_out">
                                            {% for pk, name in form.common_amenities.field.choices %}
                                                {% if forloop.counter0|divisibleby:2 %}
                                                    <div class="col-sm-6 col-md-6 col-xs-12 pade_none">
                                                    <ul>
                                                {% endif %}
                                                <li>
                                                    <input type="checkbox" id="id_common_amenities_{{ pk }}" value="{{ pk }}" name="common_amenities" {% if pk in form.common_amenities.field.initial %}checked{% endif %}>
                                                    <label for="id_common_amenities_{{ pk }}">{{ name }}</label>
                                                </li>
                                                {% if forloop.counter|divisibleby:2 or forloop.last %}
                                                    </ul>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <h4>Additional Amenities</h4>
                                    <div class="col-xs-12 pade_none coworker_event_bottom_panel social_media_panel">
                                        <div class="col-xs-12 pade_none check_submision_out">
                                            {% for pk, name in form.additional_amenities.field.choices %}
                                                {% if forloop.counter0|divisibleby:2 %}
                                                    <div class="col-sm-6 col-md-6 col-xs-12 pade_none">
                                                    <ul>
                                                {% endif %}
                                            <li>
                                                <input type="checkbox" id="id_additional_amenities_{{ pk }}" value="{{ pk }}" name="additional_amenities" {% if pk in form.additional_amenities.field.initial %}checked{% endif %}>
                                                <label for="id_additional_amenities_{{ pk }}">{{ name }}</label>
                                            </li>
                                            {% if forloop.counter|divisibleby:2 or forloop.last %}
                                                </ul>
                                                </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="col-xs-12 co_buttns_out">
                                <div class="right_aln">
                                    <ul>
                                        <li><a href="{% url "place:place_add_contact_details" %}" class="previous_btn" style="display: inline;">Previous</a></li>
                                        <li><button type="submit">Next</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

