{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Coworker ­- cowork spaces for coworking people" %}{% endblock %}

{% block js %}
    <script>
        function PlaceAddMeetingRoomsPage() {
            this.meeting_room_formset_selector = "#meeting-room-formset";
            this.meeting_room_formset_type = "meetingroom_set";
            this.meeting_room_formset_row_selector = "#meeting-room-formset .formset-row";
            this.meeting_room_formset_last_row_selector = "#meeting-room-formset .formset-row:last";
            this.meeting_rooms_formset_template = $('<div/>').append($(this.meeting_room_formset_last_row_selector)).clone(true).html();
            //$(this.meeting_room_formset_last_row_selector).remove();
            //var total_forms_div = $('#id_' + this.meeting_room_formset_type + '-TOTAL_FORMS');
            //var total_forms = parseInt($(total_forms_div).val());
            //total_forms_div.val(total_forms-1);
        }

        PlaceAddMeetingRoomsPage.prototype.change_meeting_rooms_number = function (count) {

            $(this.meeting_room_formset_row_selector).remove();
            for (var i=0; i<count; i++) {
                var newElement = $('<div/>').html(this.meeting_rooms_formset_template).contents().clone(true);

                $(newElement).find(':input').each(function() {
                    var name = $(this).attr('name').replace(/-(\d+)-/,'-' + i + '-');
                    var id = 'id_' + name;
                    $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                });
                $(newElement).find('label').each(function() {
                    var newFor = $(this).attr('for').replace(/-(\d+)-/,'-' + i + '-');
                    $(this).attr('for', newFor);
                });

                if ($(this.meeting_room_formset_last_row_selector).length > 0) {
                    $(this.meeting_room_formset_last_row_selector).after(newElement);
                } else {
                    $(this.meeting_room_formset_selector).append(newElement);
                }

                $('#id_' + this.meeting_room_formset_type + '-TOTAL_FORMS').val(i+1);
            }
        };

        $(function(){
            var placeAddMeetingRoomsPage = new PlaceAddMeetingRoomsPage();
            $("#{{ form.meeting_room_number.auto_id }}").change(function() {
                placeAddMeetingRoomsPage.change_meeting_rooms_number($(this).val());
            });
        });
    </script>
{% endblock %}

{% block content %}
    <link href="{% static 'css/croppic.css' %}" rel="stylesheet">

    <div class="cow_submission_main">
        <div class="container">
            <div class="row">
                <form action="{% url "place:place_add_meeting_rooms" %}" method="post" class="fv-form fv-form-bootstrap" novalidate="novalidate">
                    <div class="col-xs-12 pade_none coworker_submission_detail">
                        <h2>我要出租</h2>

                        <div class="col-xs-12 pade_none coworker_submission_detail_inn">
                            <div class="col-sm-4 col-md-3 col-xs-12 pade_none co_submmision_left">
                                {% include "place/forms/menu.html" with active_menu='add_meeting_rooms' completed_menus='place_description, contact_details, place_amenties, add_location' %}
                            </div>
                            <div class="col-sm-8 col-md-9 col-xs-12 pade_none co_submmision_rgt">
                                <h3>会议室</h3>
                                <p>部分会员想租用附带会议室的创客云图场地</p>
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                    <div role="alert" class="alert alert-danger">
                                        {% for err in form.non_field_errors %}
                                            {{ err }}<br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="col-xs-12 pade_none coworker_event_bottom_panel">
                                    <div class="col-xs-12 pade_none co_form_con">
                                        <div class="col-xs-12 pade_none rooms_con">
                                            <label>{{ form.meeting_room_number.label }}</label>
                                            {% render_field form.meeting_room_number %}
                                        </div>
                                        <div class="col-xs-12 pade_none rooms_con02" id="meeting-room-formset">
                                            {{ formset.management_form }}
                                            {% if formset.total_error_count %}
                                                    {% for dict in formset.errors %}
                                                        {% for error in dict.values %}
                                                            <div class="row">
                                                                <div class="small-12 columns text-center error">
                                                                    <small>{{ error }}</small>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endfor %}
                                            {% endif %}
                                            {% for formrow in formset %}
                                                <div class="formset-row">
                                                    <div class="col-sm-6 col-md-6 col-xs-12 pade_none room_lft">
                                                        <div class="form-group{% if formrow.room_info.errors %} has-error{% endif %}">
                                                            <label for="{{ formrow.room_info.auto_id }}">
                                                                {{ formrow.room_info.label }}
                                                            </label>
                                                            {% render_field formrow.room_info class="form-control" %}
                                                            <span class="help-block">
                                                                {% if formrow.room_info.errors %}
                                                                    {{ formrow.room_info.errors.as_text }}
                                                                {% endif %}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-xs-12 pade_none room_lft">
                                                        <div class="form-group{% if formrow.mr_capacity.errors %} has-error{% endif %}">
                                                            <label for="{{ formrow.mr_capacity.auto_id }}">
                                                                {{ formrow.mr_capacity.label }}
                                                            </label>
                                                            {% render_field formrow.mr_capacity %}
                                                            <span class="help-block">
                                                                {% if formrow.mr_capacity.errors %}
                                                                    {{ formrow.mr_capacity.errors.as_text }}
                                                                {% endif %}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    {% for hidden in formrow.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                    <div class="small-4 columns"></div>
                                                </div><!-- /formset row -->
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-xs-12 pade_none co_form_con whiteboard_listspace_con">
                                        <label class="rooms_sub">{{ form.rent_nm.label }}</label>
                                        <div class="col-xs-12 pade_none room_lft form-group">
                                            {{ form.rent_nm.0.tag }}
                                            <label class="lbl-credit-card" for="{{ form.rent_nm.auto_id }}_0">
                                                {{ form.rent_nm.0.choice_label }}
                                            </label>
                                        </div>
                                        <div class="col-xs-12 pade_none room_lft form-group">
                                            {{ form.rent_nm.1.tag }}
                                            <label class="lbl-credit-card" for="{{ form.rent_nm.auto_id }}_1">
                                                {{ form.rent_nm.1.choice_label }}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 pade_none co_form_con whiteboard_listspace_con">
                                        <label class="rooms_sub">{{ form.hire_nm.label }}</label>
                                        <div class="col-xs-12 pade_none room_lft form-group">
                                            {{ form.hire_nm.0.tag }}
                                            <label class="lbl-credit-card" for="{{ form.hire_nm.auto_id }}_0">
                                                {{ form.hire_nm.0.choice_label }}
                                            </label>
                                        </div>
                                        <div class="col-xs-12 pade_none room_lft form-group">
                                            {{ form.hire_nm.1.tag }}
                                            <label class="lbl-credit-card" for="{{ form.hire_nm.auto_id }}_1">
                                                {{ form.hire_nm.1.choice_label }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 co_buttns_out">
                                <div class="right_aln">
                                    <ul>
                                        <li><a href="{% url "place:place_add_location" %}" class="previous_btn" style="display: inline;">Previous</a></li>
                                        <li><button type="submit">Next</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
