{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Coworker ­- cowork spaces for coworking people" %}{% endblock %}

{% block content %}
    <link href="{% static 'css/croppic.css' %}" rel="stylesheet">

    <div class="cow_submission_main">
        <div class="container">
            <div class="row">
            <form action="{% url "place:place_add_description" %}" method="post" class="fv-form fv-form-bootstrap" novalidate="novalidate">
                <div class="col-xs-12 pade_none coworker_submission_detail">
                    <h2>我要出租</h2>

                    <div class="col-xs-12 pade_none coworker_submission_detail_inn">
                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none co_submmision_left">
                            {% include "place/forms/menu.html" with active_menu='place_description' %}
                        </div>
                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none co_submmision_rgt">
                            <div class="co_descrip_con">
                                <h3>介绍我的场地</h3>
                                <p>每个创客云图场地都与众不同 向大家介绍您的场地有何特别之处。</p>
                                <div class="col-xs-12 pade_none coworker_event_bottom_panel heading_formatting_con">
                                    {% csrf_token %}
                                    {% if form.non_field_errors %}
                                        <div role="alert" class="alert alert-danger">
                                            {% for err in form.non_field_errors %}
                                                {{ err }}<br>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="form-group{% if form.space_name.errors %} has-error{% endif %}">
                                        <label for="{{ form.space_name.auto_id }}">
                                            {{ form.space_name.label }}
                                        </label>
                                        {% render_field form.space_name %}
                                        <span class="help-block">
                                            {% if form.space_name.errors %}
                                                {{ form.space_name.errors.as_text }}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="form-group{% if form.cs_description.errors %} has-error{% endif %}">
                                        <label for="{{ form.cs_description.auto_id }}">
                                            {{ form.cs_description.label }}
                                        </label>
                                        {% render_field form.cs_description %}
                                        <span class="help-block">
                                            {% if form.cs_description.errors %}
                                                {{ form.cs_description.errors.as_text }}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 co_buttns_out">
                            <div class="right_aln">
                                <ul>
                                    <li><button type="submit">Next</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <script>
      {% if not user.is_authenticated %}
        $(function() {
          openNavLoging();
        });
      {% endif %}
    </script>
{% endblock content %}

