{% load static %}
{% load i18n %}


<div class="Grid-cell u-size1of2 u-lg-size1of3 u-mb10" data-test-selector="ProfileTimelineUser" role="presentation">
    <div class="js-stream-item" role="listitem" data-item-id="759665412" id="stream-item-user-759665412" data-item-type="user">
        <div class="ProfileCard js-actionable-user">
            <a class="ProfileCard-bg js-nav" href="{{ object.get_absolute_url }}" tabindex="-1" aria-hidden="true" style="
                background-color: #00CCCC;
                background-image: url({{ object.get_main_photo }});">
            </a>

            <div class="ProfileCard-content">
                <a class="ProfileCard-avatarLink js-nav js-tooltip" href="{{ object.get_absolute_url }}" title="Coworker.org" tabindex="-1" aria-hidden="true">
                    <img class="ProfileCard-avatarImage js-action-profile-avatar" src="{{ object.get_main_photo }}" alt="">
                </a>

                <div class="ProfileCard-actions">
                    <div class="ProfileCard-userActions with-rightCaret js-userActions">
                        <div class="UserActions   UserActions--small u-textLeft">
                            <div class="user-actions btn-group not-following not-muting ">
                              <span class="UserActions-moreActions u-inlineBlock">
                                  <button type="button" class="js-tooltip unmute-button btn small plain-btn" title="Unmute @{{ object.slug }}" data-placement="top">
                                    <span class="Icon Icon--muted Icon--medium"><span class="visuallyhidden">Unmute <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></span></span>
                                  </button><button type="button" class="first-load js-tooltip mute-button btn small plain-btn" title="Mute @{{ object.slug }}" data-placement="top">
                                    <span class="Icon Icon--unmuted Icon--medium"><span class="visuallyhidden">Mute <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></span></span>
                                  </button></span><span class="user-actions-follow-button js-follow-btn follow-button">
                                  <button type="button" class="
                                    EdgeButton
                                    EdgeButton--secondary
                                    EdgeButton--small

                                    button-text
                                    follow-text">
                                      <span aria-hidden="true">Follow</span>
                                      <span class="u-hiddenVisually">Follow <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></span>
                                  </button>
                                  <button type="button" class="
                                    EdgeButton
                                    EdgeButton--primary
                                    EdgeButton--small

                                    button-text
                                    following-text">
                                      <span aria-hidden="true">Following</span>
                                      <span class="u-hiddenVisually">Following <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></span>
                                  </button>
                                  <button type="button" class="
                                    EdgeButton
                                    EdgeButton--danger
                                    EdgeButton--small

                                    button-text
                                    unfollow-text">
                                      <span aria-hidden="true">Unfollow</span>
                                      <span class="u-hiddenVisually">Unfollow <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></span>
                                  </button>
                                  <button type="button" class="
                                    EdgeButton
                                    EdgeButton--invertedDanger
                                    EdgeButton--small

                                    button-text
                                    blocked-text">
                                    <span aria-hidden="true">Blocked</span>
                                    <span class="u-hiddenVisually">Blocked <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></span>
                                  </button>
                                  <button type="button" class="
                                    EdgeButton
                                    EdgeButton--danger
                                    EdgeButton--small

                                    button-text
                                    unblock-text">
                                    <span aria-hidden="true">Unblock</span>
                                    <span class="u-hiddenVisually">Unblock <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></span>
                                  </button>
                                  <button type="button" class="
                                    EdgeButton
                                    EdgeButton--secondary
                                    EdgeButton--small

                                    button-text
                                    pending-text">
                                    <span aria-hidden="true">Pending</span>
                                    <span class="u-hiddenVisually">Pending follow request from <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></span>
                                  </button>
                                  <button type="button" class="
                                    EdgeButton
                                    EdgeButton--secondary
                                    EdgeButton--small

                                    button-text
                                    cancel-text">
                                    <span aria-hidden="true">Cancel</span>
                                    <span class="u-hiddenVisually">Cancel your follow request to <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></span>
                                  </button>
                                </span>

                                <div class="dropdown ">
                                    <button type="button" class="user-dropdown dropdown-toggle js-dropdown-toggle js-link js-tooltip btn plain-btn small-user-dropdown" title="More user actions">
                                        <span class="user-dropdown-icon Icon Icon--dotsVertical Icon--small"><span class="visuallyhidden">User actions</span></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu--rightAlign is-autoCentered is-forceRight">
                                        <div class="dropdown-caret">
                                            <span class="caret-outer"></span>
                                            <span class="caret-inner"></span>
                                        </div>
                                        <ul>
                                            <li class="mention-text not-blocked"><button type="button" class="dropdown-link">Tweet to <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></button></li>
                                            <li class="dm-text"><button type="button" class="dropdown-link">Send a Direct Message</button></li>
                                            <li class="list-text not-blocked"><button type="button" class="dropdown-link">Add or remove from lists…</button></li>
                                            <li class="dropdown-divider not-blocked"></li>
                                            <li class="mute-user-item"><button type="button" class="dropdown-link">Mute <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></button></li>
                                            <li class="unmute-user-item"><button type="button" class="dropdown-link">Unmute <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></button></li>

                                            <li class="block-text not-blocked"><button type="button" class="dropdown-link">Block <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></button></li>
                                            <li class="unblock-text"><button type="button" class="dropdown-link">Unblock <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></button></li>
                                            <li class="report-text"><button type="button" class="dropdown-link">Report <span class="username u-dir" dir="ltr">@<b>{{ object.slug }}</b></span></button></li>
                                            <li class="hide-suggestion-text"><button type="button" class="dropdown-link">Hide this suggestion</button></li>
                                            <li class="dropdown-divider is-following"></li>
                                            <li class="retweet-on-text"><button type="button" class="dropdown-link">Turn on Retweets</button></li>
                                            <li class="retweet-off-text"><button type="button" class="dropdown-link">Turn off Retweets</button></li>
                                            <li class="device-notifications-on-text"><button type="button" class="dropdown-link">Turn on mobile notifications</button></li>
                                            <li class="device-notifications-off-text"><button type="button" class="dropdown-link">Turn off mobile notifications</button></li>
                                            <li class="dropdown-divider is-embeddable"></li>
                                            <li class="embed-profile"><button type="button" class="dropdown-link">Embed this Profile</button></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="ProfileCard-userFields">
                    <div class="ProfileNameTruncated account-group">
                        <div class="u-textTruncate u-inlineBlock ProfileNameTruncated-withBadges ProfileNameTruncated-withBadges--1">
                            <a class="fullname ProfileNameTruncated-link u-textInheritColor js-nav" href="{{ object.get_absolute_url }}" data-aria-label-part="">
                               {{ object.space_name }}</a>
                        </div>
                        <span class="UserBadges">
                            <span class="Icon Icon--verified">
                                <span class="u-hiddenVisually">Verified account</span>
                            </span>
                        </span>
                    </div>

                    <span class="ProfileCard-screenname">
                        <a href="{{ object.get_absolute_url }}" class="ProfileCard-screennameLink u-linkComplex js-nav" data-aria-label-part="">
                          <span class="username u-dir" dir="ltr">@<b class="u-linkComplex-target">{{ object.slug }}</b></span>
                        </a>
                            <span>
                    ‏</span>
                  </span>
                    <p class="ProfileCard-bio u-dir" dir="ltr" data-aria-label-part="">{{ object.cs_description }}</p>
                </div>
            </div>
        </div>


    </div>
</div>
