<footer class="footer_coworker_new_main">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 pade_none footer_coworker_top_links_con">
				<ul>
					<li>
						<a href="{% url "main:about" %}">About</a>
					</li>
					<li>
						<a href="{% url "main:search" %}">Search</a>
					</li>
					<li>
						<a href="{% url "main:search" %}">Reviews</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 pade_none footer_coworker_bottom_links_con">
				<ul>
					<li style="list-style: none; display: inline">
						<h4>Search</h4>
					</li>
					<li>
						<a href="{% url "main:search" %}">Search Spaces</a>
					</li>
					<li>
						<a href="{% url "main:cities" %}">Search by City</a>
					</li>
					<li>
						<a href="https://www.coworker.com/search/top-rated">Top Rated Spaces</a>
					</li>
					<li>
						<a href="https://www.coworker.com/search/most-reviewed">Most Reviewed Spaces</a>
					</li>
					<li>
						<a href="https://www.coworker.com/map">Coworking Map</a>
					</li>
				</ul>
				<ul>
					<li style="list-style: none; display: inline">
						<h4>Reviews</h4>
					</li>
					<li>
						<a href="https://www.coworker.com/reviews">View all Reviews</a>
					</li><!--<li><a href="#">Write a Review</a></li>-->
				</ul>
				<ul class="footer_about_list01">
					<li style="list-style: none; display: inline">
						<h4>For Spaces</h4>
					</li>
					<li>
						<a href="{% url "main:list-space" %}">Add your space</a>
					</li><!--<li><a href="#">Swag</a></li>-->
					<!--<li><a href="#">Coworker Connect</a></li>-->
				</ul>
				<ul class="footer_about_list02">
					<li style="list-style: none; display: inline">
						<h4>For Members</h4>
					</li>
					<li>
						<a href="javascript:void(0);" onclick="openNavSignup();">Sign Up</a>
					</li>
					<li>
						<a href="javascript:void(0);" onclick="openNavLoging();">Login</a>
					</li><!--<li><a href="#">Join our List</a></li>-->
				</ul>
				<ul class="footer_about_list">
					<li style="list-style: none; display: inline">
						<h4>Coworker Lab</h4>
					</li>
					<li>
						<a href="https://www.coworker.com/lab/">Our Blog</a>
					</li>
					<li>
						<a href="https://www.coworker.com/lab/guest-post">For Contributors</a>
					</li>
					<li>
						<a href="https://www.coworker.com/lab/">Recent Articles</a>
					</li>
					<li>
						<a href="https://www.coworker.com/lab/category/happenings/">Events</a>
					</li>
				</ul>
				<ul class="footer_about_list">
					<li style="list-style: none; display: inline">
						<h4>Connect</h4>
					</li>
					<li>
						<a href="https://www.coworker.com/press">Press &amp; Media</a>
					</li>
					<li>
						<a href="https://www.coworker.com/api">API for Developers</a>
					</li><!--<li><a href="#">Become a Partner</a></li>-->
					<li>
						<a href="https://www.coworker.com/contact">Contact Us</a>
					</li>
				</ul>
				<ul class="footer_about_list">
					<li style="list-style: none; display: inline">
						<h4>About</h4>
					</li>
					<li>
						<a href="{% url "main:about" %}">Our Story</a>
					</li>
					<li>
						<a href="https://www.coworker.com/team">Meet the Team</a>
					</li>
					<li>
						<a href="https://www.coworker.com/help">FAQs</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 pade_none footer_new_social_links_main">
				<div class="col-xs-12 pade_none footer_new_social_links_top">
					<ul>
						<li>
							<a href="https://www.facebook.com/coworkerglobal" target="_blank"><i aria-hidden="true" class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="https://twitter.com/coworkerglobal" target="_blank"><i aria-hidden="true" class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="https://www.pinterest.com/coworkerglobal/"><i aria-hidden="true" class="fa fa-pinterest-p"></i></a>
						</li>
						<li>
							<a href="https://www.instagram.com/coworker/" target="_blank"><i aria-hidden="true" class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="https://www.youtube.com/channel/UCJlxGftk_XMG7R6sVf9UbVQ" target="_blank"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 pade_none footer_new_copyright_outer">
					<ul>
						<li>© 2017 Coworker</li>
						<li>
							<a href="mailto:hello@coworker.com">hello@coworker.com</a>
						</li>
						<li>
							<a href="https://www.coworker.com/privacy-policy">Privacy Policy</a>
						</li>
						<li>
							<a href="https://www.coworker.com/terms">Terms &amp; Conditions</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
