{% load static %}

<div class="space_header_outer">
    <!--=======================header==========================-->
    <div id="header5" class="new_pg2 ver_6">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="col-md-12 pade_none">
                        <div class="col-md-3 col-sm-3 col-xs-6 pade_none logo_con mobLogoWrapper"> <a href="{% url 'main:index' %}"><img alt="logo" src="{% static 'img/new_logo.svg' %}"></a> </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 pade_none search mobSearchWrapper">
                            <div id="h_aucomplete" class="inner_srch_blk">
                                <form action="https://www.coworker.com/search" method="post" accept-charset="utf-8" id="form_search_h" name="form_search_h">
                                    <span><img alt="img" src="{% static 'img/srch_ic.png' %}"></span>
                                    <input id="h_location" name="h_location" type="text" placeholder="Search by coworking space, city or country" class="space_header_input ui-autocomplete-input" autocomplete="off">
                                    <input type="hidden" name="form_search" value="2">
                                    <input type="hidden" id="h_search_place" name="h_search_place" value="0">
                                    <input type="hidden" id="h_place_id" name="h_place_id" value="0">
                                    <input type="hidden" id="xh_location" name="xh_location">
                                </form>							<ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-1" tabindex="0" style="display: none;"></ul></div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12 pade_none login_blk mobButtonsWrapper">
                            <ul>
                                <li><a href="{% url "main:about" %}"><img alt="img" src="{% static 'img/heart_grey.png' %}" width="18" height="18"> <span>About</span></a> </li>
                                <li><a href="javascript:void(0);" onclick="openNavSignup();"><img alt="img" src="{% static 'img/img_002.png' %}"> <span>Sign Up</span></a> </li>
                                <li><a href="javascript:void(0);" onclick="openNavLoging();"><img alt="img" src="{% static 'img/img_003.png' %}"> <span>Login</span></a> </li>
                            </ul>
                            <div class="space"> <a href="{% url "main:list-space" %}">Add Your Space</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  var EmailDoesNotExists = false;
  function ResetPasswordModal() {
    $('#nvloginModal').modal('hide');
    $('#forgot_password').modal('toggle');
  }
  function ValidateRecovery(args) {
    EmailDoesNotExists = false;
    if ($("#email-reset").validationEngine('validate')) {
      SendRecovery();
    }
  }
  function SendRecovery() {
    $("#LblSend").html('<i class="fa fa-spinner fa-spin" aria-hidden="true"><\/i>');
    $.post("https://www.coworker.com/user/request-reset-password/",
      {
        email: $("#email-reset").val(),
      },
      function(data, status){
        if (data == "0") {
          EmailDoesNotExists = true;
          $(".formError").remove();
          $("#email-reset").validationEngine('validate');
          $("#LblSend").html('Sent Reset Link');
        }else{
          //location.reload();
          $('#forgot_password').modal('toggle');
          $('#message_email').html($("#email-reset").val());
          $('#r_popup').flexModal();
          $("#LblSend").html('Sent Reset Link');
          $("#email-reset").val('');
        }
      });
  }
  function is_EmailDoesnotExists(field, rules, i, options){
    if(EmailDoesNotExists){
      return "This email is not a registered Coworker user";
    }
  }
  function closeMessageEmail(){
    $('#flex-overlay').click();
  }
</script>
