{% load static %}

<header class="coworker_banner_new_outer">
    <!--HEADER START-->
    <div class="new_header_main">
        <div class="mobile_menu">
            <div class="mob_menu_top">
                <span class="minus_outer"><img alt="" src="static/img/res_menu_minus.jpg"></span>
                <ul>
                    <li>
                        <a href="{% url "main:index" %}"><i class="fa fa-caret-right"></i>首页</a>
                    </li>
                    <li>
                        <a href="{% url "place:search" %}"><i class="fa fa-caret-right"></i>搜索</a>
                    </li>
                    <li>
                        <a href="{% url "main:cities" %}"><i class="fa fa-caret-right"></i>全部城市</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="openNavSignup();"><i class="fa fa-caret-right"></i>注册</a>
                    </li>
                    <li class="lastNoBorder">
                        <a href="javascript:void(0);" onclick="openNavLoging();"><i class="fa fa-caret-right"></i>登录</a>
                    </li>
                </ul>
            </div>
            <div class="mob_menu_bottom">
                <h2>创科云图业主</h2>
                <ul>
                    <li>
                        <a href="{% url "place:list-space" %}"><i class="fa fa-caret-right"></i>添加场地</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-md-6 col-xs-12 pade_none logo_con_new">
            <a href="{% url 'main:index' %}"><img alt="Logo New" src="{% static "img/SpaceMap_logoCN1.jpg" %}"></a>
        </div>
        <div class="col-sm-8 col-md-6 col-xs-12 pade_none coworker_new_right_main">
            <a class="res_menu" href="javascript:;"><img alt="" src="static/img/res_menu.jpg"></a>
            {% if user.is_authenticated %}
                <div class="help_outer">
                    <div class="help_inner">
                        <img src="{% static "img/heart_grey.png" %}" alt="" width="18" height="18">
                        <span><a href="{% url "main:about" %}">关于</a></span> <span>|</span>
                    </div>
                    <div class="client_outer">
                    <span class="client_img">
                        <a href="{% url "users:profile" %}">
                            <img src="{{ user.profile_image_url }}" alt="">
                        </a>
                    </span>
                        <span>{{ user.first_name }}</span>
                        <div class="help_list">
                            <ul>
                                <li><a href="{% url "users:myreviews" %}"><i class="fa fa-comment-o100"></i>我的评论</a></li>
                                <li><a href="{% url "users:profile" %}"><i class="fa fa-pencil100"></i>编辑资料</a></li>
                                <li><a href="{% url "users:editprofile" %}"><i class="fa fa-cog100"></i>账号设置</a></li>
                                <li><a href="{% url "place:list-space" %}"><i class="fa fa-plus-circle100"></i>添加场地</a></li>
                                <li>
                                    <a href="{% url 'account_logout' %}"><i class="fa fa-sign-out100"></i>退出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="coworker_new_right">
                    <ul>
                        <li>
                            <a href="{% url "main:about" %}"><i aria-hidden="true" class="fa fa-heart11"></i> 关于</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="openNavSignup();"><i aria-hidden="true" class="fa fa-user"></i> 注册</a>
                        </li>
                        <li class="new_login_con">
                            <a href="javascript:void(0);" onclick="openNavLoging();">登录</a>
                        </li>
                    </ul>
                    <div class="new_add_spaces_button">
                        <a href="{% url "place:list-space" %}">我要出租</a>
                    </div>
                </div>
            {% endif %}

        </div>
    </div><!--HEADER END-->
    <div class="coworker_floating_con">
        <div class="container">
            <div class="row">
                <form accept-charset="utf-8" action="{% url "place:search" %}" id="form_search" method="post" name="search_form">
                    <div class="coworker_floating_main">
                        <h1>您<span>加入</span>共享E族了吗?<sup style="font-size:18px;">™</sup></h1>
                        <div class="col-xs-12 pade_none" id="f_aucomplete">
                            <input autocomplete="off" class="ui-autocomplete-input" id="f_location" name="f_location" placeholder="搜索：场地名称、城市、国家......" type="text"> <button name="Submit" onclick="submitSearch();" type="button"><i class="fa fa-search"></i></button>
                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-1" style="display: none;" tabindex="0"></ul>
                        </div>
                        <div class="col-xs-12 pade_none coworker_explore_con">
                            超过5000个工作场地 10000条会员提示和 &amp; 评论
                        </div><input name="form_search" type="hidden" value="1"> <input id="search_place" name="search_place" type="hidden" value="0"> <input id="place_id" name="place_id" type="hidden" value="0"> <input id="x_location" name="x_location" type="hidden">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="carousel slide" data-ride="carousel" id="myCarousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li class="" data-slide-to="0" data-target="#myCarousel"></li>
            <li class="" data-slide-to="1" data-target="#myCarousel"></li>
            <li class="active" data-slide-to="2" data-target="#myCarousel"></li>
            <li data-slide-to="3" data-target="#myCarousel"></li>
            <li data-slide-to="4" data-target="#myCarousel"></li>
            <li data-slide-to="5" data-target="#myCarousel"></li>
            <li data-slide-to="6" data-target="#myCarousel"></li>
            <li data-slide-to="7" data-target="#myCarousel"></li>
            <li data-slide-to="8" data-target="#myCarousel"></li>
            <li data-slide-to="9" data-target="#myCarousel"></li>
            <li data-slide-to="10" data-target="#myCarousel"></li>
            <li data-slide-to="11" data-target="#myCarousel"></li>
            <li data-slide-to="12" data-target="#myCarousel"></li>
            <li data-slide-to="13" data-target="#myCarousel"></li>
            <li data-slide-to="14" data-target="#myCarousel"></li>
        </ol><!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item coworker_pic_slide01 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/india/mumbai/ministry-of-new">
                        <h2>Ministry Of New<span>Mumbai, India</span></h2></a>
                </div>
            </div>
            <div class="item coworker_pic_slide02 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/brazil/belo-horizonte/guajajaras-coworking">
                        <h2>Guajajaras Coworking<span>Belo Horizonte, Brazil</span></h2></a>
                </div>
            </div>
            <div class="item coworker_pic_slide03 coworker_slider_pic active">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/philippines/makati/acceler8">
                        <h2>Acceler8<span>Makati, Philippines</span></h2></a>
                </div>
            </div>
            <div class="item coworker_pic_slide04 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/portugal/porto/dr-schnapps">
                        <h2>Dr. Schnapps<span>Porto, Portugal</span></h2></a>
                </div>
            </div>
            <div class="item coworker_pic_slide05 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/australia/melbourne/hub-southern-cross">
                        <h2>Hub Southern Cross<span>Melbourne, Australia</span></h2></a>
                </div>
            </div>
            <div class="item coworker_pic_slide06 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/mexico/mexico-city/ios-offices">
                        <h2>IOS OFFICES<span>Mexico City, Mexico</span></h2></a>
                </div>
            </div>
            <div class="item coworker_pic_slide07 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/australia/melbourne/nest-coworking">
                        <h2>Nest Coworking<span>Melbourne, Australia</span></h2></a>
                </div>
            </div>
            <div class="item coworker_pic_slide08 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/turkey/istanbul/kolektif-house">
                        <h2>Kolektif House<span>Istanbul, Turkey</span></h2></a>
                </div>
            </div>
            <div class="item coworker_pic_slide09 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/canada/vancouver/werklab">
                        <h2>Werklab<span>Vancouver, Canada</span></h2></a>
                </div>
            </div>
            <div class="item coworker_pic_slide10 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/ireland/dublin/dogpatch-labs">
                        <h2>Dogpatch Labs<span>Dublin, Ireland</span></h2></a>
                </div>
            </div>
            <div class="item coworker_pic_slide11 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/spain/barcelona/betahaus-barcelona">
                        <h2>Betahaus Barcelona<span>Barcelona, Spain</span></h2></a>
                </div>
            </div>
            <div class="item coworker_pic_slide12 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/japan/tokyo/mono">
                        <h2>Mono<span>Tokyo, Japan</span></h2></a>
                </div>
            </div>
            <div class="item coworker_pic_slide13 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/japan/fujisawa/nekton-fujizawa">
                        <h2>Nekton Fujizawa<span>Fujisawa, Japan</span></h2></a>
                </div>
            </div>
            <div class="item coworker_pic_slide14 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/japan/saitama/coworking-24-omiya">
                        <h2>Coworking 24 Omiya<span>Saitama, Japan</span></h2></a>
                </div>
            </div>
            <div class="item coworker_pic_slide14 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <a href="https://www.coworker.com/hong-kong/hong-kong/the-work-project-hong-kong-causeway-bay">
                        <h2>The Work Project<span>Hong Kong</span></h2></a>
                </div>
            </div>
        </div><!-- Left and right controls -->
        <div class="slider_left_arrow">
            <a class="left carousel-control" data-slide="prev" href="https://www.coworker.com/#myCarousel" role="button"><!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                <img alt="" src="static/img/img_coworker_slider_arrow_left.png"> <span class="sr-only"></span></a>
        </div>
        <div class="slider_right_arrow">
            <a class="right carousel-control" data-slide="next" href="https://www.coworker.com/#myCarousel" role="button"><!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                <img alt="" src="static/img/img_coworker_slider_arrow_right.png"> <span class="sr-only"></span></a>
        </div>
    </div>
</header>
