{% load static %}
{% load i18n %}
<div class="space_header_outer">
    <!--=======================header==========================-->
    <div id="header5" class="ver_5">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="col-md-12 pade_none">
                        <div class="col-md-3 col-sm-3 col-xs-6 pade_none logo_con mobLogoWrapper"> <a href="{% url "main:index" %}"><img alt="logo" src="{% static "img/SpaceMap_logoCN1.png" %}"></a> </div>
                        <div class="col-md-5 col-sm-5 col-xs-4 pade_none search mobSearchWrapper">
                            <div id="h_aucomplete" class="inner_srch_blk">
                                <form action="{% url "place:search" %}" method="get" accept-charset="utf-8" id="form_search_h" name="form_search_h">
                                    {% csrf_token %}
                                    <span><img alt="img" src="{% static 'img/srch_ic.png' %}"></span>
                                    <input id="h_location" name="h_location" type="text" placeholder={% trans "Search: site name, city, country......" %}" class="space_header_input ui-autocomplete-input" autocomplete="off">
                                    <input type="hidden" name="form_search" value="2">
                                    <input type="hidden" id="h_search_place" name="h_search_place" value="0">
                                    <input type="hidden" id="h_place_id" name="h_place_id" value="0">
                                    <input type="hidden" id="xh_location" name="xh_location">
                                </form>							<ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;"></ul></div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 pade_none mobHelpWrapper">
                            <div class="help_blk">
                                <ul>
                                    <li>
                                        <a href="{% url "main:about" %}">
                                            <div class="inner_li "><p>关于</p><span><img class="help_img" alt="img" src="{% static 'img/heart_grey.png' %}" width="18" height="18"></span></div></a>
                                    </li>
                                    <li id="lg_menu" class="a1">
                                        <div id="lg_c" class="inner_li help_clk"><p id="lg_p">{{ user.first_name }}</p><span id="lg_s"><img id="lg_i" alt="img" src="{{ user.profile_image_url }}"></span></div>
                                        <div id="lg_h" class="help_list" style="display: none;">
                                            <ul>
                                                <li><a href="{% url "users:myreviews" %}"><i class="fa fa-comment-o100"></i>{% trans "My comment" %}</a></li>
                                                <li><a href="{% url "users:profile" %}"><i class="fa fa-pencil100"></i>{% trans "Edit data" %}</a></li>
                                                <li><a href="{% url "users:editprofile" %}"><i class="fa fa-cog100"></i>{% trans "Account Settings" %}</a></li>
                                                <li><a href="{% url "place:list-space" %}"><i class="fa fa-plus-circle100"></i>{% trans "I want to rent" %}</a></li>
                                                <li>
                                                    <a href="{% url 'account_logout' %}"><i class="fa fa-sign-out100"></i>{% trans "Sign out" %}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m_menu_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pade_none">
                    <div class="m_btnOpen_wrapper">
                        <span id="mobBtnOpen" class="m_btn_open"><i class="fa fa-bars"></i></span>
                    </div>
                    <div class="m_logo_wrapper">
                        <a href="{% url "main:index" %}"><img src="{% static "img/SpaceMap_logoCN.png" %}"></a>
                    </div>
                    <div class="mobMenuWrapper" id="mobileMenu">
                        <div class="mobMenuTopWrapper">
                            <div class="mobMenucloseBtn">
                                <a href="{% url "users:profile" %}" class="mobUserLogged"><img src="{% static 'not_sure/picture' %}" alt="">{{ user.first_name }}</a>
                                <span id="mobBtnClose" class="mobBtnClose" href="#"><i class="fa fa-minus"></i></span>
                            </div>
                            <div class="mobMenuTop">
                                <ul>
                                    <li><a href="{% url "main:index" %}" class="white-text"><i class="fa fa-caret-right"></i>{% trans "home page" %}</a></li>
                                    <li><a href="{% url "place:search" %}" class="white-text"><i class="fa fa-caret-right"></i>{% trans "Search" %}</a></li>
                                    <li><a href="https://www.coworker.com/cities" class="white-text"><i class="fa fa-caret-right"></i>{% trans "All cities" %}</a></li>
                                    <li><a href="https://www.coworker.com/lab" class="white-text"><i class="fa fa-caret-right"></i>{% trans "Laboratory" %}</a></li>
                                    <li><a href="{% url "users:myreviews" %}" class="white-text"><i class="fa fa-caret-right"></i>{% trans "My comment" %}</a></li>

                                    <li class="lastNoBorder"><a href="https://www.coworker.com/logout" class="white-text"><i class="fa fa-caret-right"></i>{% trans "Sign out" %}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="mobMenuBottomWrapper">
                            <div class="mobMenuBottom">
                                <h2>{% trans "Maker of SpacesMap images" %}</h2>
                                <ul>
                                    <li class="lastNoBorder"><a href="{% url "place:list-space" %}" class="white-text"><i class="fa fa-caret-right"></i>{% trans "Add site" %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>				</div>
            </div>
        </div>
    </div>
</div>
