{% load static %}
{% load i18n %}

<header class="coworker_banner_new_outer">
    <!--HEADER START-->
    <div class="new_header_main">
        <div class="mobile_menu">
            <div class="mob_menu_top">
                <span class="minus_outer"><img alt="" src="/static/img/res_menu_minus.jpg"></span>
                <ul>
                    <li>
                        <a href="{% url "main:index" %}"><i class="fa fa-caret-right"></i>{% trans 'Hello' %}</a>
                    </li>
                    <li>
                        <a href="{% url "place:search" %}"><i class="fa fa-caret-right"></i>{% trans 'Search' %}</a>
                    </li>
                    <li>
                        <a href="{% url "main:cities" %}"><i class="fa fa-caret-right"></i>{% trans "All cities" %}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="openNavSignup();"><i class="fa fa-caret-right"></i>{% trans "Register" %}</a>
                    </li>
                    <li class="lastNoBorder">
                        <a href="javascript:void(0);" onclick="openNavLoging();"><i class="fa fa-caret-right"></i>{% trans "Sign in" %}</a>
                    </li>

                </ul>
            </div>
            <div class="mob_menu_bottom">
                <h2>{% trans "SpacesMap of the owners" %}</h2>
                <ul>
                    <li>
                        <a href="{% url "place:list-space" %}"><i class="fa fa-caret-right"></i>{% trans "Add site" %}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-md-6 col-xs-12 pade_none logo_con_new">
            <a href="{% url 'main:index' %}"><img alt="Logo New" src="{% static "img/SpaceMap_logoCN1.png" %}"></a>
        </div>
        <div class="col-sm-8 col-md-6 col-xs-12 pade_none coworker_new_right_main">
            <a class="res_menu" href="javascript:;"><img alt="" src="/static/img/res_menu.jpg"></a>
            {% if user.is_authenticated %}
                <div class="help_outer">
                    <div class="help_inner">
                        <img src="{% static "img/heart_grey.png" %}" alt="" width="18" height="18">
                        <span><a href="{% url "main:about" %}">关于</a></span> <span>|</span>
                    </div>
                    <div class="client_outer">
                    <span class="client_img">
                        <a href="{% url "users:profile" %}">
                            <img src="{{ user.profile_image_url }}" alt="">
                        </a>
                    </span>
                        <span>{{ user.first_name }}</span>
                        <div class="help_list">
                            <ul>
                                <li><a href="{% url "users:myreviews" %}"><i class="fa fa-comment-o100"></i>{% trans "My comment" %}</a></li>
                                <li><a href="{% url "users:profile" %}"><i class="fa fa-pencil100"></i>{% trans "Edit data" %}</a></li>
                                <li><a href="{% url "users:editprofile" %}"><i class="fa fa-cog100"></i>{% trans "Account Settings" %}</a></li>
                                <li><a href="{% url "place:list-space" %}"><i class="fa fa-plus-circle100"></i>{% trans "Add site" %}</a></li>
                                <li>
                                    <a href="{% url 'account_logout' %}"><i class="fa fa-sign-out100"></i>{% trans "Sign out" %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="coworker_new_right">
                    <ul>
                        <li>
                            <a href="{% url "main:about" %}"><i aria-hidden="true" class="fa fa-heart11"></i>{% trans 'About' %}</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="openNavSignup();"><i aria-hidden="true" class="fa fa-user"></i>{% trans 'Sign up' %}</a>
                        </li>
                        <li class="new_login_con">
                            <a href="javascript:void(0);" onclick="openNavLoging();">{% trans "Sign in" %}</a>
                        </li>
                    </ul>
                    <div class="new_add_spaces_button">
                        <a href="{% url "place:list-space" %}">{% trans "I want to rent" %}</a>
                    </div>
                </div>
            {% endif %}

        </div>
    </div><!--HEADER END-->
    <div class="coworker_floating_con">
        <div class="container">
            <div class="row">
                {#                <form accept-charset="utf-8" action="{% url "place:search" %}" id="form_search" method="post" name="search_form">#}
                {% include 'elements/search-box.html' %}
                {#                    <div class="coworker_floating_main">#}
                {#                        <h1>{% trans "您" %}<span>{% trans "加入"%}</span>{% trans "Do you share the E family?" %}<sup style="font-size:18px;">™</sup></h1>#}
                {#                        <div class="col-xs-12 pade_none" id="f_aucomplete">#}
                {#                            <input autocomplete="off" class="ui-autocomplete-input" id="f_location" name="f_location" placeholder="{% trans "Search: site name, city, country......" %}" type="text" value="{{ filter }}"> <button name="Submit" onclick="submitSearch();" type="button"><i class="fa fa-search"></i></button>#}
                {#                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-1" style="display: none;" tabindex="0"></ul>#}
                {#                        </div>#}
                {#                        <div class="col-xs-12 pade_none coworker_explore_con">#}
                {#                            {% trans "More than 5000 work place 10000 tips and members" %} &amp; {% trans "Comment" %}#}
                {#                        </div><input name="form_search" type="hidden" value="1"> <input id="search_place" name="search_place" type="hidden" value="0"> <input id="place_id" name="place_id" type="hidden" value="0"> <input id="x_location" name="x_location" type="hidden">#}
                {#                    </div>#}
                {#                </form>#}
            </div>
        </div>
    </div>
    <div class="carousel slide" data-ride="carousel" id="myCarousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li class="" data-slide-to="0" data-target="#myCarousel"></li>
            <li class="" data-slide-to="1" data-target="#myCarousel"></li>
            <li class="active" data-slide-to="2" data-target="#myCarousel"></li>
            <li data-slide-to="3" data-target="#myCarousel"></li>
            <li data-slide-to="4" data-target="#myCarousel"></li>
            <li data-slide-to="5" data-target="#myCarousel"></li>
            <li data-slide-to="6" data-target="#myCarousel"></li>
            <li data-slide-to="7" data-target="#myCarousel"></li>
            <li data-slide-to="8" data-target="#myCarousel"></li>
            <li data-slide-to="9" data-target="#myCarousel"></li>
            <li data-slide-to="10" data-target="#myCarousel"></li>
            <li data-slide-to="11" data-target="#myCarousel"></li>
            <li data-slide-to="12" data-target="#myCarousel"></li>
            <li data-slide-to="13" data-target="#myCarousel"></li>
            <li data-slide-to="14" data-target="#myCarousel"></li>
        </ol><!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item coworker_pic_slide02 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <h2>Guajajaras Coworking<span>Belo Horizonte, Brazil</span></h2>
                </div>
            </div>
            <div class="item coworker_pic_slide03 coworker_slider_pic active">
                <div class="coworker_styling_text">
                    <h2>Acceler8<span>Makati, Philippines</span></h2>
                </div>
            </div>
            <div class="item coworker_pic_slide04 coworker_slider_pic">
                <div class="coworker_styling_text">
                    <h2>Dr. Schnapps<span>Porto, Portugal</span></h2>
                </div>
            </div>

        </div><!-- Left and right controls -->
        <div class="slider_left_arrow">
            <a class="left carousel-control" data-slide="prev" href="/#myCarousel" role="button"><!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                <img alt="" src="/static/img/img_coworker_slider_arrow_left.png"> <span class="sr-only"></span></a>
        </div>
        <div class="slider_right_arrow">
            <a class="right carousel-control" data-slide="next" href="/#myCarousel" role="button"><!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                <img alt="" src="/static/img/img_coworker_slider_arrow_right.png"> <span class="sr-only"></span></a>
        </div>
    </div>
</header>
