<select
        {% if type == "open" %}
            name="hours[{{ id }}][{{ type }}]"
            class="meet_icon hoursTueOpen" onchange="displayClosedHour(this);" data-fv-field="hoursTueOpen"
        {% elif type == "close" %}
            name="hours[{{ id }}][{{ type }}]"
            class="meet_icon hoursMonClose" onchange="validateChangeClose(this);" data-fv-field="hoursMonClose"
        {% else %}
            {{ attrs }}
{#            {% for k, v in attrs %}#}
{#                {{ k }}="{{ v }}"#}
{#            {% endfor %}#}
{#            name="sun_open" class="meet_icon hoursSunOpen" data-fv-field="hoursSunOpen"#}
        {% endif %}>

    <option value="">-</option>

    {% if type == "open" %}
        <option value="24_00">{% trans "24 hours" %}</option>
        <option value="-1">关闭</option>
    {% endif %}

    {% for val, name in options %}
        <option value="{{ val }}">{{ name }}</option>
    {% endfor %}
</select>
