{% load static %}
{% load i18n %}
{% load widget_tweaks %}

<form role="form" class="auth-forms " id="sign-in" action="{% url 'account_login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        {% trans "Full name" as full_name %}
        <label class="sr-only" for="r-form-1-name">{{ full_name }}</label>
        <input type="text" id="signin-email" class="r-form-1-name form-control" name="login" autocomplete="username" placeholder="{% trans "Email" %}">
    </div>
    <div class="form-group">
        {% trans "Password" as password %}
        <label class="sr-only" for="r-form-1-phone">{{ password }}</label>
        <input name="password" type="password" class="r-form-1-phone form-control" id="r-form-1-phone" placeholder="{{ password }}">
    </div>
    <button type="submit" class="btn">{% trans "Login" %}</button>
</form>
