{% load static %}
{% load widget_tweaks %}

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
{#		<div class="col-sm-12 col-md-12 col-xs-12 pade_none modal-header">#}
{#			<h2 class="signup_face"><a href="javascript:void(0)" onclick="redirectNavFBForLogin();"><img alt="" src="{% static 'img/login_with_facebook.png' %}" style="width: 325px;"></a></h2>#}
{#		</div>#}
		<div class="col-sm-12 col-md-12 col-xs-12 pade_none">
			<span class="signup_or">或</span>
		</div>
		<div class="col-sm-12 col-md-12 col-xs-12 pade_none">
			<p class="signup_f">
                <img alt="" src="{% static 'img/email.png' %}" style="margin-top: -5px;">
                <input id="nvl_email" placeholder="邮箱" name="login">
            </p>
			<p class="signup_f">
                <img alt="" src="{% static 'img/pass.png' %}" style="margin-top: -4px;">
                <input id="nvl_password" placeholder="密码" type="password" name="password">
            </p>
		</div>
		<div class="col-sm-12 col-md-12 col-xs-12">
			<div class="promise_timing_con02" style="padding-left: 30px;">
				<ul style="text-align:left">
					<li>
                        <input id="c3l" name="ccc" type="checkbox" value="2">
                        <label for="c3l">
                            <span>记住</span>
                        </label>
                        <span style="float:right;margin-right: -25%;">
                            <a href="#" onclick="ResetPasswordModal(event);" style="color:#666666 !important;">忘记密码</a>
                        </span>
                    </li>
				</ul>
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-xs-12 pade_none">
			<div class="pade_none signup_save_btn">
				<a href="javascript:void(0)" onclick="validateNavLogin(event);" style="padding-left: 130px; padding-right: 130px;">登录</a>
{#                <button class="primaryAction btn btn-primary" type="submit">注册</button>#}
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-xs-12 pade_none">
			<div class="signup_member" style="text-align: left;">
				<span class="already_member" style="margin-left: 55px;">还没有账号？&nbsp;&nbsp;</span><a href="javascript:void(0);" onclick="navLoginSignup();"><span class="login_member">立即注册</span></a>
			</div>
		</div>
</form>
