{% load static %}
{% load i18n %}
<!-- Include Required Prerequisites -->

<div class="container-agoda">


    <div id="hero-banner-hosted">

        <ul id="hero-banner-tab-nav" class="ag-tab-nav clearfix">
            <li class="active"><a href="#tab-hotel" data-toggle="tab" data-tab="hotel">{% trans "Spaces" %}</a></li>

            <li class=""><a href="#tab-flight" data-toggle="tab" data-tab="flight">{% trans "Activities" %}</a></li>
            <li class=""><a href="#tab-service" data-toggle="tab" data-tab="flight">{% trans "Services" %}</a></li>
        </ul>
        <div class="tab-content" id="tab-content">
            <div id="tab-hotel" class="tab-pane active">

                <div class="search-bar" data-selenium="search-bar">
                    <div class="container-agoda">
                        <div id="oneline-searchbox" class="oneline-searchbox" data-selenium="searchBox">

                            <dl class="form-group ">
                                <dd data-selenium="input-box">
                                    <div class="search">
                                        <i class="fa fa-search fa-1x"></i>
                                        <div class="container-cell">
                                            <input type="text" class="form-control text-editor oneline-text-editor" placeholder="{% trans "Space name" %}">
                                        </div>
                                    </div>
                                </dd>
                            </dl>

                            <dl class="form-group ">
                                <dd data-selenium="input-box">
                                    <div class="search dist">
                                        <div class="container-cell">
                                            <input type="text" name="country" data-layer="country" class="autocomplete-api form-control text-editor oneline-text-editor" placeholder="{% trans "Country" %}">

                                        </div>
                                    </div>
                                </dd>
                            </dl>

                            <dl class="form-group ">
                                <dd data-selenium="input-box">
                                    <div class="search dist">
                                        <div class="container-cell">
                                            <input type="text" name="city" data-layer="locality" class="autocomplete-api form-control text-editor oneline-text-editor" placeholder="{% trans "City" %}">

                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="form-group">
                                <dd data-selenium="input-box">
                                    <div class="search dist">
                                        <div class="container-cell">
                                            <input type="text" class="auto-complete-ui place form-control text-editor oneline-text-editor" placeholder="{% trans "Type" %}">
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="form-actions">
                                <dd class="actions">
                                    <button type="submit" class="btn btn-primary search-button oneline-search-button" data-url="{% url "place:search" %}">
                                        <span class="js-search-button-unclicked-label">
                                            {% trans "Search" %}
                                        </span>

                                        <span class="js-search-button-clicked-label search-button-clicked-label">
                                            <i class="submit-progress-spinner"></i>
                                        </span>
                                    </button>
                                </dd>
                            </dl>

                        </div>
                    </div>
                </div>
            </div>

            <div id="tab-flight" class="tab-pane">
                <div class="search-bar" data-selenium="search-bar">
                    <form action="{% url "events:search" %}" method="GET">
                        <div class="container-agoda">
                            <div id="oneline-searchbox" class="oneline-searchbox" data-selenium="searchBox">
                                <dl class="form-group ">
                                    <dd data-selenium="input-box">
                                        <div class="search">
                                            <i class="fa fa-search fa-1x"></i>
                                            <div class="container-cell">
                                                <input type="text" name="q" class="form-control text-editor oneline-text-editor" placeholder="{% trans "Activity" %}">
                                            </div>
                                        </div>
                                    </dd>
                                </dl>

                                <dl class="form-group ">
                                    <dd data-selenium="input-box">
                                        <div class="search dist">
                                            <div class="container-cell">
                                                <input type="text" name="country" data-layer="country" class="autocomplete-api form-control text-editor oneline-text-editor" placeholder="{% trans "Country" %}">

                                            </div>
                                        </div>
                                    </dd>
                                </dl>

                                <dl class="form-group ">
                                    <dd data-selenium="input-box">
                                        <div class="search dist">
                                            <div class="container-cell">
                                                <input type="text" name="city" data-layer="locality" class="autocomplete-api form-control text-editor oneline-text-editor" placeholder="{% trans "City" %}">
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="form-group">
                                    <dd class="dates checkin">
                                        <div id="olsb-checkIn" class="date">

                                            <i class="fa fa-calendar fa-1x"></i>
                                            <div class="container-cell">
                                                <input type="text" name="daterange" class="form-control daterange oneline-checkin checkin-input date-input hasDatepicker"  data-date="2017-11-10">
                                                <span id="checkInWeekday"></span>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="form-actions">
                                    <dd class="actions">
                                        <button type="submit" class="btn btn-primary search-button oneline-search-button">
                                            <span class="js-search-button-unclicked-label">
                                                {% trans "Search" %}
                                            </span>

                                            <span class="js-search-button-clicked-label search-button-clicked-label">
                                                <i class="submit-progress-spinner"></i>
                                            </span>
                                        </button>
                                    </dd>
                                </dl>

                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div id="tab-service" class="tab-pane">

                <div class="search-bar" data-selenium="search-bar">
                    <div class="container-agoda">
                        <div id="oneline-searchbox" class="oneline-searchbox" data-selenium="searchBox">

                            <dl class="form-group ">
                                <dd data-selenium="input-box">
                                    <div class="search">
                                        <i class="fa fa-search fa-1x"></i>
                                        <div class="container-cell">
                                            <input type="text" class="form-control text-editor oneline-text-editor" placeholder="{% trans "Services Name/Spaces Name" %}">
                                        </div>
                                    </div>
                                </dd>
                            </dl>

                            <dl class="form-group ">
                                <dd data-selenium="input-box">
                                    <div class="search dist">
                                        <div class="container-cell">
                                            <input id="country" type="text" class="auto-complete-ui form-control text-editor oneline-text-editor" placeholder="{% trans "Country" %}" >
                                        </div>
                                    </div>
                                </dd>
                            </dl>

                            <dl class="form-group ">
                                <dd data-selenium="input-box">
                                    <div class="search dist">
                                        <div class="container-cell">
                                            <input type="text" class="auto-complete-ui form-control text-editor oneline-text-editor" placeholder="{% trans "City" %}">
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="form-group ">
                                <dd data-selenium="input-box">
                                    <div class="search dist">
                                        <div class="container-cell">
                                            <input type="text" class="auto-complete-ui service form-control text-editor oneline-text-editor" placeholder="{% trans "Type" %}">
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="form-actions">
                                <dd class="actions">
                                    <button type="submit" class="btn btn-primary search-button oneline-search-button" data-url="{% url "services:search" %}">
                                        <span class="js-search-button-unclicked-label">
                                            {% trans "Search" %}
                                        </span>

                                        <span class="js-search-button-clicked-label search-button-clicked-label">
                                            <i class="submit-progress-spinner"></i>
                                        </span>
                                    </button>
                                </dd>
                            </dl>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
  $(function() {

    {#    $(".tab-content button[type=submit]").click(function() {#}
    {#      window.location = $(this).attr("data-url");#}
    {#    });#}

    $('input[name="daterange"]').daterangepicker();
  });
  $( function() {

    $(".auto-complete-ui.place").autocomplete({
      source: {{ place_category|safe }}
    });
    $(".auto-complete-ui.service").autocomplete({
      source: {{ service_categories|safe }}
    });
  });


</script>
