{% load static %}
{% load widget_tweaks %}


<form class="sign_up_form shadow" action="{% url 'account_signup' %}" method="post">
    <h2>Join the Coworker Community</h2>
    <div class="col-xs-12 pade_none coworker_popup_inner">
        {% csrf_token %}
        <p class="signup_f">
            <img alt="" src="{% static 'img/f_name.png' %}" style="margin-top: -5px;">
            {% render_field form.first_name id="nvfirst_name" placeholder="First name" %}
        </p>

        <p class="signup_f">
            <img alt="" src="{% static 'img/f_name.png' %}" style="margin-top: -4px;">
            {% render_field form.last_name id="nvlast_name" placeholder="Last name" %}
        </p>
        <p class="signup_f">
            <img alt="" src="{% static 'img/email.png' %}" style="margin-top: -5px;">
            {% render_field form.email id="nvemail" placeholder="Email address" %}
        </p>

        <p class="signup_f">
            <img alt="" src="{% static 'img/pass.png' %}" style="margin-top: -4px;">
            {% render_field form.password placeholder="Password" type="password" id="nvpassword" %}
        </p>

        <button class="btn btn-primary" type="submit">Sign Up »</button>
    </div>
    <div class="col-xs-12 pade_none popup_bottom">
        <span>Already a member?</span> <a class="login" href="javascript:void(0);" onclick="openNavSignupLogin();">Log In</a>
    </div>
</form>
