{% load static %}
{% load widget_tweaks %}


<form class="sign_up_form shadow" action="{% url 'account_signup' %}" method="post">
    <h2>加入共享云图</h2>
    <div class="col-xs-12 pade_none coworker_popup_inner">
        {% csrf_token %}
        <p class="signup_f">
            <img alt="" src="{% static 'img/f_name.png' %}" style="margin-top: -5px;">
            {% render_field form.first_name id="nvfirst_name" placeholder="姓氏" %}
        </p>

        <p class="signup_f">
            <img alt="" src="{% static 'img/f_name.png' %}" style="margin-top: -4px;">
            {% render_field form.last_name id="nvlast_name" placeholder="名字" %}
        </p>
        <p class="signup_f">
            <img alt="" src="{% static 'img/email.png' %}" style="margin-top: -5px;">
            {% render_field form.email id="nvemail" placeholder="邮箱" %}
        </p>

        <p class="signup_f">
            <img alt="" src="{% static 'img/pass.png' %}" style="margin-top: -4px;">
            {% render_field form.password placeholder="密码" id="nvpassword" type="password" %}
        </p>

        <button class="btn btn-primary" onclick="validateNavSignup(event);" type="submit">注册 »</button>
    </div>
    <div class="col-xs-12 pade_none popup_bottom">
        <span>已有账号？</span> <a class="login" href="javascript:void(0);" onclick="openNavSignupLogin();">登录</a>
    </div>
</form>
