{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}Contact Us - Coworker.com{% endblock %}

{% block content %}
    <section class="banner_contact_outer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 pade_none banner_contact_outer"><img src="{% static 'img/img_contact_banner_new.png' %}" alt=""></div>
            </div>
        </div>
    </section>
    <section class="contact_get_in_touch_main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 pade_none contact_get_in_touch_inner">
                    <div class="getin_touch_right_line"><img src="{% static 'img/img_getin_touch_right.png' %}" alt=""></div>
                    <div class="getin_touch_box"><p>联系 <span>我们</span></p></div>
                </div>

                <div class="col-xs-12 pade_none contact_coworker_outer">
                    <div class="col-sm-6 col-md-6 col-xs-12 pade_none contact_left_coworker_outer">
                        <div class="getin_touch_left_pic"><img src="{% static 'img/img_getin_touch_left.png' %}" alt=""></div>
                        <div class="col-xs-12 pade_none getin_spaces_outer">
                            <div class="contact_get_heading">创客<span>云图</span></div>
                            <div class="getin_spaces_mail"><a href="mailto:spaces@coworker.com">spaces@spacesmap.com</a></div>
                        </div>

                        <div class="col-xs-12 pade_none partnership_bussiness_main">
                            <div class="attached_partner_line"><img src="{% static 'img/img_partner_sapce_line.png' %}" alt=""></div>
                            <div class="contact_get_sub_heading">合作<br> &amp; 伙伴</div>
                            <div class="getin_spaces_sub_mail"><a href="mailto:partners@coworker.com">partners@spacesmap.com</a></div>
                        </div>

                        <div class="col-xs-12 pade_none quick_main_outer">
                            <div class="quick_cloud"><img src="{% static 'img/img_cloud_quick.png' %}" alt=""></div>
                            <div class="col-xs-12 pade_none contact_quick_easy_outer">
                                <div class="quick_top_line"><img src="{% static 'img/img_quick_easy_line.png' %}" alt=""></div>
                                <div class="col-xs-12 pade_none quick_heading_contact">快捷 <span>&amp; 通道</span></div>
                                <p>Are we friends yet?<br> 请@我们的<span class="quick_facebook"><a href="https://www.facebook.com/coworkerglobal/" target="_blank">微博</a></span>,<br> 关注我们的 <span class="quick_twitter"><a href="https://twitter.com/coworkerglobal/" target="_blank">微信号</a></span> 或<br> QQ上与我们<span class="quick_instagram"><a href="https://www.instagram.com/coworker/" target="_blank">交流</a></span></p>
                                <div class="contact_social_icon_outer">
                                    <a href="https://www.facebook.com/coworkerglobal/" target="_blank"><img src="{% static 'img/img_contact_facebook_icon.png' %}" alt=""></a>
                                    <a href="https://twitter.com/coworkerglobal/" target="_blank"><img src="{% static 'img/img_contact_twitter_icon.png' %}" alt=""></a>
                                    <a href="https://www.instagram.com/coworker/" target="_blank"><img src="{% static 'img/img_contact_instargarm_icon.png' %}" alt=""></a>
                                </div>
                                <div class="quick_easy_right_line"><img src="{% static 'img/img_quick_right_line.png' %}" alt=""></div>
                            </div>
                            <div class="quick_right_clouds"><img src="{% static 'img/img_two_clouds_contact.png' %}" alt=""></div>
                        </div>


                    </div>
                    <div class="col-sm-6 col-md-6 col-xs-12 pade_none contact_right_coworker_outer">

                        <div class="col-xs-12 pade_none">
                            <div class="col-xs-12 pade_none contact_press_and_media">
                                <div class="contact_get_heading">新闻 <span>&amp; 媒体</span></div>
                                <div class="getin_spaces_mail"><a href="mailto:media@coworker.com">media@spacesmap.com</a></div>
                            </div>
                            <div class="stuff_left_line"><img src="{% static 'img/img_stuff_left_line.png' %}" alt=""></div>
                        </div>

                        <div class="col-xs-12 pade_none stuff_main_outer">
                            <div class="stuff_clouds"><img src="{% static 'img/img_all_stufff_cloud.png' %}" alt=""></div>
                            <div class="col-xs-12 pade_none all_other_stuff_main">
                                <div class="contact_stuff_heading">其他 <span>事务</span></div>
                                <div class="getin_spaces_sub_mail"><a href="mailto:hello@coworker.com">hello@spacesmap.com</a></div>
                            </div>
                        </div>

                        <div class="col-xs-12 pade_none">
                            <div class="tab_dashedline"><img src="{% static 'img/img_tab_dashedline.png' %}" alt=""></div>
                            <div class="contact_tab_main">
                                <div class="tab_right_clouds"><img src="{% static 'img/img_two_clouds_contact2.png' %}" alt=""></div>
                                <div id="contact_form">
                                    <h5>联系我们</h5>
                                    <input id="c_name" name="c_name" type="text" placeholder="Name">
                                    <input id="c_email" name="c_email" type="text" placeholder="Email">
                                    <textarea id="c_message" name="c_message" cols="" rows="" placeholder="Message"></textarea>
                                    <button name="Submit" onclick="registerMessage();">Send</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

