{% extends 'base.html' %}
{% load static %}


{% block title %}Coworker ­- cowork spaces for coworking people{% endblock %}


{% block content %}
    <section class="faq_banner_outer">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12 pade_none faq_banner_inner"><img src="{% static 'img/img_faq_banner_pic.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--BANNER END-->

    <!--FAQ CONTENT PART START-->
    <section class="faq_content_main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 pade_none coworker_com_outer">
                    <div class="open_faq_pic"><img src="{% static 'img/img_open_pic.png' %}" alt=""></div>
                    <div class="coworker_com_left box_styling">
                        <h3>What does coworker.com do?</h3>
                        <p>We connect people with awesome coworking spaces around the world. You can search by city, country or coworking space name. You can filter by all kinds of stuff, and see prices for daily, weekly and monthly rates. You can also contact coworking spaces directly through the contact form on their page.</p>
                        <div class="com_bottom_arrow"><img src="{% static 'img/img_faq_bottom_arrow.png' %}" alt=""></div>
                    </div>
                </div>

                <div class="col-xs-12 pade_none add_coworker_space_panel">
                    <div class="staright_dottedline"><img src="{% static 'img/img_faq_dottedline.png' %}" alt=""></div>
                    <div class="add_collecting_outer box_styling">
                        <h3>Who can add a coworking space?</h3>
                        <p>Anyone can add a coworking space! But because we're collecting a lot of useful info (size, capacity, rates, etc) it's probably best if somebody official adds it, usually the owner / manager / team member of the coworking space.</p>
                        <div class="collecting_bottom_arrow"><img src="{% static 'img/img_faq_bottom_arrow(1).png' %}" alt=""></div>
                    </div>

                    <div class="col-xs-12 pade_none">
                        <div class="mold_dottedline"><img src="{% static 'img/img_dottedline_mold.png' %}" alt=""></div>
                        <div class="faq_glad_outer box_styling">
                            <div class="glad_top_arrow"><img src="{% static 'img/img_faq_top_arrow.png' %}" alt=""></div>
                            <h3>How do I add my coworking space?</h3>
                            <p>Glad you asked! <a href="https://www.coworker.com/list-space">Head over here</a> to list your coworking space.</p>
                        </div>

                        <div class="faq_countries_outer box_styling02">
                            <div class="countries_left_arrow"><img src="{% static 'img/img_faq_left_arrow.png' %}" alt=""></div>
                            <h3>Which countries are in you?</h3>
                            <p>ALL OF THEM! Well almost. We're in 700+ cities around the world and growing each day as new coworking spaces are listed.</p>
                        </div>
                    </div>

                </div>


                <div class="col-xs-12 pade_none cost_faq_outer_con">
                    <div class="col-sm-7 col-md-7 col-xs-12 pade_none">
                        <div class="faq_cost_con box_styling">
                            <div class="cost_right_arrow"><img src="{% static 'img/img_faq_right_arrow.png' %}" alt=""></div>
                            <h3>How much does it cost?</h3>
                            <p>It's 100% free, baby.</p>
                        </div>

                        <div class="faq_submit_con box_styling">
                            <div class="submit_right_arrow"><img src="{% static 'img/img_faq_right_arrow.png' %}" alt=""></div>
                            <h3>What happens once I submit my coworking space?</h3>
                            <p>Once you've filled in the "List Your Space" form and clicked "Submit", it gets sent to our Approvals team for review. We'll edit your description if there are any spelling and grammar mistakes, and polish things up if extra love is needed to bring your page up to scratch. You'll receive an email when it's up.</p>
                        </div>

                    </div>


                    <div class="col-sm-5 col-md-5 col-xs-12 pade_none">
                        <div class="faq_listing_con box_styling">
                            <div class="listing_right_arrow"><img src="{% static 'img/img_faq_top_arrow.png' %}" alt=""></div>
                            <h3>How do I edit my coworking space listing?</h3>
                            <p>If you submitted your space yourself, log into your user account and click on "My Coworking Spaces" in your profile dashboard. If a community member added your space, shoot us an email at spaces@coworker.com and we'll give you Admin access.</p>
                        </div>
                    </div>

                </div>

                <div class="free_service_faq_outer box_styling">
                    <div class="free_service_top_arrow"><img src="{% static 'img/img_faq_left_arrow.png' %}" alt=""></div>
                    <h3>Can I find a coworking space that serves free beer?</h3>
                    <p>Hellz to the yeah! Use our <a href="https://www.coworker.com/search">Advanced Filter</a> to search by all kinds essentials, from free beer to standing desks to dual monitors to trampolines.</p>
                </div>

            </div>


            <div class="col-xs-12 pade_none edit_faq_outer_con">
                <div class="got_another_faq_outer box_styling">
                    <div class="got_top_arrow"><img src="{% static 'img/img_faq_top_arrow.png' %}" alt=""></div>
                    <h3>Got another question?</h3>
                    <p>Hit us up at <a href="mailto:hello@coworker.com">hello@coworker.com</a></p>
                </div>
            </div>
        </div>
    </section>
    <!--FAQ CONTENT PART END-->

{% endblock content %}

