{% extends 'base.html' %}
{% load static %}


{% block title %}Coworker ­- cowork spaces for coworking people{% endblock %}


{% block content %}
    <section class="faq_banner_outer">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12 pade_none faq_banner_inner"><img src="{% static 'img/img_faq_banner_pic.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--BANNER END-->

    <!--FAQ CONTENT PART START-->
    <section class="faq_content_main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 pade_none coworker_com_outer">
                    <div class="open_faq_pic"><img src="{% static 'img/img_open_pic.png' %}" alt=""></div>
                    <div class="coworker_com_left box_styling">
                        <h3>创客云图能做什么？</h3>
                        <p>我们通过创客云图场地在了不起的人之间架起桥梁。您可以按照国家、城市、场地名称搜索。您也可以根据不同的条件筛选，比如当日价格、本月评分。</p>
                        <div class="com_bottom_arrow"><img src="{% static 'img/img_faq_bottom_arrow.png' %}" alt=""></div>
                    </div>
                </div>

                <div class="col-xs-12 pade_none add_coworker_space_panel">
                    <div class="staright_dottedline"><img src="{% static 'img/img_faq_dottedline.png' %}" alt=""></div>
                    <div class="add_collecting_outer box_styling">
                        <h3>谁能添加创客云图场地？</h3>
                        <p>任何人都可以添加创客云图场地！但是我们需要填写许多信息（面积、可容纳人数、费用等等），我们更建议由官方代表来添加场地，这些官方代表通常是创业云图场地的业主、管理员和团队成员。</p>
                        <div class="collecting_bottom_arrow"><img src="{% static 'img/img_faq_bottom_arrow(1).png' %}" alt=""></div>
                    </div>

                    <div class="col-xs-12 pade_none">
                        <div class="mold_dottedline"><img src="{% static 'img/img_dottedline_mold.png' %}" alt=""></div>
                        <div class="faq_glad_outer box_styling">
                            <div class="glad_top_arrow"><img src="{% static 'img/img_faq_top_arrow.png' %}" alt=""></div>
                            <h3>我该如何添加创客云图场地？</h3>
                            <p>很高兴您问这个问题！ <a href="{% url "place:list-space" %}">点击</a> 加入创客云图</p>
                        </div>

                        <div class="faq_countries_outer box_styling02">
                            <div class="countries_left_arrow"><img src="{% static 'img/img_faq_left_arrow.png' %}" alt=""></div>
                            <h3>我们支持哪些城市？</h3>
                            <p>国内大部分城市都有创客云图场地，而且每天都有新的城市加入创客云图。</p>
                        </div>
                    </div>

                </div>


                <div class="col-xs-12 pade_none cost_faq_outer_con">
                    <div class="col-sm-7 col-md-7 col-xs-12 pade_none">
                        <div class="faq_cost_con box_styling">
                            <div class="cost_right_arrow"><img src="{% static 'img/img_faq_right_arrow.png' %}" alt=""></div>
                            <h3>要收多少费用？</h3>
                            <p>不收任何费用！</p>
                        </div>

                        <div class="faq_submit_con box_styling">
                            <div class="submit_right_arrow"><img src="{% static 'img/img_faq_right_arrow.png' %}" alt=""></div>
                            <h3>我提交了场地申请，然后呢？</h3>
                            <p>当您填写完”出租场地“表格并点击”提交“按钮后，这份表格会传递到审核部。我们会对您的填写内容编辑（如果有拼写或语法错误的话）。当您的场地添加成功时，您会收到我们发送给您的一封邮件。</p>
                        </div>

                    </div>


                    <div class="col-sm-5 col-md-5 col-xs-12 pade_none">
                        <div class="faq_listing_con box_styling">
                            <div class="listing_right_arrow"><img src="{% static 'img/img_faq_top_arrow.png' %}" alt=""></div>
                            <h3>我该如何编辑我的创客云图场地列表？</h3>
                            <p>如果您已经提交场地信息，请登录您的账号，点击”我的创客云图场地“按钮。如果工作人员添加了您的场地，请直接给spaces@spacesmap.com发送一封邮件，我们会授予您管理权限。</p>
                        </div>
                    </div>

                </div>

                <div class="free_service_faq_outer box_styling">
                    <div class="free_service_top_arrow"><img src="{% static 'img/img_faq_left_arrow.png' %}" alt=""></div>
                    <h3>我能找到一家提供免费啤酒的创客云图场地吗？</h3>
                    <p>当然！! 通过 <a href="{% url "main:search" %}">进一步筛选</a> 您可以根据各种各样的条件筛选场地（免费啤酒、立式办公桌、监控器，甚至蹦床等等）。</p>
                </div>

            </div>


            <div class="col-xs-12 pade_none edit_faq_outer_con">
                <div class="got_another_faq_outer box_styling">
                    <div class="got_top_arrow"><img src="{% static 'img/img_faq_top_arrow.png' %}" alt=""></div>
                    <h3>还有别的问题？</h3>
                    <p>请发送邮箱至 <a href="mailto:hello@coworker.com">hello@spacesmap.com</a></p>
                </div>
            </div>
        </div>
    </section>
    <!--FAQ CONTENT PART END-->

{% endblock content %}

