{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load i18n %}

{% block header %}
    {% include 'elements/header_main.html' %}
{% endblock %}

{% block content %}
    <!--  BANNER END-->
    <link href="{% static "css/validationEngine.jquery.css" %}" rel="stylesheet" type="text/css">
    <!--COWORKER SPACE FINER ICONS PANEL-->
    <section class="coworker_spacefinder_outer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 pade_none coworker_spacefinder_inner">
                    <ul>
                        <li class="coworker_nearbeach">
                            <a href="{% url "place:search" %}near-beach" target="_blank"><img alt="space finder icon" src="/static/img/coworker_spacefinder_pic01.png"> <span>{% trans "Near the sea" %}</span></a>
                        </li>
                        <li class="coworker_megaspaces">
                            <a href="{% url "place:search" %}mega-spaces" target="_blank"><img alt="space finder icon" src="/static/img/coworker_spacefinder_pic02.png"> <span>{% trans "Huge space" %}</span></a>
                        </li>
                        <li class="coworker_toprated">
                            <a href="{% url "place:search" %}top-rated" target="_blank"><img alt="space finder icon" src="/static/img/coworker_spacefinder_pic03.png"> <span>{% trans "World class" %}</span></a>
                        </li>
                        <li class="coworker_community_picks">
                            <a href="{% url "place:search" %}community-picks" target="_blank"><img alt="space finder icon" src="/static/img/coworker_spacefinder_pic04.png"> <span>{% trans "Alternative community" %}</span></a>
                        </li>
                        <li class="coworker_skicountry">
                            <a href="{% url "place:search" %}ski-country" target="_blank"><img alt="space finder icon" src="/static/img/coworker_spacefinder_pic05.png"> <span>{% trans "Ski Resort" %}</span></a>
                        </li>
                        <li class="coworker_female_only">
                            <a href="{% url "place:search" %}female-only" target="_blank"><img alt="space finder icon" src="/static/img/coworker_spacefinder_pic06.png"> <span>{% trans "Feminine exclusive" %}</span></a>
                        </li>
                        <li class="coworker_most_reviewed">
                            <a href="{% url "place:search" %}most-reviewed" target="_blank"><img alt="space finder icon" src="/static/img/coworker_spacefinder_pic07.png"> <span>{% trans "The hottest comment" %}</span></a>
                        </li>
                        <li class="coworker_co_living">
                            <a href="{% url "place:search" %}coliving-spaces" target="_blank"><img alt="space finder icon" src="/static/img/coworker_spacefinder_pic08.png"> <span>{% trans "Common life" %}</span></a>
                        </li>
                        <li class="coworker_rural_escapes">
                            <a href="{% url "place:search" %}rural-escapes" target="_blank"><img alt="space finder icon" src="/static/img/coworker_spacefinder_pic09.png"> <span>{% trans "Idyllic holiday" %}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--COWORKER SPACE FINDER ICONS PANEL END-->
    <!--COWORKER LATEST CONNCTIONS PANEL START-->
    <section class="coworker_latest_connection_main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 pade_none coworker_latest_connection_inner">
                    <h2>{% trans "Latest information" %}</h2>
                    <div class="col-xs-12 pade_none coworker_latest_slider_main">
                        <div class="col-xs-12 pade_none coworker_latest_slider_main">
                            <div class="owl-carousel owl-theme" id="owl-demo02">
                                {% for place in places %}
                                    {% if place.get_main_photo %}
                                        <div class="item">
                                            <div class="col-xs-12 pade_none coworker_latest_slider_inner">
                                                <a href="{{ place.get_absolute_url }}">
                                                    <div class="col-xs-12 pade_none">
                                                        <div class="col-xs-12 pade_none coworker_latest_slider_con"><img alt="latest connection pic" src="{{ place.get_main_photo }}" style="width: 301px;height: 307px;"></div>
                                                        <h4>{{ place.name }}</h4>
                                                        <address>
                                                            <i aria-hidden="true" class="fa fa-map-marker"></i> {{ place.address }}
                                                        </address>
                                                    </div></a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--COWORKER LATEST CONNCTIONS PANEL END-->
    <!--COWORKER MILLION OF PEOPLE COWORKING AROUND THE WORLD START-->
{#    <section class="coworker_million_people_outer">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-xs-12 pade_none coworker_million_people_inner">#}
{#                    <h2>{% trans "全球数百万人正在共享办公" %}<samp><span>{% trans "您是其中一员吗" %}</span></samp></h2>#}
{#                    <div class="col-xs-12 pade_none coworker_million_inn_con">#}
{#                        <div class="owl-carousel owl-theme" id="owl-demo03">#}
{#                            {% for item in "1" %}#}
{#                                <div class="item">#}
{#                                    <div class="col-xs-12 pade_none million_people_around_main">#}
{#                                        <div class="flip-container">#}
{#                                            <div class="flipper">#}
{#                                                <div class="front">#}
{#                                                    <a href="/united-states/new-york/rye/serendipity-labs-rye" target="_blank"><span class="coworker_border_radius_div"><img alt="" class="million_block_pic" src="/pictures/users/5766/Logo.png"></span>#}
{#                                                        <h4>{% trans "Serendipity Labs" %}</h4></a>#}
{#                                                    <div class="million_hours_place_con">#}
{#                                                        <span><i aria-hidden="true" class="fa fa-clock-o"></i> {% trans "2 days ago" %}</span> <span><i aria-hidden="true" class="fa fa-map-marker"></i> United States</span>#}
{#                                                    </div>#}
{#                                                    <div>#}
{#                                                        <span class="million_star_con"><i aria-hidden="true" class="fa fa-star"></i> <i aria-hidden="true" class="fa fa-star"></i> <i aria-hidden="true" class="fa fa-star"></i> <i aria-hidden="true" class="fa fa-star"></i> <i aria-hidden="true" class="fa fa-star"></i></span>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="back_flip">#}
{#                                                    <div class="million_back_con">#}
{#                                                        <a href="/united-states/new-york/rye/serendipity-labs-rye" target="_blank"><span class="coworker_border_radius_div"><img alt="space pic" src="https://coworker.imgix.net/photos/united-states/new-york/rye/serendipity-labs-rye/main.jpeg?w=220&amp;h=225&amp;fit=crop"></span>#}
{#                                                            <h5>{% trans "Serendipity Labs Rye" %}</h5></a>#}
{#                                                        <p>{% trans "Excellent ambiance, hospitality, and space" %}</p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                        <div class="col-xs-12 pade_none coworker_read_reviews_outer">#}
{#                            <a href="{% url "main:reviews" %}">查看全部评论</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!--COWORKER MILLION OF PEOPLE COWORKING AROUND THE WORLD END-->
    <!--HOT COWORKERING DESTINATION START-->
    <section class="hot_coworking_destination_main">
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}madrid/spain" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img">
                            <img alt="" src="/static/img/madrid-resize.jpg">
                        </div>
                        <div class="coworker_hot_cities_name">
                            深圳
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>102 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>{% trans "Shen Zhen" %}</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}tokyo/japan" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/japan-1-resize.jpg"></div>
                        <div class="coworker_hot_cities_name">
                            Tokyo
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>94 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>Tokyo</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}hong-kong/hong-kong" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/hongkong.jpg"></div>
                        <div class="coworker_hot_cities_name">
                            {% trans "Bei Jing" %}
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>89 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>{% trans "Bei Jing" %}</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}london/united-kingdom" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/coworking_london.jpg"></div>
                        <div class="coworker_hot_cities_name">
                            {% trans "Guang Zhou" %}
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>79 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>{% trans "Guang Zhou" %}</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}beijing/china" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/beijing-coworking.jpeg"></div>
                        <div class="coworker_hot_cities_name">
                            {% trans "Zhu Hai" %}
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>71 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>{% trans "Zhu Hai" %}</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}barcelona/spain" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/barcelona-resize.jpg"></div>
                        <div class="coworker_hot_cities_name">
                            {% trans "Xia Men" %}
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>68 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>{% trans "Xia Men" %}</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}bengaluru/india" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/india-default.jpg"></div>
                        <div class="coworker_hot_cities_name">
                            {% trans "Wu Han" %}
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>65 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>{% trans "Wu Han" %}</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12 pade_none hot_pic_main_outer coworking_hot_destination_outer tab_screen_con" style="height: 277px;">
            <div class="col-xs-12 pade_none coworking_hot_destination_panel">
                <h4>{% trans "Hot" %}</h4><span>{% trans "Coworking destinations" %}</span> <a href="{% url "place:search" %}">{% trans "Find a space near you" %}</a>
            </div>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}berlin/germany" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/belin-resize.jpg"></div>
                        <div class="coworker_hot_cities_name">
                            {% trans "Cheng Du" %}
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>63 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>{% trans "Cheng Du" %}</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12 pade_none hot_pic_main_outer coworking_hot_destination_outer all_screen_con" style="height: 277px;">
            <div class="col-xs-12 pade_none coworking_hot_destination_panel">
                <h4>{% trans "Hot" %}</h4><span>{% trans "Coworkin Destinations" %}</span> <a href="{% url "place:search" %}">{% trans "Find a space near you" %}</a>
            </div>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}bangkok/thailand" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/bangkok1.jpg"></div>
                        <div class="coworker_hot_cities_name">
                            {% trans "Chong Qing" %}
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>52 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>{% trans "Chong Qing" %}</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}jakarta/indonesia" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/jakarta-coworking.jpeg"></div>
                        <div class="coworker_hot_cities_name">
                            {% trans "Fo Shan" %}
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>49 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>{% trans "Fo Shan" %}</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}new-york/new-york/united-states" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/coworking-new-york.jpg"></div>
                        <div class="coworker_hot_cities_name">
                            {% trans "Hang Zhou" %}
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>47 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>{% trans "Hang Zhou" %}</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}mexico-city/mexico" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/mexico-city-resize.jpg"></div>
                        <div class="coworker_hot_cities_name">
                            {% trans "Nan Jing" %}
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>46 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>{% trans "Nan Jing" %}</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}shanghai/china" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/shanghai-coworking.jpg"></div>
                        <div class="coworker_hot_cities_name">
                            {% trans "Shang Hai" %}
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>45 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>{% trans "Shang Hai" %}</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}los-angeles/california/united-states" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/depositphotos-45878955-original.jpg"></div>
                        <div class="coworker_hot_cities_name">
                            {% trans "Tian Jin" %}
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>43 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>{% trans "Tian Jin" %}</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}mumbai/india" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/mumbai-coworking.jpg"></div>
                        <div class="coworker_hot_cities_name">
                            Mumbai
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>43 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>Mumbai</p>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6 pade_none hot_pic_main_outer">
            <a href="{% url "place:search" %}melbourne/australia" target="_blank">
                <div class="ih-item circle effect1 hot_coworker_hover_text">
                    <div class="hot_coworker_inn">
                        <div class="img"><img alt="" src="/static/img/melbourne-resize.jpg"></div>
                        <div class="coworker_hot_cities_name">
                            Melbourne
                        </div>
                        <div class="hot_coworker_hover_panel">
                            <h6>40 Spaces</h6><span><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i></span>
                            <p>Melbourne</p>
                        </div>
                    </div>
                </div></a>
        </div>
    </section><!--HOT COWORKERING DESTINATION END-->
    <!--SOLOPRENUERS FORTUNE 500 COMPANIES START-->
    {#	<section class="solorprenuers_main_panel">#}
    {#		<div class="container">#}
    {#			<div class="row">#}
    {#				<div class="col-xs-12 pade_none solorprenuers_main_outer">#}
    {#					<h2>{% trans "从个体商户到世界500强" %}</h2>#}
    {#					<p>{% trans "都能从创客云图中找到合适的办公地点" %}<br>#}
    {#						{% trans "开展他们的职业事务和商务活动." %}</p><span>{% trans "大家最近都在用" %}</span>#}
    {#					<ul>#}
    {#						<li><img alt="recent used companies" src="/static/img/coworker_companies_logo1.png"></li>#}
    {#						<li><img alt="recent used companies" src="/static/img/coworker_companies_logo2.png"></li>#}
    {#						<li><img alt="recent used companies" src="/static/img/coworker_companies_logo3.png"></li>#}
    {#						<li><img alt="recent used companies" src="/static/img/coworker_companies_logo4.png"></li>#}
    {#						<li><img alt="recent used companies" src="/static/img/coworker_companies_logo5.png"></li>#}
    {#						<li><img alt="recent used companies" src="/static/img/coworker_companies_logo6.png"></li>#}
    {#						<li><img alt="recent used companies" src="/static/img/coworker_companies_logo7.png"></li>#}
    {#					</ul>#}
    {#				</div>#}
    {#			</div>#}
    {#		</div>#}
    {#		<div class="solo_arrow_bg">#}
    {#			&nbsp;#}
    {#		</div>#}
    {#	</section><!--SOLOPRENUERS FORTUNE 500 COMPANIES END-->#}
    <!--MOST REVIEWD COWORKING SPACES START-->
    <section class="coworker_most_reviewed_spaces_panel">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 pade_none coworker_most_reviewed_spaces_outer">
                    <h2>{% trans "Office sites with the most reviews in the custom SpacesMap" %}</h2>
                    <div class="col-xs-12 pade_none coworker_most_reviewed_spaces_outer coworker_reviewed">
                        <div class="col-xs-8 col-sm-8 col-md-8 pade_none gallery_reviewd_outer">
                            <div class="col-xs-12 pade_none gallery_reviewd_con">
                                <div class="col-xs-6 col-md-6 col-sm-6 pade_none gallery_reviewd_inner">
                                    <div class="col-xs-12 pade_none coworker_reviewed_pic_outer">
                                        <a href="{{ place_1.get_absolute_url }}" target="_blank">
                                            <div class="col-xs-12 pade_none coworker_reviewed_pic_con">
                                                <img alt="reviewed pic" src="/static/img/main-1490737911.jpg">
                                                <div class="coworker_location_outer">
                                                    <h4><strong>{{ place_1.name }}</strong> <span><i aria-hidden="true" class="fa fa-map-marker"></i> {{ place_1.city_origin.country.name }},  {{ place_1.city_origin.name }}</span></h4><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i>
                                                </div>
                                            </div></a>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6 col-sm-6 pade_none gallery_reviewd_inner">
                                    <div class="col-xs-12 pade_none coworker_reviewed_pic_outer">
                                        <a href="{{ place_2.get_absolute_url }}" target="_blank">
                                            <div class="col-xs-12 pade_none coworker_reviewed_pic_con">
                                                <img alt="reviewed pic" src="/static/img/main(11).jpeg">
                                                <div class="coworker_location_outer">
                                                    <h4><strong>{{ place_2.name }}</strong> <span><i aria-hidden="true" class="fa fa-map-marker"></i> {{ place_2.city_origin.country.name }},  {{ place_2.city_origin.name }}</span></h4><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i>
                                                </div>
                                            </div></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 pade_none coworker_reviewed_pic_outer reviewed_margin">
                                <div class="col-xs-12 pade_none coworker_reviewed_pic_con alkaloid_pic">
                                    <a href="{{ place_3.get_absolute_url }}" target="_blank"><img alt="reviewed pic" src="/static/img/main-1490733848.jpeg">
                                        <div class="coworker_location_outer">
                                            <h4><strong>{{ place_3.name }}</strong> <span><i aria-hidden="true" class="fa fa-map-marker"></i> {{ place_3.city_origin.country.name }},  {{ place_3.city_origin.name }}</span></h4><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i>
                                        </div></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 pade_none gallery_reviewd_inner">
                            <div class="col-xs-12 pade_none coworker_reviewed_pic_outer">
                                <a href="{{ place_4.get_absolute_url }}" target="_blank">
                                    <div class="col-xs-12 pade_none coworker_reviewed_pic_con kohub_pic">
                                        <img alt="reviewed pic" src="/static/img/main(12).jpg">
                                        <div class="coworker_location_outer">
                                            <h4><strong>{{ place_4.name }}</strong> <span><i aria-hidden="true" class="fa fa-map-marker"></i> {{ place_4.city_origin.country.name }},  {{ place_4.city_origin.name }}</span></h4><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i>
                                        </div>
                                    </div></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 pade_none coworker_most_reviewed_spaces_outer coworker_reviewed">
                        <div class="col-xs-6 col-md-6 col-sm-6 pade_none gallery_reviewd_inner">
                            <div class="col-xs-12 pade_none coworker_reviewed_pic_outer">
                                <a href="{{ place_5.get_absolute_url }}" target="_blank">
                                    <div class="col-xs-12 pade_none coworker_reviewed_pic_con vaeo_pic">
                                        <img alt="reviewed pic" src="/static/img/main-1484863910.JPG">
                                        <div class="coworker_location_outer">
                                            <h4><strong>{{ place_5.name }}</strong> <span><i aria-hidden="true" class="fa fa-map-marker"></i> {{ place_5.city_origin.country.name }},  {{ place_5.city_origin.name }}</span></h4><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i>
                                        </div>
                                    </div></a>
                            </div>
                        </div>
                        <div class="col-xs-3 col-md-3 col-sm-3 pade_none gallery_reviewd_inner">
                            <div class="col-xs-12 pade_none coworker_reviewed_pic_outer">
                                <a href="{{ place_6.get_absolute_url }}" target="_blank">
                                    <div class="col-xs-12 pade_none coworker_reviewed_pic_con vaeo_pic">
                                        <img alt="reviewed pic" src="/static/img/main-1490775106.jpg">
                                        <div class="coworker_location_outer">
                                            <h4><strong>{{ place_6.name }}</strong> <span><i aria-hidden="true" class="fa fa-map-marker"></i> {{ place_6.city_origin.country.name }},  {{ place_6.city_origin.name }}</span></h4><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i>
                                        </div>
                                    </div></a>
                            </div>
                        </div>
                        <div class="col-xs-3 col-md-3 col-sm-3 pade_none gallery_reviewd_inner">
                            <div class="col-xs-12 pade_none coworker_reviewed_pic_outer">
                                <a href="{{ place_7.get_absolute_url }}" target="_blank">
                                    <div class="col-xs-12 pade_none coworker_reviewed_pic_con vaeo_pic">
                                        <img alt="reviewed pic" src="/static/img/main-1490789687.jpeg">
                                        <div class="coworker_location_outer">
                                            <h4><strong>{{ place_7.name }}</strong> <span><i aria-hidden="true" class="fa fa-map-marker"></i> {{ place_7.city_origin.country.name }},  {{ place_7.city_origin.name }}</span></h4><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i><i aria-hidden="true" class="fa fa-star0C"></i>
                                        </div>
                                    </div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--MOST REVIEWD COWORKING SPACES END-->
    <!--THE COWORKER LAB START-->
{#    <section class="coworker_lab_panel">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-xs-12 pad_none coworker_lab_slider_main">#}
{#                    <h2><a href="/lab/" target="_blank">{% trans "共享云图实验室" %}</a></h2><!--COWORKER LAB SLIDER START-->#}
{#                    <div class="owl-carousel owl-loaded owl-drag" id="owl-demo05">#}
{#                        <div class="item">#}
{#                            <div class="col-xs-12 pad_none">#}
{#                                <div class="col-xs-6 col-sm-6 col-md-6 pad_none coworker_lab_left"><img alt="coworker lab pic" src="/static/img/teamwork-discussion-meeting-brainstorming-start-P59ACVM.jpg"></div>#}
{#                                <div class="col-xs-6 col-sm-6 col-md-6 pad_none coworker_lab_right">#}
{#                                    <h3>{% trans "合作办公的5大优势" %}</h3><span><img alt="pic" height="30" src="/static/img/Kelly%20Konya-22.jpg" width="30">by Kelly Konya<i>-</i> 2 weeks ago <i>-</i> in Work</span>#}
{#                                    <p>{% trans "“如果大家都合作起来，那么成功将不约而至.”" %}&nbsp;–&nbsp;{% trans "亨利·福特  当我们想象一所传统的办公场地时，我们会想到一间办公室、白色墙壁、一大堆便签纸和数不清的小隔间。唉！" %}</p><a href="/lab/5-benefits-of-a-collaborative-environment">{% trans "显示更多" %}</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="item">#}
{#                            <div class="col-xs-12 pad_none">#}
{#                                <div class="col-xs-6 col-sm-6 col-md-6 pad_none coworker_lab_left"><img alt="coworker lab pic" src="/static/img/teamwork-discussion-meeting-brainstorming-start-P59ACVM.jpg"></div>#}
{#                                <div class="col-xs-6 col-sm-6 col-md-6 pad_none coworker_lab_right">#}
{#                                    <h3>{% trans "5 Benefits of a Collaborative Environment" %}</h3><span><img alt="pic" height="30" src="/static/img/Kelly%20Konya-22.jpg" width="30">{% trans "by Kelly Konya" %}<i>-</i> {% trans "2 weeks ag" %}" <i>-</i> {% trans "in Wor" %}"</span>#}
{#                                    <p>{% trans "“If everyone is moving forward together, then success takes care of itself.”" %}&nbsp;–&nbsp;{% trans "Henry Ford When we envision a typical workplace, we think of an office with plain white walls, an overflow of post-it notes, and plenty of divisive cubicles. Empl" %}</p><a href="/lab/5-benefits-of-a-collaborative-environment">{% trans "Read More" %}</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="item">#}
{#                            <div class="col-xs-12 pad_none">#}
{#                                <div class="col-xs-6 col-sm-6 col-md-6 pad_none coworker_lab_left"><img alt="coworker lab pic" src="/static/img/teamwork-discussion-meeting-brainstorming-start-P59ACVM.jpg"></div>#}
{#                                <div class="col-xs-6 col-sm-6 col-md-6 pad_none coworker_lab_right">#}
{#                                    <h3>{% trans "6 Benefits of a Collaborative Environment" %}</h3><span><img alt="pic" height="30" src="/static/img/Kelly%20Konya-22.jpg" width="30">by Kelly Konya<i>-</i> 2 weeks ago <i>-</i> in Work</span>#}
{#                                    <p>{% trans "“If everyone is moving forward together, then success takes care of itself.”" %}&nbsp;–&nbsp;{% trans "Henry Ford When we envision a typical workplace, we think of an office with plain white walls, an overflow of post-it notes, and plenty of divisive cubicles. Empl" %}</p><a href="/lab/5-benefits-of-a-collaborative-environment">{% trans "Read More" %}</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="item">#}
{#                            <div class="col-xs-12 pad_none">#}
{#                                <div class="col-xs-6 col-sm-6 col-md-6 pad_none coworker_lab_left"><img alt="coworker lab pic" src="/static/img/teamwork-discussion-meeting-brainstorming-start-P59ACVM.jpg"></div>#}
{#                                <div class="col-xs-6 col-sm-6 col-md-6 pad_none coworker_lab_right">#}
{#                                    <h3>{% trans "7 Benefits of a Collaborative Environment" %}</h3><span><img alt="pic" height="30" src="/static/img/Kelly%20Konya-22.jpg" width="30">by Kelly Konya<i>-</i> {% trans "2 weeks ago" %} <i>-</i> in Work</span>#}
{#                                    <p>{% trans "“If everyone is moving forward together, then success takes care of itself.”" %}&nbsp;–&nbsp;{% trans "Henry Ford When we envision a typical workplace, we think of an office with plain white walls, an overflow of post-it notes, and plenty of divisive cubicles. Empl" %}</p><a href="/lab/5-benefits-of-a-collaborative-environment">{% trans "Read More" %}</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section><!--THE COWORKER LAB END-->#}
    <!--FOOTER START-->
    <!--FOOTER START-->
    <!--FOOTER END-->
    <script>
      $(function(){
        $('.footer_tab_main li a').click(function(){
          $('.footer_tab_main li a').removeClass('active_footer'); // remove the class from the currently selected
          $(this).addClass('active_footer'); // add the class to the newly clicked link
          if(!$(this).addClass('active_footer')) {
          } else {
            $(this).addClass('active_footer');
            $(this).next().stop(true,true).removeClass('active_footer');
          }
        });
      });
      function displayFooter(divID) {
        if(document.getElementById(divID).style.display == 'block'){
          var closeAnswer = true;
        }
        document.getElementById('continent1').style.display = 'none';
        document.getElementById('continent2').style.display = 'none';
        document.getElementById('continent3').style.display = 'none';
        document.getElementById('continent4').style.display = 'none';
        document.getElementById('continent5').style.display = 'none';
        document.getElementById('continent6').style.display = 'none';
        if(!closeAnswer) {
          document.getElementById(divID).style.display = '';
        }
        return false;
      }
    </script> <!-- Perfect Audience tag -->

    <script>
      $(document).ready(function(){
        $(document).bind("contextmenu",function(e){
          if(e.target.nodeName == 'IMG'){
            //context menu attempt on top of an image element
            return false;
          }
        });
      });
    </script><!--FOOTER END-->

{% endblock %}
