{% extends 'pages/inner_main.html' %}
{% load i18n %}
{% load static %}
{% load sekizai_tags %}

{% block body_css %} no-nav-banners three-col logged-in user-style-comalex3 AdaptiveSearchPage AdaptiveDefaultPage supports-drag-and-drop {% endblock %}

{% block inner_content %}

    <style>
        .leaflet-popup-content-wrapper {
            background: none;
        {#            color: transparent;#}
            box-shadow: none;
        }
        .leaflet-container a.leaflet-popup-close-button {
            top: 18px;
            right: 18px;
        }
        .leaflet-popup-tip-container { bottom: -20px; };

    </style>
    <div class="Grid-cell u-size2of3 u-lg-size3of4">
        <div id="map_canvas" style="height: 777px; position: relative; overflow: hidden;"></div>

        <div style="display: none">
            <div id="profile-hover-container" data-screen-name="HowdyAI" data-user-id="3450748273" style="opacity: 1; "></div>
        </div>

        <script id="popup_template" type="text/html">
            {% include "pages/popup_template.html" %}
        </script>


        <script>
          document.map = L.map('map_canvas').setView([50.449, 30.5243], 13);
          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.streets'
          }).addTo(document.map);
          var popup_template = $('#popup_template');

          $.get("{% url 'place:map_api' %}", function(data) {
            $.each(data, function(i, v) {
              var marker = L.marker([v.lat, v.lng]);
              marker.addTo(document.map);
              marker.bindPopup("Loading...");

              marker.on('mouseover', function (e) {
                var popup = e.target.getPopup();

                var self = this;
                $.get('/places/card/api/'+ v.pk, function(data) {
                  $("#profile-hover-container").html(data);
                  popup.setContent($("#profile-hover-container").html());
                  popup.update();
                  self.openPopup();
                });
              });
            });
          });

        </script>
    </div>
{% endblock %}
