{% extends 'base.html' %}
{% load static %}


{% block title %}{% endblock %}


{% block header %}
    {% include 'elements/header_internal.html' %}
{% endblock %}

{% block content %}
    <script src="{% static 'js/jquery-ui.min(1).js' %}"></script>
    <script src="{% static 'js/jscolor.min.js' %}"></script>

    <!--NGINX SOFTWARE START-->
    <div class="connection_main_outer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 pade_none connection_main_inner">
                    <div class="col-sm-4 col-md-4 col-xs-12 pade_none connection_left_out">
                        <div class="col-xs-12 pade_none connect_leane_pic">
                            <img id="img_profile" src="{% static 'not_sure/picture(1)' %}" alt="" style="z-index: -1;border:6px solid #f5f5f5;">
                            <span id="upload_lbl" class="upload_picture">
                                <ul>
                                  <li>
                                    <h3 id="upload_text">Update Profile Picture<br><span id="text_res">500 x 500px</span></h3>
                                  </li>
                                  <li><i id="camera_icon" class="fa fa-camera50" aria-hidden="true"></i></li>
                                </ul>
                            </span>
                            <div id="circle-border">
                                <img src="{% static 'img/pix.png' %}" alt="" style="z-index: -1;">
                            </div>
                            <div id="trans">
                                <span class="upload_picture_hov" onmouseover="overUpload();" onmouseout="outUpload();"></span>
                            </div>
                        </div>
                        <div id="sv_round" class="col-xs-12 pade_none">
                            <svg id="sv_normal" width="240" height="232" onmouseover="overUpload();" onmouseout="outUpload();">
                                <mask id="mask">
                                    <rect fill="white" width="100%" height="100%" fill-opacity="1"></rect>
                                    <circle cx="117" cy="116" r="112">
                                    </circle></mask>
                                <rect mask="url(#mask)" fill="#f5f5f5" width="100%" height="100%" fill-opacity="1"></rect>
                            </svg>
                            <svg id="sv_normal2" width="200" height="200" onmouseover="overUpload();" onmouseout="outUpload();">
                                <mask id="mask2">
                                    <rect fill="white" width="100%" height="100%" fill-opacity="1"></rect>
                                    <circle r="93" cy="94" cx="96">
                                    </circle></mask>
                                <rect mask="url(#mask2)" fill="#f5f5f5" width="100%" height="100%" fill-opacity="1"></rect>
                            </svg>
                            <svg id="sv_normal3" width="240" height="232" onmouseover="overUpload();" onmouseout="outUpload();">
                                <mask id="mask3">
                                    <rect fill="white" width="100%" height="100%" fill-opacity="1"></rect>
                                    <circle cx="116" cy="115" r="111"></circle>
                                </mask>
                                <rect mask="url(#mask3)" fill="#f5f5f5" width="100%" height="100%" fill-opacity="1"></rect>
                            </svg>
                            <svg id="sv_normal4" width="240" height="232" onmouseover="overUpload();" onmouseout="outUpload();">
                                <mask id="mask4">
                                    <rect fill="white" width="100%" height="100%" fill-opacity="1"></rect>
                                    <circle r="111" cy="116" cx="118">
                                    </circle></mask>
                                <rect mask="url(#mask4)" fill="#f5f5f5" width="100%" height="100%" fill-opacity="1"></rect>
                            </svg>
                            <svg id="sv_normal5" width="240" height="232" onmouseover="overUpload();" onmouseout="outUpload();">
                                <mask id="mask5">
                                    <rect fill="white" width="100%" height="100%" fill-opacity="1"></rect>
                                    <circle cx="116" cy="115" r="117"></circle>
                                </mask>
                                <rect mask="url(#mask5)" fill="#f5f5f5" width="100%" height="100%" fill-opacity="1"></rect>
                            </svg>
                            <svg id="sv_normal6" width="240" height="232" onmouseover="overUpload();" onmouseout="outUpload();">
                                <mask id="mask6">
                                    <rect fill="white" width="100%" height="100%" fill-opacity="1"></rect>
                                    <circle r="112" cy="115" cx="118">
                                    </circle></mask>
                                <rect mask="url(#mask6)" fill="#f5f5f5" width="100%" height="100%" fill-opacity="1"></rect>
                            </svg>
                        </div>
                        <div class="col-xs-12 pade_none">
                            <form action="https://www.coworker.com/profile/photo" method="post" accept-charset="utf-8" id="photo_form" name="photo_form" enctype="multipart/form-data">  <input id="fileUpload" type="file" name="fileUpload">
                                <div id="upload_btns" class="upload_btn">
                                    <a href="javascript:void(0);" onclick="updatePhoto();">&nbsp;Save&nbsp;</a>
                                    <a href="javascript:void(0);" onclick="restorePhoto();">Cancel</a>
                                </div>
                            </form></div>
                        <div class="col-xs-12 pade_none coworker_tab_outr">
                            <ul>
                                <li>
                                    <a href="https://www.coworker.com/profile#answer1" class="anchor" onclick="displayAnswer(&#39;answer1&#39;);">
                                        <i class="fa fa-list-alt" aria-hidden="true"></i> My Profile
                                    </a>
                                </li>
                                <!--<li>
                                  <a href="javascript:void(0);" class="anchor" onClick="displayAnswer('answer7');">
                                    <i class="fa fa-calendar"></i> My Event
                                  </a>
                                </li>
                                <li>
                                  <a href="javascript:void(0);" class="anchor" onClick="displayAnswer('answer8');">
                                    <i class="fa fa-comment"></i> Messages
                                  </a>
                                </li>-->
                                <li>
                                    <a href="https://www.coworker.com/profile#answer2" class="anchor" onclick="displayAnswer(&#39;answer2&#39;);">
                                        <i class="fa fa-star002"></i> Reviews
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.coworker.com/profile#answer6" class="anchor for_website_icon" onclick="displayAnswer(&#39;answer6&#39;);">
                                        <img src="{% static 'img/img_swag_website.png' %}" alt="swag icon"> For your Website
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.coworker.com/profile#answer3" class="anchor" onclick="displayAnswer(&#39;answer3&#39;);">
                                        <i class="fa fa-users"></i> Connections
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.coworker.com/profile#answer4" class="anchor" onclick="displayAnswer(&#39;answer4&#39;);">
                                        <i class="fa fa-cog"></i> Settings
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-8 col-xs-12 pade_none connection_rgt_out">
                        <div class="col-xs-12 pade_none connect_leanee_top">
                            <h2>Welcome, Alex</h2>
                            <h3>This is your coworker account, where you can keep track
                                of all the stuff you've got going on.</h3>
                        </div>
                        <div class="col-xs-12 pade_none profile_leanee_outer" id="answer1" style="display:block">
                            <form action="https://www.coworker.com/profile/edit" method="post" accept-charset="utf-8" id="edit_form" name="edit_form">
                                <a href="https://www.coworker.com/profile#" id="answer1"></a>
                                <h2>Profile</h2>
                                <div class="col-xs-12 pade_none profile_con">
                                    <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">Name:</div>
                                    <div class="col-sm-8 col-md-9 col-xs-12 pade_none profile_rgt_con">Alex Stupak</div>
                                </div>

                                <div id="dv_birthday" class="col-xs-12 pade_none profile_con">
                                    <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">Date of Birth:</div>
                                    <div class="col-sm-8 col-md-9 col-xs-12 pade_none profile_rgt_con">
                                        <input class="col-sm-8 col-md-8 col-xs-8 pade_none" id="my_birthday" type="text" value="" readonly="readonly">
                                        <div class="col-sm-4 col-md-4 col-xs-4 pade_none change_btn"><a href="javascript:void(0);" onclick="showEditBirthday();">Edit</a></div>
                                    </div>
                                </div>
                                <div id="dv_birthday_edit" style="display:none;">
                                    <div class="col-xs-12 pade_none profile_con04">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">Date of Birth:</div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-11 col-md-11 col-xs-11 pade_none profile_rgt_con">
                                                <span class="ui-spinner ui-corner-all ui-widget ui-widget-content"><input id="b_day" value="1" readonly="" aria-valuemin="1" aria-valuemax="31" aria-valuenow="1" autocomplete="off" class="ui-spinner-input" role="spinbutton"><a tabindex="-1" aria-hidden="true" class="ui-button ui-widget ui-spinner-button ui-spinner-up ui-corner-tr ui-button-icon-only" role="button"><span class="ui-button-icon ui-icon ui-icon-triangle-1-n"></span><span class="ui-button-icon-space"> </span></a><a tabindex="-1" aria-hidden="true" class="ui-button ui-widget ui-spinner-button ui-spinner-down ui-corner-br ui-button-icon-only" role="button"><span class="ui-button-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-button-icon-space"> </span></a></span>
                                                <span class="ui-spinner ui-corner-all ui-widget ui-widget-content"><input id="b_month" value="0" readonly="" aria-valuenow="0" autocomplete="off" class="ui-spinner-input" role="spinbutton"><a tabindex="-1" aria-hidden="true" class="ui-button ui-widget ui-spinner-button ui-spinner-up ui-corner-tr ui-button-icon-only" role="button"><span class="ui-button-icon ui-icon ui-icon-triangle-1-n"></span><span class="ui-button-icon-space"> </span></a><a tabindex="-1" aria-hidden="true" class="ui-button ui-widget ui-spinner-button ui-spinner-down ui-corner-br ui-button-icon-only" role="button"><span class="ui-button-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-button-icon-space"> </span></a></span>
                                                <span class="ui-spinner ui-corner-all ui-widget ui-widget-content"><input id="b_year" value="1970" readonly="" aria-valuemin="1930" aria-valuemax="2016" aria-valuenow="1970" autocomplete="off" class="ui-spinner-input" role="spinbutton"><a tabindex="-1" aria-hidden="true" class="ui-button ui-widget ui-spinner-button ui-spinner-up ui-corner-tr ui-button-icon-only" role="button"><span class="ui-button-icon ui-icon ui-icon-triangle-1-n"></span><span class="ui-button-icon-space"> </span></a><a tabindex="-1" aria-hidden="true" class="ui-button ui-widget ui-spinner-button ui-spinner-down ui-corner-br ui-button-icon-only" role="button"><span class="ui-button-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-button-icon-space"> </span></a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 pade_none profile_con03">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con"></div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-3 col-md-3 col-xs-3 pade_none change_btn"><a href="javascript:void(0);" onclick="updateBirthday();">Save</a></div>
                                            <div class="col-sm-3 col-md-3 col-xs-3 pade_none change_btn"><a href="javascript:void(0);" onclick="hideEditBirthday();">Cancel</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="dv_aboutme" class="col-xs-12 pade_none profile_con03">
                                    <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">About Me:</div>
                                    <div class="col-sm-8 col-md-9 col-xs-12 pade_none profile_rgt_con">
                                        <p id="p_aboutme" class="col-sm-9 col-md-9 col-xs-9 pade_none">
                                            <span id="add_aboutme" onclick="showEditAboutme();">+ add some details about yourself</span>
                                        </p>
                                        <div id="dv_aboutme_button" class="col-sm-3 col-md-3 col-xs-3 pade_none change_btn" style="display:none;"><a href="javascript:void(0);" onclick="showEditAboutme();">Edit</a></div>
                                    </div>
                                </div>
                                <div id="dv_aboutme_edit" style="display:none;">
                                    <div class="col-xs-12 pade_none profile_con04">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">About Me:</div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none profile_rgt_con">
                                            <textarea id="aboutme" name="aboutme" class="col-sm-12 col-md-12 col-xs-12"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 pade_none profile_con03">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con"></div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-3 col-md-3 col-xs-3 pade_none change_btn"><a href="javascript:void(0);" onclick="updateAboutme();">Save</a></div>
                                            <div class="col-sm-3 col-md-3 col-xs-3 pade_none change_btn"><a href="javascript:void(0);" onclick="hideEditAboutme();">Cancel</a></div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="c_uid" id="c_uid" value="11040">
                            </form></div>
                        <!--REVIEWS-->
                        <div class="col-xs-12 pade_none profile_leanee_outer" id="answer2" style="display:none">
                            <a href="https://www.coworker.com/profile#" id="answer2"></a>

                            <h2>Your Reviews</h2>
                            <div id="user_reviews">
                            </div>
                            <div class="col-xs-12 pade_none coworker_pagination_main">
                                <ul id="sw_pagination">
                                </ul>
                            </div>
                        </div>

                        <!-- start For your Website -->

                        <div class="col-xs-12 pade_none your_website_main_outer" id="answer6" style="display:none">
                            <a href="https://www.coworker.com/profile#" id="answer6"></a>
                            <h2>For Your Website</h2>
                            <p>Get embeddable widgets and graphics for your own website that show how much your members love you...</p>


                        </div>


                        <!-- end For your Website -->


                        <!--CONNECTIONS-->
                        <div class="col-xs-12 pade_none profile_leanee_outer" id="answer3" style="display:none">
                            <a href="https://www.coworker.com/profile#" id="#answer3"></a>
                            <h2>Seems like you're alone here…</h2>
                            <p>Invite your friends to join you on Coworker!</p>
                            <br>
                            <a href="javascript:void(0);" onclick="openFB(11040);"><img src="{% static 'img/invite_friends.jpg' %}" style="height: 50px;"></a>  <div id="fri_reviews">
                        </div>
                            <div class="col-xs-12 pade_none coworker_pagination_main">
                                <ul id="fs_pagination">
                                </ul>
                            </div>
                        </div>




                        <!-- COWORKING SPACES -->
                        <div class="col-xs-12 pade_none profile_leanee_outer spaces_outer" id="answer5" style="display:none">
                            <a href="https://www.coworker.com/profile#" id="answer5"></a>
                            <h2>My Coworking  Spaces.&nbsp; </h2>
                            <div id="user_spaces">
                            </div>
                            <div class="col-xs-12 pade_none coworker_pagination_main">
                                <ul id="ms_pagination">
                                </ul>
                            </div>
                        </div>

                        <!--SETTINGS-->
                        <div class="col-xs-12 pade_none profile_leanee_outer" id="answer4" style="display:none">
                            <form action="https://www.coworker.com/profile/user" method="post" accept-charset="utf-8" id="user_form" name="user_form">
                                <a href="https://www.coworker.com/profile#" id="answer4"></a>

                                <div id="dv_contact" class="col-xs-12 pade_none profile_con02">
                                    <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">Contact Email:</div>
                                    <div class="col-sm-8 col-md-9 col-xs-12 pade_none profile_rgt_con">
                                        <input class="col-sm-8 col-md-8 col-xs-8" name="email" type="text" value="stupak.alexn@gmail.com" readonly="readonly">
                                        <div class="col-sm-4 col-md-4 col-xs-4 pade_none change_btn"><a href="javascript:void(0);" onclick="showContactEmail();">Change</a></div>
                                    </div>
                                </div>
                                <div id="dv_contact_email" style="display:none;">
                                    <div class="col-xs-12 pade_none profile_con04">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">New Contact Email:</div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-11 col-md-11 col-xs-11 pade_none profile_rgt_con">
                                                <input class="col-sm-12 col-md-12 col-xs-12" id="nc_email" name="nc_email" type="text" value="stupak.alexn@gmail.com">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 pade_none profile_con03">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con"></div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-3 col-md-3 col-xs-3 pade_none change_btn"><a href="javascript:void(0);" onclick="updateContactEmail();">Save</a></div>
                                            <div class="col-sm-3 col-md-3 col-xs-3 pade_none change_btn"><a href="javascript:void(0);" onclick="hideContactEmail();">Cancel</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="dv_change" class="col-xs-12 pade_none profile_con03">
                                    <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">Password:</div>
                                    <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                        <div class="col-sm-8 col-md-8 col-xs-8 pade_none profile_rgt_con"><input class="col-sm-12 col-md-12 col-xs-12" type="password" value=""></div>
                                    </div>
                                </div>
                                <div id="dv_password" style="display:none;">
                                    <div class="col-xs-12 pade_none profile_con04">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">New Password:</div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-8 col-md-8 col-xs-8 pade_none profile_rgt_con"><input class="col-sm-12 col-md-12 col-xs-12" id="n_password" name="n_password" type="password" value=""></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 pade_none profile_con04">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">Confirm New Password:</div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-8 col-md-8 col-xs-8 pade_none profile_rgt_con"><input class="col-sm-12 col-md-12 col-xs-12" id="cn_password" name="cn_password" type="password" value=""></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 pade_none profile_con04">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con">Current Password:</div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-8 col-md-8 col-xs-8 pade_none profile_rgt_con"><input class="col-sm-12 col-md-12 col-xs-12" id="c_password" name="c_password" type="password" value=""></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 pade_none profile_con03">
                                        <div class="col-sm-4 col-md-3 col-xs-12 pade_none profile_lft_con"></div>
                                        <div class="col-sm-8 col-md-9 col-xs-12 pade_none">
                                            <div class="col-sm-3 col-md-3 col-xs-3 pade_none change_btn"><a href="javascript:void(0);" onclick="updateUser();">Save</a></div>
                                            <div class="col-sm-3 col-md-3 col-xs-3 pade_none change_btn"><a href="javascript:void(0);" onclick="hidePassword();">Cancel</a></div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="c_id" id="c_id" value="11040">
                                <input type="hidden" name="op_id" id="op_id" value="-1">
                                <input type="hidden" name="user_name" id="user_name" value="">
                            </form></div>
                        <!-- MARKETING ############################################################ -->
                        <div class="col-xs-12 pade_none profile_leanee_outer" id="answer6" style="display:none">
                            <h2>Marketing</h2>
                        </div>
                        <!-- BOOKING ############################################################ -->
                        <div class="col-xs-12 pade_none profile_leanee_outer" id="answer10" style="display:none">
                            <h2>Bookings</h2>
                        </div>

                        <!-- ###################################################################### -->
                    </div>
                </div>
            </div>
            <!-- loading pop -->
            <div class="modal fade" id="popup_loading" role="dialog">
                <div class="screen_loader"><img src="{% static 'img/ajax-loader.gif' %}"></div>
            </div>

            <!-- Confirm pop -->
            <div class="modal fade" id="popup_confirm" role="dialog">
                <div class="pop_modal-dialog">
                    <div class="col-xs-12 pade_none pop_outer">
                        <button type="button" class="close" onclick="closePopupConfirm();" data-dismiss="modal">×</button>
                        <h2 id="popup_confirm_h2"></h2>
                        <div class="col-xs-12 pade_none pop_inner" id="popup_confirm_msg"></div>
                        <div class="col-xs-12 pade_none pop_btn" id="cancel_submit">
                            <a href="javascript:void(0);" onclick="closePopupConfirm();">Close</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--NGINX SOFTWARE END-->
        </div>

    </div>

    <script type="text/javascript">
      var r_profile = '//graph.facebook.com/1461729717241553/picture?type=large';
      var r_token = '';
      function showTab(cTab) {
        $('.tab-pane').each(function(){
          $(this).hide();
        });
        $('#'+cTab).show();
      }
      var c_idx= 0;
      function loadMyReviewsPage(idx,p_id){
        $.ajax({
          'url' : 'https://www.coworker.com/profile/get_reviews',
          'type' : 'POST',
          'data' : {pIdx:idx, uId:p_id},
          'success' : function(data){
            var result = $.parseJSON(data);
            $('#sw_pagination').html(result.pagination);
            $('#sw_pagination_total').html(result.pag_total);
            $('#user_reviews').html(result.content);
            c_idx = result.idx;
          }
        });
      }
      function nextMyReviewsPage(p_id){
        c_idx++;
        loadMyReviewsPage(c_idx,p_id);
      }
      function prevMyReviewsPage(p_id){
        c_idx--;
        if(c_idx>=0){
          loadMyReviewsPage(c_idx,p_id);
        } else
          c_idx=0;
      }

      var ms_idx= 0;
      function loadMySpacesPage(idx,p_id){
        $.ajax({
          'url' : 'https://www.coworker.com/profile/get_spaces',
          'type' : 'POST',
          'data' : {pIdx:idx, uId:p_id},
          'success' : function(data){
            var result = $.parseJSON(data);
            $('#ms_pagination').html(result.pagination);
            $('#ms_pagination_total').html(result.pag_total);
            $('#user_spaces').html(result.content);
            ms_idx = result.idx;
          }
        });
      }
      function nextMySpacesPage(p_id){
        ms_idx++;
        loadMySpacesPage(ms_idx,p_id);
      }
      function prevMySpacesPage(p_id){
        ms_idx--;
        if(ms_idx>=0){
          loadMySpacesPage(ms_idx,p_id);
        } else
          ms_idx=0;
      }
      var fs_idx=0;
      function loadFriReviewsPage(idx,p_id){
        $.ajax({
          'url' : 'https://www.coworker.com/profile/get_fri_reviews',
          'type': 'POST',
          'data': { pIdx : idx, uId : p_id },
          'success' : function(data){
            var result2 = $.parseJSON(data);
            $('#fs_pagination').html(result2.pagination);
            $('#fs_pagination_total').html(result2.pag_total);
            $('#fri_reviews').html(result2.content);
            $('html, body').animate({
              scrollTop: $("#answer3").offset().top
            }, 0);
            fs_idx = result2.idx;
          }
        });
      }
      function nextFriReviewsPage(p_id){
        fs_idx++;
        loadFriReviewsPage(fs_idx,p_id);
      }
      function prevFriReviewsPage(p_id){
        fs_idx--;
        if(fs_idx>=0){
          loadFriReviewsPage(fs_idx,p_id);
        } else
          fs_idx=0;
      }
    </script>


    <script type="text/javascript">
      function showEditBirthday(){
        $('#dv_birthday').hide();
        $('#dv_birthday_edit').show();
      }
      function hideEditBirthday(){
        $('#dv_birthday').show();
        $('#dv_birthday_edit').hide();
      }
      function showContactEmail(){
        $('#dv_contact').hide();
        $('#dv_contact_email').show();
      }
      function hideContactEmail(){
        $('#dv_contact').show();
        $('#dv_contact_email').hide();
      }
      function showPassword(){
        $('#dv_change').hide();
        $('#dv_password').show();
      }
      function hidePassword(){
        $('#dv_change').show();
        $('#dv_password').hide();
      }
      function updateUser(){
        var n_pass = ($('#n_password').val()).trim();
        var cn_pass = $('#cn_password').val().trim();
        var pass = $('#c_password').val().trim();
        if((n_pass==cn_pass)&&(n_pass!='')){
          if((n_pass==pass)&&(pass!=''))
            alert('Invalid New password');
          else if(pass=='')
            alert('Current password is required');
          else{
            $('#op_id').val(1);
            $('#user_form').submit();
          }
        } else {
          alert('New password is required');
        }
      }
      function updateContactEmail(){
        var n_con_email = ($('#nc_email').val()).trim();
        if(n_con_email=='')
          alert('Contact Email is required');
        else if(!validateEmail(n_con_email))
          alert('Invalid Contact Email');
        else {
          $('#op_id').val(2);
          $('#user_form').submit();
        }
      }
      function showEditAboutme(){
        $('#dv_aboutme').hide();
        $('#dv_aboutme_edit').show();
      }
      function hideEditAboutme(){
        if($('#p_aboutme').find('#add_aboutme').length>0){
          $('#dv_aboutme_button').hide();
        } else {
          $('#dv_aboutme_button').show();
        }
        $('#dv_aboutme').show();
        $('#dv_aboutme_edit').hide();
      }
      function updateAboutme(){
        if($('#aboutme').val().trim()!=''){
          var xmsg = $('#aboutme').val().trim();
          $.ajax({
            'url' : 'https://www.coworker.com/profile/update_aboutme',
            'type' : 'POST',
            'data' : {'c_uid' : $('#c_id').val(), 'aboutme':JSON.stringify(xmsg)},
            'success' : function(data){
              var result = $.parseJSON(data);
              if(result.msg == 'SCS') {
                $('#p_aboutme').text(xmsg);
                $('#p_aboutme').show();
                $('#dv_aboutme').show();
                $('#dv_aboutme_button').show();
                $('#dv_aboutme_edit').hide();
              } else {

              }
            }
          });
        } else
          alert('Please enter some details');
      }
      function updateBirthday(){
        var xday  = $('#b_day').spinner('value');
        var xmonth= $('#b_month').textSpinner('value')+1;
        var xyear = $('#b_year').spinner('value');
        $.ajax({
          'url' : 'https://www.coworker.com/profile/update_aboutme',
          'type' : 'POST',
          'data' : {'c_uid' : $('#c_id').val(), 'day':xday, 'month':xmonth, 'year':xyear},
          'success' : function(data){
            var result = $.parseJSON(data);
            if(result.msg == 'SCS') {
              $('#my_birthday').val(result.birthday);
              $('#dv_birthday').show();
              $('#dv_birthday_edit').hide();
            } else { }
          }
        });
      }
      function validateEmail(email) {
        var re = /\S+@\S+\.\S+/;
        return re.test(email);
      }
      function connectToFB(){
        window.location = "https://www.facebook.com/v2.5/dialog/oauth?client_id=778242928950690&state=4de404c7f4b452d3bf76d78ef9756109&response_type=code&sdk=php-sdk-5.0.0&redirect_uri=https%3A%2F%2Fwww.coworker.com%2Fcoworker_fb%2Fconnect_fb&scope=email%2Cuser_friends";
      }
      function openFB(uId){
        FB.ui({
          method: 'share',
          href:'https://www.coworker.com/'
        }, function(response){
        });
      }
      function overUpload() {
        $('#upload_text, #text_res').show();
        $('#camera_icon').hide();
        $('#upload_lbl').addClass('upload_picture_trans');
      }
      function outUpload() {
        $('#upload_text, #text_res').hide();
        $('#camera_icon').show();
        $('#upload_lbl').removeClass('upload_picture_trans');
      }
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "778242928950690",
          xfbml      : true,
          version    : 'v2.5',
          cookie:true,
          status:true
        });
      };
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      function updatePhoto (argument) {
        var img_size = document.getElementById('fileUpload').files[0].size;
        if(img_size < (1024 * 1024 * 10))
          $('#photo_form').submit();
        else
          alert('The Max file size is: 10 MB');
      }
      function restorePhoto() {
        $('#img_profile').attr('src',r_profile);
        $('#upload_btns').hide();
      }

      $(document).on('show.bs.modal', '.modal', function () {
        var zIndex = 1040 + (10 * $('.modal:visible').length);
        $(this).css('z-index', zIndex);
        setTimeout(function() {
          $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
        }, 0);
      });

      $(document).ready(function() {
        //$('.upload_picture_hov').click(function(e) { $('#fileUpload').click(); });

        $('#sv_normal').click(function(e) { $('#fileUpload').click(); });
        $('#sv_normal1').click(function(e) { $('#fileUpload').click(); });
        $('#sv_normal2').click(function(e) { $('#fileUpload').click(); });
        $('#sv_normal3').click(function(e) { $('#fileUpload').click(); });
        $('#sv_normal4').click(function(e) { $('#fileUpload').click(); });
        $('#sv_normal5').click(function(e) { $('#fileUpload').click(); });
        $('#sv_normal6').click(function(e) { $('#fileUpload').click(); });

        $("#fileUpload").on('change', function() {
          //Get count of selected files
          var countFiles = $(this)[0].files.length;
          var imgPath = $(this)[0].value;
          var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
          if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof(FileReader) != "undefined") {
              //loop for each file selected for uploaded.
              for (var i = 0; i < countFiles; i++)
              {
                var reader = new FileReader();
                reader.onload = function(e) {
                  $('#img_profile').attr('src',e.target.result);
                  $('#upload_btns').show();
                }
                //image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
              }
            } else {
              alert("This browser does not support FileReader.");
            }
          } else {
            alert("Pls select only images");
          }
        });
        $( "#b_day" ).spinner({
          min: 1,
          max: 31,
        });
//  console.log($( "#b_day" ).spinner( "option", "classes.ui-spinner" ));
        $("#b_month").textSpinner({
          values: arrText,
          spin: function( event, ui ) {
            var c_day  = $( "#b_day" ).spinner( "value" );
            var s_month= [3,5,8,10];
            var c_year = $( "#b_year" ).spinner( "value" );
            $( "#b_month" ).text(ui.value);
            var c_max = 31;
            var x_day = c_day;
            if(ui.value==1){
              if ((c_year % 4 == 0) && ((c_year % 100 != 0) || (c_year % 400 == 0))){
                c_max = 29;
                if(c_day>29)
                  x_day = 29;
              } else {
                c_max = 28;
                if(c_day>28)
                  x_day = 28;
              }
            } else if(s_month.indexOf(ui.value)!=-1){
              c_max = 30;
              if(c_day==31)
                x_day = 30;
            } else {
              c_max = 31;
            }
            $( "#b_day" ).spinner( "option", "max", c_max );
            $( "#b_day" ).spinner( "value", x_day );
          }
        });
        $( "#b_year" ).spinner({
          min: 1930,
          max: 2016,
          spin: function( event, ui ) {
            if ((ui.value % 4 == 0) && ((ui.value % 100 != 0) || (ui.value % 400 == 0))){
              if($( "#b_month" ).textSpinner( "value" )==1){
                $( "#b_day" ).spinner( "option", "max", 29 );
              }
            } else {
              var c_month= $( "#b_month" ).textSpinner( "value" );
              var c_day  = $( "#b_day" ).spinner( "value" );
              if(c_month==1){
                $( "#b_day" ).spinner( "option", "max", 28 );
                if(c_day==29)
                  $( "#b_day" ).spinner( "value", 28 );
              }
            }
          }
        });
      });
      var arrText = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      $.widget("ui.textSpinner", $.ui.spinner, {
        options: {
          wrap: false
        },
        _parse: function (value) {
          if ((value === '') || isNaN(value)) {
            value = this.options.values.indexOf(value);
            if (value === -1) {
              value = 0;
            }
          }
          if (value < 0) {
            value = this.options.wrap ? (this.options.values.length -1) : 0;
          } else if (value >= this.options.values.length) {
            value = this.options.wrap ? 0 : (this.options.values.length - 1);
          }
          return value;
        },
        _format: function (value) {
          return this.options.values[value];
        },
        _adjustValue: function (value) {
          if (value < 0) {
            value = this.options.wrap ? (this.options.values.length - 1) : 0;
          } else if (value >= this.options.values.length) {
            value = this.options.wrap ? 0 : (this.options.values.length - 1);
          }
          return value;
        }
      });
    </script>

    <script type="text/javascript">

      var msg_login = 0;
      $(document).ready(function(){
        $('body').append($('<div>', {id:'nvmyLoading',class: 'modal'}));
        $('#nvmyLoading').initLoading({pathLoading:'https://www.coworker.com/'});
        $('body').append($('<div>', {id:'nvloginModal',class: 'modal'}));
        $('#nvloginModal').initLogin({pathLoading:'https://www.coworker.com/'});
        $('body').append($('<div>', {id:'nvmy_Modal',class: 'popup_outer'}));
        $('#nvmy_Modal').initSignup({pathLoading:'https://www.coworker.com/'});
        $('body').append($('<div>', {id:'nvmy_Signup',class: 'container modal'}));
        $('#nvmy_Signup').initNewSignup({pathLoading:'https://www.coworker.com/'});
        $('.form_outer').click(function(event) {
          if(event.target.id=='fo_target'){
            $('#nvmy_Signup').modal('hide');
          } else{
            event.stopPropagation();
          }
        });
        $('#top').click(function(){
          $('#n_popup').flexModal({align: "top", y_offset: 10});
        });
        $('#right').click(function(){
          $('#n_popup').flexModal({align: "right", x_offset: 30});
        });
        $('#bottom').click(function(){
          $('#n_popup').flexModal({align: "bottom"});
        });
        $('#left').click(function(){
          $('#n_popup').flexModal({align: "left"});
        });
      });
      function redirectNavFB(){
        analytics.track('Click_Sign_Up_by_facebook', {
          category: 'Account'
        });

        analytics.page('Click_Sign_Up_by_facebook',
          { title: 'Click_Sign_Up_by_facebook',
            url: 'https://www.coworker.com/Click_Sign_Up_by_facebook'}
        );
        window.location = "https://www.facebook.com/v2.5/dialog/oauth?client_id=778242928950690&state=8be027d9faa9ec9ea6e4d88ee1b01f77&response_type=code&sdk=php-sdk-5.0.0&redirect_uri=https%3A%2F%2Fwww.coworker.com%2Fcoworker_fb%2Flogin_fb&scope=email%2Cuser_friends";

      }
      function redirectNavFBForLogin(){

        analytics.track('Click_Login_facebook_button', {
          category: 'Account'
        });

        analytics.page('Click_Login_facebook_button',
          { title: 'Click_Login_facebook_button',
            url: 'https://www.coworker.com/Click_Login_facebook_button'}
        );
        window.location = "https://www.facebook.com/v2.5/dialog/oauth?client_id=778242928950690&state=8be027d9faa9ec9ea6e4d88ee1b01f77&response_type=code&sdk=php-sdk-5.0.0&redirect_uri=https%3A%2F%2Fwww.coworker.com%2Fcoworker_fb%2Flogin_fb&scope=email%2Cuser_friends";
      }


      function openNavLoging(){
        msg_login=0;

        analytics.track('Click_Login_button', {
          category: 'Account'
        });

        analytics.page('popup_log_in',
          { title: 'popup_log_in',
            url: 'https://www.coworker.com/popup_log_in'}
        );

        $('#nvmy_Signup').normalSignupTitle();
        $('#nvloginModal').modal('toggle');
      }
      function openNavSignup(){
        msg_login=0;

        analytics.track('Click_Sign_Up_button', {
          category: 'Account'
        });

        analytics.page('popup_sign_up',
          { title: 'popup_sign_up',
            url: 'https://www.coworker.com/popup_sign_up'}
        );


        $('#nvmy_Signup').normalSignupTitle();
        $('#nvmy_Signup').modal('toggle');
      }
      function openNavSignupForm(){
        if(msg_login){
          $('#nvmy_Signup').msgSignupTitle();
        } else {
          $('#nvmy_Signup').normalSignupTitle();
        }

        analytics.track('Click_Sign_Up_by_email', {
          category: 'Account'
        });

        analytics.page('Click_Sign_Up_by_email',
          { title: 'Click_Sign_Up_by_email',
            url: 'https://www.coworker.com/Click_Sign_Up_by_email'}
        );


        $('#nvmy_Signup').modal('toggle');
        $('#n_popup').flexModal();
      }
      function navSignupLogin(){
        if(msg_login){
          $('#nvmy_Signup').msgSignupTitle();
        } else {
          $('#nvmy_Signup').normalSignupTitle();
        }
        $('#nvmy_Signup').modal('toggle');
        $('#nvloginModal').modal('toggle');
      }
      function navLoginSignup(){
        if(msg_login){
          $('#nvmy_Signup').msgSignupTitle();
        } else {
          $('#nvmy_Signup').normalSignupTitle();
        }
        $('#nvloginModal').modal('toggle');
        $('#nvmy_Signup').modal('toggle');
      }
      function openNavSignupLogin(){
        $('#flex-overlay').click();
        $('#nvloginModal').modal('toggle');
      }
      function isEmpty(str){
        return str.replace(/^\s+/g, '').length==0;
      }

      function validateNavSignup() {
        var f_name = $('#nvfirst_name').val();
        var l_name = $('#nvlast_name').val();
        var xemail = $('#nvemail').val();
        var pass   = $('#nvpassword').val();
        /*var xday   = $('#nvdaySelect').val();
        var xmonth = $('#nvmonthSelect').val();
        var xyear  = $('#nvyearSelect').val();*/
        var promotions = 0;
        if(jQuery('#c1').is(":checked"))
          promotions = 1;
        if (isEmpty(f_name)){
          alert('First Name is required!');
        } else if (isEmpty(l_name)){
          alert('Last Name is required!');
        } else if (isEmpty(xemail)){
          alert('Email is required!');
        } else if (!validateEmail(xemail)){
          alert('Invalid email!');
        } else if (isEmpty(pass)){
          alert('Password is required!');
        } /*else if (xday == -1){
      alert('Day is required!');
  } else if (xmonth == -1){
      alert('Month is required!');
  } else if (xyear == -1 ){
      alert('Year is required!');
  }*/ else {
          var message = {};
          message["Data"] = "New User Signup : "+f_name+" "+l_name;
          $.ajax({
            'url' : 'https://www.coworker.com/validate_navsignup',
            'type' : 'POST',
            'dataType': 'json',
            'data' : {'form_signup':1, 'fname' : f_name, 'lname' : l_name, 'semail' : xemail, 'spass' : pass,'day':0, 'month':0, 'year':0, 'promo':promotions, 'msg_log':msg_login},
            'success' : function(result){
              if(result.msg == 'SCS') {
                socket.emit('UserTrigerClient',message);

                // segment tracking
                analytics.track('Signed_Up_by_email', {
                  category: 'Account',
                  label: 'Email',
                  SignUpType: 'Email',
                  SignUp_FirstName: f_name,
                  SignUp_LastName: l_name,
                  SignUp_Email: xemail
                });

                analytics.page('Signed_Up_by_email',
                  { title: 'Signed_Up_by_email',
                    url: 'https://www.coworker.com/Signed_Up_by_email'}
                );
                window.location.href = 'https://www.coworker.com/'+window.location.pathname.slice(1);
              } else {
                alert(result.error);
              }
            }
          });
        }
      }
      var RURLF =  'https://www.coworker.com/'+window.location.pathname.slice(1);
      var RURLS =  'https://www.coworker.com/profile/my-space';
      function validateNavLogin() {
        var xemail = $('#nvl_email').val();
        var pass   = $('#nvl_password').val();
        if (isEmpty(xemail)){
          alert('Email is required!');
        } else if (!validateEmail(xemail)){
          alert('Invalid email!');
        } else if (isEmpty(pass)){
          alert('Password is required!');
        } else {
          $.ajax({
            'url' : 'https://www.coworker.com/validate_navlogin',
            'type' : 'POST',
            'data' : {'form_login':1, 'semail' : xemail, 'spass' : pass,'msg_log':msg_login},
            'success' : function(data){
              var result = $.parseJSON(data);
              if(result.msg == 'SCS') {

                analytics.track('Log_in', {
                  category: 'Account',
                  label: 'Email',
                  LogInType: 'Email'
                });

                analytics.page('Log_in',
                  { title: 'log_in',
                    url: 'https://www.coworker.com/log_in'}
                );


                if(result.lab) {
                  jQuery.ajax({
                    type: "POST",
                    url: "https://www.coworker.com/lab/wp-admin/admin-ajax.php",
                    data: {'action':'cw_login','log':xemail,'pwd':pass},
                    success: function(msg){
                      window.location.href = RURLF;
                    },
                    error: function(msg){}
                  });
                } else {
                  window.location.href = RURLF;
                }
              } else {
                alert(result.error);
              }
            }
          });
        }
      }

      /*-- INI :: Signup/login popup for list-space page --------------------------*/
      function showNewLoginPopup(){
        $('#newSignup2Wrapper').hide();
        $('#newSignup1Wrapper').hide();
        $('#newLoginWrapper').show();
      }
      function showNewCreationPopup1(){
        $('#newLoginWrapper').hide();
        $('#newSignup2Wrapper').hide();
        $('#newSignup1Wrapper').show();
      }
      function showNewCreationPopup2(){
        $('#newLoginWrapper').hide();
        $('#newSignup1Wrapper').hide();
        $('#newSignup2Wrapper').show();
      }

      function validateNewLogin(){
        var v_email = $('#fvl_email').val();
        var v_passw = $('#fvl_passw').val();
        var v_cu_id = $('#loc_cu_id').val();
        var v_token = $('#loc_n_token').val();
        //alert('email: '+v_email+' passw: '+v_passw+' cu_id: '+v_cu_id+' token: '+v_token);
        if ( isEmpty(v_email) ){
          alert('Email is required!');
        }
        else if (!validateEmail(v_email)){
          alert('Invalid email!');
        }
        else if ( isEmpty(v_passw) ){
          alert('Password is required!');
        }
        else{
          var postdata = {
            'form_login':1,
            'semail' : v_email,
            'spass' : v_passw,
            'stoken' : v_token
          }
          $.ajax({
            'url' : 'https://www.coworker.com/validate_navlogin',
            'type' : 'POST',
            'data' : postdata,
            'success' : function(data){
              var result = $.parseJSON(data);
              if(result.msg == 'SCS') {
                //window.location.href = 'https://www.coworker.com/'+window.location.pathname.slice(1);

                $('#cu_id').val(v_cu_id);
                $('#n_token').val(v_token);
                $('#n_step').val('continue');
                $('#redirform')[0].submit();


              } else {
                alert(result.error);
              }
            }
          });
        }
      }

      function validateNewSignup() {

        var v_fname = $('#fv_fname').val();
        var v_lname = $('#fv_lname').val();
        var v_email = $('#fv_email').val();
        var v_passw = $('#fv_passw').val();

        var v_cu_id = $('#loc_cu_id').val();
        var v_token = $('#loc_n_token').val();
        //alert('first Name:'+v_fname+' Last Name: '+v_lname+' Email: '+v_email+' Password: '+v_passw);

        var promotions = 0;
        //if(jQuery('#c1').is(":checked"))
        //  promotions = 1;
        if (isEmpty(v_fname)){
          alert('First Name is required!');
        } else if (isEmpty(v_lname)){
          alert('Last Name is required!');
        } else if (isEmpty(v_email)){
          alert('Email is required!');
        } else if (!validateEmail(v_email)){
          alert('Invalid email!');
        } else if (isEmpty(v_passw)){
          alert('Password is required!');
        } else {
          var datapost = {
            'form_signup':1,
            'fname' : v_fname,
            'lname' : v_lname,
            'semail' : v_email,
            'spass' : v_passw,
            'day':0,
            'month':0,
            'year':0,
            'promo':promotions,
            'stoken' : v_token
          }
          $.ajax({
            'url' : 'https://www.coworker.com/validate_navsignup',
            'type' : 'POST',
            'dataType': 'json',
            'data' : datapost,
            'success' : function(result){
              if(result.msg == 'SCS') {
                //window.location.href = 'https://www.coworker.com/'+window.location.pathname.slice(1);
                $('#cu_id').val(v_cu_id);
                $('#n_token').val(v_token);
                $('#n_step').val('continue');
                $('#redirform')[0].submit();
              } else {
                alert(result.error);
              }
            }
          });
        }

      }
      /*-- END :: Signup/login popup for list-space page --------------------------*/
      function showRecoverEmail(){
        swal({
            title: "Forgot password",
            text: "Please enter your email:",
            type: "input",
            showCancelButton: true,
            closeOnConfirm: true,
            animation: "slide-from-top",
            inputPlaceholder: "Email"
          },
          function(inputValue){
            if(inputValue === false) return false;
            else if(inputValue === "") {
              swal.showInputError("You need to write email!");
              return false;
            }
            else if(!validateEmail(inputValue)) {
              swal.showInputError("You need to write valid email!");
              return false;
            } else {
              $.ajax({
                'url' : 'https://www.coworker.com/reset_email',
                'type' : 'POST',
                'dataType': 'json',
                'data' : { mail : inputValue, form_reset : 1 },
                'success' : function(result){
                  if(result.msg == 'SCS') {
                    swal("Reset your password", "We can email you a link to reset it.")
                  } else {
                    swal.showInputError(result.error);
                    return false;
                  }
                }
              });
            }
          });
      }
      $(document).ready(function(){
        $('#mobBtnOpen').on('click', function(){
          //$('#mobBtnOpen').hide(500);
          //$('#mobileMenu').show(300);
          $('#mobileMenu').css({
            display:'block'
          });
        });
        $('#mobBtnClose').on('click', function(){
          //$('#mobileMenu').hide(300);
          //$('#mobBtnOpen').show(300);
          $('#mobileMenu').css({
            display:'none'
          });
        });
        $('#signupBtn').on('click', function(){
          $('#mobileMenu').css({
            display:'none'
          });
        });
        $('#loginBtn').on('click', function(){
          $('#mobileMenu').css({
            display:'none'
          });
        });
      });
    </script>
    <script type="text/javascript">
      $(function() {
        $( "#h_location" ).autocomplete({
          source:function(request, response) {
            $("#h_place_id").val(0);
            $("#h_search_place").val(0);
            $.ajax({
              url: 'https://www.coworker.com/getAutocomplete',
              dataType: "json",
              type: "POST",
              data: {
                term : request.term
              },
              success: function(data) {
                response(data);
              }
            });
          },minLength:1,
          messages: {
            noResults: '',
            results: function() {}
          },appendTo: "#h_aucomplete",
          select: function (event, ui) {
            $("#h_place_id").val(ui.item.idx);
            $("#h_search_place").val(ui.item.loc);
            $("#xh_location").val(ui.item.value);
            $('#h_location').val(ui.item.value);
            if(ui.item.loc==3){
              if(ui.item.coworkspace_url!='')
                window.location = '/'+ui.item.coworkspace_url;
            } else
              submitSearchH();
          },
          open: function(){
            $('.ui-autocomplete').css('width', $('#h_location').width());
          }
        }).autocomplete( "instance" )._renderItem = function( ul, item ) {
          var loc_icon = '<i class="fa fa-buildingui"></i>';
          var view_all = '';
          if(item.loc==1)
            loc_icon = '<i class="fa fa-globeui"></i>';
          if((item.loc==2) || (item.loc==2.5))
            loc_icon = '<i class="fa fa-map-markerui"></i>';
          if(item.loc==5)
            loc_icon = '<i class="fa fa-map-markerui"></i>';
          if(item.loc==10)
            loc_icon = '<i class="fa fa-map-markerui"></i>';
          if(item.loc==0){
            loc_icon = "";
            view_all = 'class="search_view_results_div pade_none"';
          }
          return $( "<li "+view_all+">" ).append( loc_icon + item.label ).appendTo( ul );
        };
      });
      function submitSearchH() {
        if($("#xh_location").val()!=$("#h_location").val()) {
          $("#h_place_id").val(0);
          $("#h_search_place").val(0);
        }
        $.ajax({
          url: 'https://www.coworker.com/search/start',
          dataType: "json",
          type: "POST",
          data: {
            h_place_id     : $("#h_place_id").val(),
            h_search_place : $("#h_search_place").val(),
            h_location     : $("#h_location").val(),
            form_search    : 2
          },
          success: function(data) {
            window.location = 'https://www.coworker.com/search/'+data.s_url;
          }
        });
      }
      $("#h_location").keypress(function(event) {
        if (event.which == 13) {
          event.preventDefault();
          submitSearchH();
        }
      });
      function overUserMenu(event) {
        $('#lg_h').show();
      }
      function outUserMenu(event) {
        var om = event.toElement || event.relatedTarget;
        var ce = ["lg_menu", "lg_c", "lg_p", "lg_s", "lg_i","lg_h"];
        if(om !== null){
          if (ce.indexOf(om.id)!=-1) {
            return;
          } else if($(om).closest("div").id=="lg_h"){
            return;
          } else {
            $('#lg_h').hide();
          }
        }
      }
      $(document).ready(function(){
        if($('#lg_menu').length>0){
          document.getElementById("lg_menu").addEventListener('mouseout',outUserMenu,true);
          document.getElementById("lg_menu").addEventListener('mouseover',overUserMenu,true);
        }
      });
    </script>

{% endblock content %}

