{% extends 'base.html' %}
{% load static %}


{% block title %}Meet the Coworker Team{% endblock %}


{% block content %}

  <div class="team_title_bar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 pade_none team_title_bar_inn">
          <div class="title_bar_icon"><img src="{% static 'img/title_bar_icon.png' %}" alt="title-bar-icon"></div>
          <h1>加入我们</h1>
        </div>
      </div>
    </div>
  </div>
<!--TEAM TITLR BAR END-->
<!--TEAM CONTENT START-->
<div class="team_content_section">
  <div class="col-xs-12 team_content">
    <p>我们这里汇聚了全世界的反抗者、离群者、天才、科技怪胎、艺术家、作家…… </p>
  </div>
  <div class="col-xs-12 pade_none team_member_outer">
    <ul>
        {% for item in "xxxxxxxxx" %}
          <li>
            <div class="team_member_image"><img src="{% static 'img/team_member_leanee.jpg' %}" alt="Leanne Beesley Pic"></div>
            <div class="team_member_hover">
              <div class="team_member_content">
                <div class="team_member_name link link--mallki">Leanne Beesley</div>
                <div class="team_member_destination">Co-Founder</div>
                <div class="team_member_social">
                  <a href="https://twitter.com/leannebeesley" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/leannebeesley" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
    </ul>
  </div>
</div>
<!--TEAM CONTENT END-->

<!--TEAM FORM SOCIAL END-->
  <div class="team_formsocial_outer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 team_formsocial_inner">
          <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 team_forms_left">
            <h2>想对我们说些什么吗？</h2>
            <p>如果你有任何疑问，或者想和我们分享您非凡的经历，请填写下列表格或发送邮箱至<a href="mailto:hello@coworker.com">hello@spacesmap</a></p>
            <div class="team_forms_outer">
              <input id="t_name" name="t_name" type="text" placeholder="名字">
              <input id="t_email" name="t_email" type="email" placeholder="邮箱">
              <input id="t_subject" name="t_subject" type="text" placeholder="主题">
              <textarea id="t_message" name="t_message" rows="5" placeholder="请输入信息"></textarea>
              <button type="button" id="submit" onclick="registerMessage();">发送</button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 pade_none team_social_right">
            <h3>通过社交媒体联系我们</h3>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 pade_none team_social_inner">
              <div class="col-xs-4 col-sm-4 col-md-3 pade_none team_social_icon"><a href="https://www.facebook.com/coworkerglobal" target="_blank"><img src="{% static 'img/team_sm_icon01.jpg' %}" alt="Facebook-Icon"></a></div>
              <div class="col-xs-8 col-sm-8 col-md-9 pade_none team_social_text">
                <h4><a href="https://www.facebook.com/coworkerglobal" target="_blank">微博</a></h4>
                <span>@创客云图</span>
                <p>在微博上搜索我们的官方微博“创客云图”，您可以看到全世界的人们是如何通过创客云图办公的。 </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 pade_none team_social_inner">
              <div class="col-xs-4 col-sm-4 col-md-3 pade_none team_social_icon"><a href="https://www.instagram.com/coworker/" target="_blank"><img src="{% static 'img/team_sm_icon02.jpg' %}" alt="Instagram-Icon"></a></div>
                <div class="col-xs-8 col-sm-8 col-md-9 pade_none team_social_text">
                  <h4><a href="https://www.instagram.com/coworker/" target="_blank">微信公众号</a></h4>
                    <span>创客云图公众号</span>
                    <p>想找创客云图场地？关注我们的公众号，把您的需求告诉我们，我们将第一时间为您推荐合适的场地。</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 pade_none team_social_inner">
              <div class="col-xs-4 col-sm-4 col-md-3 pade_none team_social_icon"><a href="https://twitter.com/coworkerglobal" target="_blank"><img src="{% static 'img/team_sm_icon03.jpg' %}" alt="Twitter-Icon"></a></div>
              <div class="col-xs-8 col-sm-8 col-md-9 pade_none team_social_text">
                <h4><a href="https://twitter.com/coworkerglobal" target="_blank">知乎</a></h4>
                <span>创客云图</span>
                <p>关注我们的知乎ID，您将获得更多资讯!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--TEAM FORM SOCIAL END-->
{% endblock content %}
