{% extends 'base.html' %}
{% load static %}


{% block title %}T&amp;Cs: Coworker{% endblock %}


{% block content %}
    <div class="main_outer">
        <div class="nginx_main_outer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12 pade_none nginx_main_single">
                        <div class="col-sm-12 col-md-12 col-xs-12 pade_none">

                            <h2 style="margin-top:30px;">使用 &amp; 条款</h2>

                            <p class="MsoNormal">欢迎您使用创客云图的服务！为使用创客云图的服务，您应当阅读并遵守《创客云图使用协议》和《创客云图隐私权条款》。本协议是用户与创客云图之间的法律协议，是用户注册创客云图平台账号和/或使用创客云图服务时使用的通用条款。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、管辖与法律适用条款。限制、免责条款可能以黑体加粗或加下划线的形式提示您重点注意。您不应当以创客云图未对本协议以合理方式提醒用户注意或未根据用户要求尽到说明义务为理由而声称或要求法院或其它任何第三方确认相关条款非法或无效。除非您已阅读并接受本协议所有条款，否则您无权使用创客云图提供的服务。您使用创客云图的服务即视为您已阅读并同意上述协议的约束。</p>

                            <p class="MsoNormal">创客云图平台，是指创客云图有限公司旗下运营之创客云图网站（www.SpacesMap.cn.com)。
用户，包含注册用户和非注册用户，以下亦称为“您”。注册用户是指通过创客云图平台完成全部注册程序后，使用创客云图平台服务或创客云图网站资料的用户。非注册用户是指未进行注册、直接登录创客云图平台或通过其他网站进入创客云图平台直接或间接地使用创客云图平台服务或创客云图网站资料的用户。
协议方，本协议中协议双方合称“协议方”。 创客云图有限公司及其相关服务可能存在的运营关联单位、创客云图平台在协议中统称为"创客云图"。</p>



                            <h2 style="margin-top:30px;">协议的效力 </h2>

                            <p class="MsoNormal">在您按照注册页面提示填写信息、阅读并同意本协议并完成全部注册程序后或以其他创客云图允许的方式实际使用创客云图平台服务时，您即受本协议的约束。本协议内容包括本协议正文、《创客云图隐私权条款》，且您在使用创客云图某一特定服务时，该服务可能会另有单独的协议、相关业务规则等（以下统称为“规则”）。所有创客云图已经发布的或将来可能发布的规则为本协议不可分割的组成部分，与本协议具有同等法律效力。除另行明确声明外，任何创客云图及其关联公司提供的服务（以下称为“创客云图平台服务”）均受本协议约束。您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使用创客云图平台服务；如您继续访问和使用创客云图平台服务，即视为您已确知并完全同意本协议各项内容。创客云图有权根据国家法律法规的更新、产品和服务规则的调整需要不时地制订、修改本协议及/或各类规则，并提前以网站公示的方式进行公示。如您继续使用创客云图平台服务的，即表示您接受经修订的协议和规则。如发生有关争议时，以创客云图最新的相关协议和规则为准。</p>

                            <h2 style="margin-top:30px;">注册 </h2>

                            <ul class="MsoNormal">在您签署本协议，完成注册程序时，创客云图会向您提供唯一编号的创客云图账户。您应对您的用户账户、登录密码、支付密码（如有）、验证码的安全，以及对通过您的账户和密码实施的行为负责；因此所衍生的任何损失或损害，创客云图无法也不承担任何责任。除非有法律规定或行政司法机关的指令，且征得创客云图的同意，否则您的用户账户、登录密码、支付密码（如有）和验证码不得以任何方式转让、借用、赠与、继承（与账户相关的财产权益除外）<或>在第三方平台上进行展示或售卖。否则，由此给您（或创客云图、任何第三方）造成的一切损失，概由您自行承担（或者负责赔偿）。</p>

                            <p class="MsoNormal">通过创客云图平台，您可以按照创客云图的规则发布各种生活信息。但所发布之信息不得含有如下内容：</p>

                            <ul class="MsoNormal">
                                <li>(i) Spaces are only entitled 1) 反对宪法所确定的基本原则，煽动抗拒、破坏宪法和法律、行政法规实施的</li>
                                <li>(2) 煽动危害国家安全、泄露国家秘密、颠覆国家政权，推翻社会主义制度的；</li>
                                <li>(3) 煽动分裂国家、破坏国家统一、损害国家荣誉和民族利益的；</li>
                                <li>(4)煽动民族仇恨、民族歧视，破坏民族团结的；</li>
                                <li>(5)捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</li>
                                <li>(6) 进行政治宣传或破坏国家宗教政策、宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</li>
                                <li>(7) 公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</li>
                                <li>(8) 其他违反宪法和法律法规的；</li>
                            </ul>

                            <p class="MsoNormal">创客云图负责向您提供创客云图平台服务。但创客云图对创客云图平台服务不作任何明示或暗示的保证，包括但不限于创客云图平台服务的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。同时，创客云图也不对创客云图平台服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、稳定性、完整性和及时性作出任何承诺和保证。</p>

                            <h2 style="margin-top:30px;">责任范围和责任限制 </h2>

                            <p class="MsoNormal">创客云图仅向您提供创客云图平台服务，您了解创客云图平台上的信息系用户自行发布，由于海量信息的存在，且创客云图平台无法杜绝可能存在风险和瑕疵。您应谨慎判断确定相关信息的真实性、合法性和有效性，并注意保留相应的证据以利于维权，如可能，尽量采用网站建议的交易方式进行。</p>

                            <p class="MsoNormal">创客云图平台与其他的在线使用的互联网网站一样，也会受到各种不良信息、网络安全和网络故障问题的困扰，包括但不限于： (a) 其他用户可能会发布诈骗或虚假信息，或者发表有谩骂、诅咒、诋毁、攻击内容的，或者含有淫秽、色情、下流、反动、煽动民族仇恨等让人反感、厌恶的内容的非法言论； (b) 其他用户可能会发布一些侵犯您或者其他第三方知识产权、肖像权、姓名权、名誉权、隐私权和/或其他合法权益的图片、照片、文字等资料； (c) </p>

                            <h2 style="margin-top:30px;">协议终止 </h2>

                            <p class="MsoNormal">您同意，在发现本网站任何内容不符合法律规定，或不符合本用户协议规定的，您有义务及时通知创客云图。如果您发现您的个人信息被盗用、您的版权或者其他权利被侵害，请将此情况告知创客云图并同时提供如下信息和材料：(a)侵犯您权利的信息的网址，编号或其他可以找到该信息的细节；(b) 您是所述的版权或者其他权利的合法拥有者的权利证明；（c）您的联系方式，包括联系人姓名，地址，电话号码和电子邮件；(d) 您的身份证复印件、营业执照等其他相关资料。</p>


                            <p class="MsoNormal">经审查得到证实的，我们将及时删除相关信息。我们仅接受邮寄、电子邮件或传真方式的书面侵权通知。情况紧急的，您可以通过客服电话先行告知，我们会视情况采取相应措施。</p>

                            <p class="MsoNormal">您了解并同意，创客云图不对因下述任一情况而导致您的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿：</p>

                            <ol class="MsoNormal">
                                <li> 使用或未能使用创客云图平台服务；</li>
                                <li>第三方未经批准地使用您的账户或更改您的数据；</li>
                                <li>通过创客云图平台服务购买或获取任何商品、样品、数据、信息等行为或替代行为产生的费用及损失；</li>
                                <li> 您对创客云图平台服务的误解；</li>
                                <li> 任何非因创客云图的原因而引起的与创客云图平台服务有关的其它损失;</li>
                                <li>您在创客云图上使用第三方提供的产品或服务时，除遵守本协议约定外，还应遵守第三方的用户协议。创客云图和第三方对可能出现的纠纷在法律规定和约定的范围内各自承担责任;</li>
                                <li>您同意在使用创客云图平台服务过程中显示创客云图自行或由第三方服务商向您发送的推广或宣传信息（包括商业与非商业信息），其方式和范围可不经向您特别通知而变更。除法律法规明确规定外，您应自行对依该推广信息进行的交易负责，对用户因依该推广信息进行的交易或前述第三方服务商提供的内容而遭受的损失或损害，创客云图不承担任何责任;</li>
                                <li>创客云图对下列不可抗力行为免责：信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务或延迟服务;</li>
                                <li>您应当严格遵守本协议及创客云图发布的其他协议、活动规则，因您违反协议或规则的行为给第三方或创客云图造成损失的，您应当承担全部责任;</li>
                                <li>创客云图保留在中华人民共和国大陆地区法施行之法律允许的范围内独立决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。</li>
                            </ol>

                            <h2 style="margin-top:30px;">知识产权声明</h2>

                            <p class="MsoNormal">“SpacesMap” 、 “创客云图 ”等为创客云图所在公司及其关联公司的商标，受法律保护，任何人不得擅自使用。凡侵犯本公司版权等知识产权的，创客云图将依法追究其相关法律责任。</p>

                            <p class="MsoNormal">创客云图平台所刊登的资料信息（包括但不限于编码、文字、图表、标识、按钮图标、图像、数字下载、数据编辑和软件），均是创客云图或其内容提供者的财产，受中国和国际版权法的保护。本平台上所有内容的汇编是创客云图的排他财产，受中国和国际版权法的保护。本平台上所有软件都是创客云图或其关联公司或其软件供应商的财产，受中国和国际版权法的保护。未经创客云图的明确书面许可，任何第三方不得为任何非私人或商业目的获取或使用创客云图网站的任何部分或通过创客云图网站可直接或间接获得的任何内容、服务或资料。任何第三方违反本协议的规定以任何方式，和/或以任何文字对创客云图网站的任何部分进行发表、复制、转载、更改、引用、链接、下载或以其他方式进行使用，或向任何其他第三方提供获取创客云图网站任何内容的渠道，则对创客云图网站的使用权将立即终止，且任何第三方必须按照创客云图的要求，归还或销毁使用创客云图网站任何部分的内容所创建的资料的任何副本。</p>

                            <p class="MsoNormal">创客云图平台以下内容不可任意转载：</p>

                            <ul class="MsoNormal">
                                <li>(2)已作出不得转载或未经许可不得转载声明的内容；</li>
                            </ul>

                              <p class="MsoNormal">协议终止:</p>

                            <p class="MsoNormal">
                                <li>(1)您同意，创客云图基于平台服务的安全性，有权中止向您提供部分或全部创客云图平台服务，暂时冻结您的账户，待安全问题解决后及时恢复，并对中止、冻结及恢复的事实及时通知。如果网站的安全问题是由于您的违法行为引起，创客云图有权终止向您提供部分或全部创客云图平台服务，永久冻结（注销）您的帐户，并有权向您对损失进行索赔;</li>
                                <li>(2)如您对本协议的修改有异议，或对创客云图的服务不满，可以行使如下权利.</li>

                            <h2 style="margin-top:30px;">隐私权政策</h2>

                            <p class="MsoNormal">创客云图将在创客云图平台公布并不时修订隐私权条款，隐私权条款构成本协议的有效组成部分;</p>

                            <p class="MsoNormal">您知悉并承诺在使用创客云图的服务过程中，遵守《创客云图隐私权条款》;</p>

                            <p class="MsoNormal">创客云图要求各搜索引擎遵循行业规范，即“拒绝 Robots 访问标准”(Robots Exclusion Standard)，否则将视你的抓取行为是对我网站财产权利和知识产权的侵犯，有权通过法律诉讼维护网站利益。</p>


                            <h2 style="margin-top:30px;">法律适用、管辖与其他 </h2>

                            <p class="MsoNormal">本协议之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国法律，如法律无相关规定的，则应参照通用国际商业惯例和（或）行业惯例;</p>

                            <p class="MsoNormal">本协议任一条款被视为废止、无效或不可执行，该条应视为可分的且并不影响本协议其余条款的有效性及可执行性;</p>

                            <p class="MsoNormal">T因本协议产生之争议、纠纷，应由创客云图与您友好协商解决；协商不成的，应依照中华人民共和国法律予以处理，并以北京市朝阳区人民法院为第一审管辖法院，按照中华人民共和国法律，因级别管辖的规定，北京市朝阳区人民法院无权管辖的，以其上级法院作为第一审管辖法院。</p>

                            <h2>服务帮助</h2>

                            <p class="MsoNormal">为了方便回答您的问题，请发邮件告知spacesmap@163.com</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
